/*===============================================
	[SASS DIRECTORY ]
	
    [1] BLOCK HEADER
    [2] BLOCK FOOTER
	
==============================================*/

.common-home.layout-5 {background: #eee;}
@include breakpoint(lg){
    .row-slideshow{
        .col-lg-9{padding-#{$right}:7px;  width: 76%;}
        .col-lg-3{padding-#{$left}:0px;   width: 24%;}
    }
}

.container-full{
    .container{width: auto;}
}

#content{margin-bottom: 30px;}
.container-megamenu.vertical .vertical-wrapper{display: none;}
.container-megamenu.vertical:hover{
  .vertical-wrapper{
    position: absolute;
    width: 90%;
    display: block;
    z-index: 11;
  }
} 
.menu-vertical .navbar-default{ background: transparent; }
.menu-vertical{
    @media (min-width: 1200px) {
        z-index: 999;
        position: relative;
    }
}

@mixin owl-controls-5(){
	position: absolute;
	top: -60px;
	#{$right}: 0;
	z-index: 45;
     padding: 17px 0;
	.owl2-nav {
		
		div.owl2-prev, div.owl2-next{
			height: 25px;
            width: 40px;
            line-height: 25px;
            opacity: 1;
            font-size: 25px;
            text-align: center;
            color: $input-border;
            border: none;
            border-radius: 0;
            margin: 0;
			float: left;
			&:hover{
				color: $linkColor;
                border-color: $input-border;;
			}
		}
        div.owl2-prev{border-right: 1px solid $base-border-color;}
	}
}