@charset "UTF-8";
/*******************************************
 ***          SO Framework: Sass          ***
 *******************************************/
/* [2] */
/* [8] */
/*   1.Large devices Desktops     ( Devices ≥1200px)
 *   2.Medium devices Desktops    (992px ≥ Devices ≥ 1199px)
 *   3.Small devices Tablets      (991px ≥ Devices ≥ 768px)
 *   4.Extra small devices Phones ( Devices < 767px)
 */
/************************************************************************************************
 BLOCK HEADER  
 ************************************************************************************************ */
/*[] HEADER 1 []*/
@media (max-width: 480px) {
  /*[] HEADER 2 []*/
  /*[] HEADER 3 []*/
  /*[] HEADER 4 []*/
  /*[] HEADER 5 []*/
  /* **********************************************************************************************
   BLOCK HOME PAGE
   *************************************************************************************************/
  /*[] LAYOUT 1 []*/
  /*[] LAYOUT 2 []*/
  /*[] LAYOUT 3 []*/
  /*[] LAYOUT 4 []*/
  /*[] LAYOUT 5 []*/
  /************************************************************************************************
   BLOCK FOOTER  
   *************************************************************************************************/
  /*[] FOOTER 1 []*/
  /*[] FOOTER 2 3 []*/
  /************************************************************************************************
   PAGE LISTING  
   ************************************************************************************************ */
  /************************************************************************************************
   PAGE BONUSS  
   ************************************************************************************************ */
  header.typeheader-1 #sosearchpro .select_category {
    display: none;
  }
  header.typeheader-1 .header-top-right .top-link > li.wishlist {
    display: none;
  }
  header.typeheader-1 .header-top-right {
    text-align: center;
  }
  header.typeheader-1 .navbar-logo {
    width: 100%;
    text-align: center;
  }
  header.typeheader-1 .header-center .mega-horizontal {
    width: 30%;
  }
  header.typeheader-1 .shopping_cart {
    width: 70%;
  }
  header.typeheader-1 .horizontal .navbar-header {
    position: relative;
  }
  header.typeheader-1 .shopping_cart .btn-group {
    margin: 0 !important;
  }
  header.typeheader-1 .header-bottom .content_menu {
    width: 100% !important;
    padding: 0 15px;
  }
  header.typeheader-1 .menu-vertical {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 5px;
  }
  header.typeheader-1 .megamenu-style-dev .navbar-default .vertical .navbar-header .navbar-toggle {
    margin: 0 !important;
  }
  header.typeheader-1 .megamenu-style-dev .navbar-default .vertical .navbar-header .title-navbar {
    margin-top: 8px !important;
  }
  header .btn-shopping-cart .tab-content {
    min-width: 280px;
  }
  header.typeheader-3 #sosearchpro.search-pro .input-group .select_category {
    display: none;
  }
  header.typeheader-3 .header-top-right ul.top-link > li.wishlist {
    display: none;
  }
  header.typeheader-3 .header-top-right {
    text-align: center;
  }
  header.typeheader-3 .navbar-logo {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  header.typeheader-3 .navbar-search {
    width: 100%;
  }
  header.typeheader-3 .menu-honizol {
    width: 25%;
  }
  header.typeheader-3 .shopping_cart {
    width: 75%;
  }
  header.typeheader-3 .shopping_cart a.btn-group .shopcart {
    padding: 15px 0 15px 0;
  }
  header.typeheader-3 .module.sohomepage-slider .so-homeslider .owl2-controls {
    display: none !important;
  }
  header.typeheader-3 .sohomepage-slider .owl2-carousel .owl2-dots {
    margin-left: -30px;
  }
  header.typeheader-4 .menu-vertical {
    padding: 6px 0 6px 0px;
  }
  header.typeheader-4 .header-top-right ul.top-link > li.wishlist {
    display: none;
  }
  header.typeheader-4 .header-center .navbar-logo {
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
  }
  header.typeheader-4 .header-center .shopping_cart {
    width: 75%;
  }
  header.typeheader-4 .header-center .menu {
    width: 25%;
    margin-top: 12px;
  }
  header.typeheader-4 .header-bottom .menu-vertical {
    width: 100%;
  }
  header.typeheader-4 .header-bottom .content_menu {
    width: 100% !important;
  }
  header.typeheader-4 .header-bottom .content_menu .sosearchpro-wrapper {
    padding: 10px 0 !important;
  }
  header.typeheader-5 .header-top-right ul.top-link > li.wishlist {
    display: none;
  }
  header.typeheader-5 .header-center #sosearchpro {
    width: 100%;
  }
  header.typeheader-5 .curenty-laguage {
    margin: 0;
  }
  header.typeheader-5 .header-bottom .menu-vertical {
    width: 70%;
  }
  header.typeheader-5 .header-bottom .content_menu {
    width: 30%;
  }
  .layout-1 .col-sm-15 {
    width: 20%;
    display: inline-block;
  }
  .layout-1 .banner-block-slideshow-h1 .img-banner1 {
    width: 100% !important;
    margin-right: 0 !important;
  }
  .layout-1 .banner-block-slideshow-h1 .img-banner2 {
    width: 100% !important;
    margin-top: 30px !important;
  }
  .layout-1 .so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox span.ltabs-tab-arrow, .layout-1 .so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox span.ltabs-tab-selected {
    border-radius: 0;
  }
  .layout-1 .so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox {
    margin-top: 10px;
  }
  .layout-1 div.style-dev-so-listing-tabs .list-sub-cat li.item-cate {
    width: 100% !important;
  }
  .layout-2 .sohomepage-slider .so-homeslider .owl2-nav div {
    display: none !important;
  }
  .layout-2 .box-banner-h2 {
    margin-top: 30px;
  }
  .layout-2 .men-women-acc .item {
    display: inline-block;
  }
  .layout-2 .listingtabs-home2-style1 .so-listing-tabs .ltabs-tabs-container .ltabs-tabs li .ltabs-tab-label {
    font-size: 12px;
  }
  .layout-2 .custom-main-home .main-left {
    width: 100%;
    float: none;
    margin-bottom: 10px;
  }
  .layout-2 .custom-main-home .main-right {
    width: 100%;
  }
  .layout-2 .so-latest-blog .blog-external-simple .media .media-left {
    margin: 0;
  }
  .layout-2 .module.so-latest-blog .so-blog-external .blog-external-simple .media .item .media-left {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .layout-2 .module.so-latest-blog .so-blog-external .blog-external-simple .media .item .media-left .media-object {
    width: 100%;
  }
  .layout-2 .so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox .ltabs-tabs li:before {
    display: none;
  }
  .layout-2 .so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox .ltabs-tabs li:after {
    display: none;
  }
  .layout-2 .so-latest-blog .blog-external-simple .media .media-left {
    padding: 0;
  }
  .layout-3 .h3-bn1, .layout-3 .h3-bn3 {
    display: none;
  }
  .layout-3 .h3-bn2 {
    width: 100%;
  }
  .layout-3 .module.style-dev-so-category-slider .list-sub-cat {
    padding: 10px 0;
    position: relative;
  }
  .layout-3 .sohomepage-slider .so-homeslider .owl2-nav div {
    display: none !important;
  }
  .layout-3 .sohomepage-slider .owl2-carousel .owl2-dots {
    margin-left: -30px;
  }
  .layout-3 .module.style-dev-so-category-slider .categoryslider-content.preset01-4 .so-category-slider .item {
    border: none;
  }
  .layout-3 .module.so-latest-blog .so-blog-external .blog-external .media .item .media-left {
    text-align: center;
    float: none;
    width: 100%;
  }
  .layout-3 .module.so-latest-blog .so-blog-external .blog-external .media .item .main-content {
    text-align: justify;
    width: 100%;
    margin-top: 15px;
  }
  .layout-4 .section-style-3 .box-extra-right, .layout-4 .section-style-3 .box-extra-left {
    padding: 0 15px;
  }
  .layout-4 .module.style-dev-so-listing-tabs .ltabs-tabs-container {
    float: none;
    margin: 10px 18px 0 !important;
  }
  .layout-4 .module.style-dev-so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox span.ltabs-tab-arrow, .layout-4 .module.style-dev-so-listing-tabs .ltabs-tabs-container .ltabs-tabs-wrap.ltabs-selectbox span.ltabs-tab-selected {
    border-radius: 0;
  }
  .layout-4 .module.style-dev-so-listing-tabs .list-sub-cat li.item-cate .title-sub-cate {
    text-align: left;
  }
  .layout-4 .module.style-dev-so-listing-tabs .list-sub-cat li.item-cate .title-sub-cate:before {
    top: 8px !important;
  }
  .layout-5 .yt-content-slider .owl2-controls .owl2-nav {
    display: none;
  }
  .layout-5 .custom-polyci .box-item {
    width: 100% !important;
    float: left;
  }
  .layout-5 .box-nl-l {
    text-align: center;
  }
  .layout-5 .custom-img-center .box-img {
    display: block !important;
    width: 100% !important;
    margin-top: 10px;
  }
  .layout-5 .module.icon-style h3.modtitle {
    font-size: 16px;
    padding: 21px 30px 20px 55px;
  }
  .layout-5 .custom-img-center .box-img.box-img-4, .layout-5 .custom-img-center .box-img.box-img-3 {
    display: none !important;
  }
  footer.typefooter-1 .footer-top .col-lg-15 {
    width: 100%;
  }
  footer.typefooter-1 .col-lg-15 {
    width: 50%;
    display: inline-block;
    margin-bottom: 20px;
  }
  footer.typefooter-1 .col-lg-15.footer-custom1 {
    width: 100%;
  }
  footer.typefooter-1 .modcontent.btn-group {
    margin-top: 15px;
  }
  footer.typefooter-1 .newsleter-basic .so-custom-default .form-control {
    width: 100%;
  }
  footer.typefooter-1 .input-group {
    margin-bottom: 10px;
  }
  footer.typefooter-1 .custom-html-footer .col-lg-15 {
    width: 100%;
  }
  footer.typefooter-1 .text-right {
    text-align: center;
  }
  footer.typefooter-2 .newsletter .group-content, footer.typefooter-3 .newsletter .group-content {
    text-align: center;
  }
  footer.typefooter-2 .footer-top .col-lg-15, footer.typefooter-3 .footer-top .col-lg-15 {
    width: 100% !important;
  }
  footer.typefooter-2 .footer-top .col-lg-15.footer-links, footer.typefooter-3 .footer-top .col-lg-15.footer-links {
    width: 100%;
  }
  .thumb-vertical-outer {
    padding: 20px 0;
  }
  .product-view .content-product-right .countdown_box .countdown_inner .title {
    display: none;
  }
  .deals_module_wrapper .title-product {
    margin-top: 20px;
  }
  .producttab .tabsslider .nav-tabs li {
    float: none;
  }
  .product-view .content-product-right {
    margin-top: 20px;
  }
  .our-member .respl-item .w-image-box, .welcome-about-us .image-about-us {
    width: 100%;
    float: none;
    margin: 0;
    text-align: center;
  }
  .our-member .respl-item .info-member, .welcome-about-us .des-about-us {
    margin: 20px 0;
    text-align: justify;
  }
  .happy-about-us .happy-ab .title-happy-about h2 {
    font-size: 16px;
  }
  #sosearchpro .dropdown-menu {
    width: 292px !important;
  }
}
/************************************************************************************************
 BLOCK HEADER  
 ************************************************************************************************ */
/*[] HEADER 1 []*/
@media (max-width: 767px) {
  /*[] HEADER 2 []*/
  /*[] HEADER 3 []*/
  /*[] HEADER 4 []*/
  /*[] HEADER 5 []*/
  /* **********************************************************************************************
   BLOCK HOME PAGE
   *************************************************************************************************/
  /*[] LAYOUT 1 []*/
  /*[] LAYOUT 2 []*/
  /*[] LAYOUT 3 []*/
  /*[] LAYOUT 4 []*/
  /*[] LAYOUT 5 []*/
  /* ***********************************************************************************************
   BLOCK FOOTER  
   *************************************************************************************************/
  /*[] FOOTER 1 []*/
  /*[] FOOTER 3 []*/
  /*[] FOOTER 2 3 []*/
  /************************************************************************************************
   PAGE LISTING  
   ************************************************************************************************ */
  /************************************************************************************************
   DEFTAULT MENU  
   ************************************************************************************************ */
  /*MEGA MENU*/
  /*MENU STIKY*/
  header.typeheader-1 #sosearchpro .select_category {
    display: none;
  }
  header.typeheader-1 .header-center {
    position: relative;
  }
  header.typeheader-1 .content_menu {
    width: 66.66667% !important;
    margin: 0 !important;
  }
  header.typeheader-1 .header-center .mega-horizontal {
    margin-top: 17px;
  }
  header.typeheader-1 .header-bottom {
    background: #fe5454;
    padding: 5px 0;
  }
  header.typeheader-1 #sosearchpro .dropdown-menu {
    left: 0;
    width: 350px;
  }
  header.typeheader-2 .nabar-logo {
    padding: 0;
  }
  header.typeheader-2 .header-top-left {
    display: none !important;
  }
  header.typeheader-2 .header-top-right {
    width: 100%;
    text-align: center;
  }
  header.typeheader-2 .mega-horizontal {
    margin-top: 15px;
  }
  header.typeheader-2 .search-block {
    padding: 15px;
    text-align: right;
  }
  header.typeheader-2 .btn-shopping-cart .tab-content {
    min-width: 300px;
    right: -135px;
  }
  header.typeheader-2 .btn-shopping-cart > a {
    width: 40px;
    height: 40px;
    border-radius: 0;
    position: relative;
    padding: 8px 4px;
  }
  header.typeheader-2 .sosearchpro-wrapper .btn {
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 0;
    background: #fe5454;
    color: #fff;
    padding: 9px;
    font-size: 14px;
  }
  header.typeheader-2 .sosearchpro-wrapper .btn .fa {
    margin: 0;
  }
  header.typeheader-2 .btn-shopping-cart .cart-total-full {
    position: absolute;
    line-height: 22px;
    width: 22px;
    height: 22px;
    text-align: center;
    overflow: hidden;
    background: #333;
    border-radius: 100%;
    top: -10px;
    right: -10px;
  }
  header.typeheader-3 .header-bottom .navbar-menu .menu-vertical {
    width: 100%;
  }
  header.typeheader-3 .header-bottom .shopping_cart {
    position: relative;
  }
  header.typeheader-3 .header-center {
    padding: 20px 0;
  }
  header.typeheader-3 .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li > a {
    background: transparent !important;
  }
  header.typeheader-3 .megamenu-style-dev .navbar-default .vertical .vertical-wrapper {
    position: fixed;
    width: 280px;
    top: 0;
    z-index: 99;
    border: none;
  }
  header.typeheader-3 .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  header.typeheader-3 .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li a {
    padding: 3px 0;
  }
  header.typeheader-3 .header-bottom .navbar-menu .megamenu-style-dev.menu-vetical {
    padding: 5px 15px 10px;
  }
  header.typeheader-4 #sosearchpro.search-pro .input-group .select_category {
    display: none;
  }
  header.typeheader-4 #sosearchpro.search-pro .input-group .autosearch-input {
    width: 100%;
  }
  header.typeheader-4 #sosearchpro.search-pro .dropdown-menu {
    border: 1px solid #eee;
    border-radius: 0;
    box-shadow: none;
    left: 0;
    right: auto;
  }
  header.typeheader-4 #sosearchpro.search-pro .input-group .input-group-btn .button-search {
    border-radius: 0 !important;
  }
  header.typeheader-4 .shopping_cart {
    width: 50%;
  }
  header.typeheader-4 .mega-horizontal.menu {
    width: 20%;
    margin-top: 12px;
  }
  header.typeheader-4 .header-top-right {
    text-align: center;
  }
  header.typeheader-4 .header-bottom .content_menu .sosearchpro-wrapper {
    display: inline-block;
  }
  header.typeheader-4 .header-bottom .navbar-default {
    border-radius: 0;
    background: transparent !important;
  }
  header.typeheader-4 .header-bottom .content_menu {
    width: 67%;
    padding: 0;
  }
  header.typeheader-4 .navbar-logo {
    width: 30%;
  }
  header.typeheader-4 .navbar-toggle {
    margin: 0;
  }
  header.typeheader-4 .navbar-default .navbar-toggle {
    border-color: #fe5454;
  }
  header.typeheader-4 .menu-vertical {
    padding: 0;
    width: 33%;
  }
  header.typeheader-4 .mega-horizontal .menu {
    width: 20%;
  }
  header.typeheader-4 .megamenu-style-dev .navbar-default .vertical .navbar-header .navbar-toggle .icon-bar {
    background: #fe5454;
  }
  header.typeheader-4 .megamenu-style-dev .navbar-default .vertical .navbar-header .title-navbar {
    margin-top: 8px;
  }
  header.typeheader-4 .megamenu-style-dev .navbar-default .vertical .navbar-header .title-navbar {
    color: #fe5454;
  }
  header.typeheader-5 #sosearchpro {
    width: 60%;
  }
  header.typeheader-5 #sosearchpro .select_category {
    display: none;
  }
  header.typeheader-5 #sosearchpro .button-search {
    border-radius: 0;
  }
  header.typeheader-5 .shopping_cart a.btn-group .shopcart {
    height: 42px;
    width: 46px;
    border-radius: 0;
    padding: 0;
  }
  header.typeheader-5 .shopping_cart a.btn-group .shopcart .text-shopping-cart {
    display: none;
  }
  header.typeheader-5 .shopping_cart {
    min-width: 42px;
  }
  header.typeheader-5 .header-bottom {
    background: #313c62;
    padding: 10px 0;
  }
  header.typeheader-5 .header-top-right {
    text-align: center;
  }
  header.typeheader-5 .content_menu .responsive > .navbar-default, header.typeheader-5 .navbar-header {
    float: right;
  }
  header.typeheader-5 .navbar-toggle {
    margin-top: 0;
  }
  header.typeheader-5 .megamenu-style-dev .navbar-default .vertical .navbar-header .title-navbar {
    margin-top: 8px;
  }
  header.typeheader-5 .navbar-logo {
    position: relative;
    top: -10px;
    padding-bottom: 10px;
    text-align: center;
  }
  header.typeheader-5 .vertical .navbar-header {
    float: none;
  }
  header.typeheader-5 .vertical .navbar-toggle {
    float: left;
  }
  header.typeheader-5 .content_menu, header.typeheader-5 .menu-vertical {
    width: 50%;
    float: left;
    padding: 0 15px;
  }
  header.typeheader-5 .container-megamenu.vertical .vertical-wrapper {
    width: 280px;
  }
  header.typeheader-5 .megamenu-style-dev .navbar-default .vertical .navbar-header .navbar-toggle {
    margin: 0 15px 0 0;
  }
  .layout-1 .col-sm-15 {
    width: 20%;
    display: inline-block;
  }
  .layout-1 .slider-container .slideshow {
    width: 100%;
  }
  .layout-1 .style-dev-so-deals {
    width: 100%;
    margin: 30px 0;
  }
  .layout-1 .banner-block-slideshow-h1 .img-banner1 {
    width: 49%;
    display: inline-block;
    margin-right: 2%;
  }
  .layout-1 .banner-block-slideshow-h1 .img-banner2 {
    width: 49%;
    display: inline-block;
    margin: 0;
  }
  .layout-1 .banner-block-slideshow-h1 .img-banner3 {
    display: none;
  }
  .layout-1 .banner-block-slideshow-h1 img {
    width: 100%;
  }
  .layout-1 .products-list.grid .product-layout .product-item-container:hover {
    box-shadow: none;
  }
  .layout-1 .products-list.grid .product-layout .product-item-container .button-group .wishlist, .layout-1 .products-list.grid .product-layout .product-item-container .button-group .compare {
    transform: translateX(0px);
    opacity: 1;
  }
  .layout-1 .style-dev-so-deals .so-deal .extraslider-inner .owl2-item .button-group {
    padding: 0;
  }
  .layout-1 div.style-dev-so-listing-tabs .list-sub-cat li.item-cate {
    border-width: 0 1px 1px 0;
    width: 20%;
  }
  .layout-1 .so-listing-tabs .ltabs-wrap .wap-listing-tabs .item-cat-image {
    display: none;
  }
  .layout-1 .module.style-dev-so-listing-tabs .wap-listing-tabs:before {
    content: "";
    height: 100%;
    width: 1px;
    top: 0;
    background: #ddd;
    position: absolute;
    left: 0;
  }
  .layout-2 .men-women-acc .item span {
    font-size: 14px;
    padding: 0 0 0px 30px;
  }
  .layout-2 .so-custom-default .signup input {
    width: 100%;
  }
  .layout-2 .section-boxed {
    background-image: none;
    background-color: #ddd;
    padding: 20px;
  }
  .layout-2 .box-blog {
    margin-top: 25px;
  }
  .layout-2 .vertical .navbar-header {
    background: #fe5454;
    float: none;
    padding: 0 10px 7px;
  }
  .layout-2 .yt-testimonial .item .item-wrap-inner {
    padding: 0 0 20px;
    margin: 0;
    color: #666;
    border-bottom: 1px solid #fff;
  }
  .layout-2 .yt-testimonial .item .item-wrap-inner .item-info:before, .layout-2 .yt-testimonial .item .item-wrap-inner .item-info:after, .layout-2 .yt-testimonial.button-type2 .owl2-controls {
    display: none;
  }
  .layout-3 .module.style-dev-so-category-slider .categoryslider-content.preset01-4 .so-category-slider {
    width: 100%;
  }
  .layout-3 .module.customer-about-dev .carousel-inner .item .carousel-caption {
    padding: 0 10px;
  }
  .layout-3 .module.customer-about-dev #carousel-example-generic {
    padding-bottom: 30px;
  }
  .layout-3 .module.so-latest-blog .so-blog-external {
    padding: 10px 20px 0;
  }
  .layout-3 .module.so-latest-blog .head-button {
    margin-bottom: 0 !important;
  }
  .layout-3 .module.so-latest-blog .so-blog-external .blog-external-simple {
    padding: 15px 0 20px;
  }
  .layout-3 .megamenu-style-dev .navbar-default .horizontal .navbar-toggle {
    border-color: #fff;
    margin-top: 8px;
  }
  .layout-3 .megamenu-style-dev .navbar-default .horizontal .navbar-toggle .icon-bar {
    background: #fff;
  }
  .layout-4 .box-services .col-lg-15 {
    width: 50%;
    min-height: 130px;
  }
  .layout-4 .box-services .col-lg-15:last-child {
    width: 100%;
  }
  .layout-4 .module.style-dev-so-deals .owl2-dots {
    display: none;
  }
  .layout-4 .module.style-dev-so-deals .so-deal .product-thumb {
    margin: 0 -1px 30px;
    border: 1px solid #ddd;
  }
  .layout-4 .box-nl-l {
    text-align: center;
  }
  .layout-4 .box-social {
    float: none;
    text-align: center;
    padding: 0;
  }
  .layout-4 .box-nl-r, .layout-4 .newsletter .group-content h2, .layout-4 .text-right {
    text-align: center;
  }
  .layout-4 .newsletter .group-form {
    width: 100%;
  }
  .layout-4 .module.style-dev-so-listing-tabs .list-sub-cat {
    margin: 0;
  }
  .layout-4 .module.style-dev-so-listing-tabs .list-sub-cat li.item-cate.tab-sel .title-sub-cate:after {
    display: none;
  }
  .layout-4 .module.style-dev-so-listing-tabs .list-sub-cat li.item-cate .title-sub-cate {
    padding: 0 5px 0 25px;
  }
  .layout-4 .module.style-dev-so-listing-tabs .list-sub-cat li.item-cate {
    height: 25px;
    line-height: 25px;
  }
  .layout-4 .module.style-dev-so-listing-tabs .wap-listing-tabs {
    border-top: 1px solid #ddd !important;
  }
  .layout-4 .module.style-dev-so-listing-tabs .list-sub-cat li.item-cate .title-sub-cate:before {
    top: 13px;
  }
  .layout-4 .module.style-dev-so-listing-tabs .list-sub-cat {
    padding: 5px 0;
  }
  .layout-4 .section-style-3 .box-extra-right, .layout-4 .section-style-3 .box-extra-left {
    padding: 0 15px;
  }
  .layout-4 .module.slideshow .owl2-controls .owl2-dots {
    margin-left: -20px;
  }
  .layout-4 .module.custom-testimo .testimonial-slider .item-inner .client-des:before, .layout-4 .module.custom-testimo .testimonial-slider .item-inner .client-des:after {
    display: none;
  }
  .layout-4 .module.custom-testimo {
    margin: 0;
  }
  .layout-4 .section-style-1 {
    background-position: top center;
  }
  .layout-5 .style-dev-so-deals .so-deal .extraslider-inner .owl2-item .product-thumb .left-block {
    float: none;
  }
  .layout-5 .style-dev-so-deals .so-deal .extraslider-inner .owl2-item .caption {
    padding: 10px 20px;
  }
  .layout-5 .style-dev-so-deals .so-deal .extraslider-inner .owl2-item .button-group {
    padding: 0 20px;
  }
  .layout-5 .module.icon-style h3.modtitle {
    font-size: 16px;
    padding: 21px 30px 20px 55px;
  }
  .layout-5 .box-polyci .box-item {
    width: 50%;
    float: left;
  }
  .layout-5 .box-nl-l {
    text-align: center;
  }
  .layout-5 .sohomepage-slider .owl2-controls .owl2-dots {
    margin-left: -20px;
  }
  .layout-5 .so-homeslider .owl2-controls .owl2-dots {
    margin-left: -20px;
  }
  .layout-5 .custom-img-center {
    display: table;
  }
  .layout-5 .custom-img-center .box-img {
    display: table-cell;
    float: none;
  }
  footer.typefooter-1 .modcontent.btn-group {
    margin-top: 15px;
  }
  footer.typefooter-1 .newsleter-basic .so-custom-default .form-control {
    width: 100%;
  }
  footer.typefooter-1 .input-group {
    margin-bottom: 10px;
  }
  footer.typefooter-1 .custom-html-footer .col-lg-15 {
    width: 100%;
  }
  footer.typefooter-1 .col-lg-15 {
    width: 50%;
    display: inline-block;
    margin-bottom: 20px;
  }
  footer.typefooter-1 .col-lg-15.footer-custom1 {
    width: 100%;
  }
  footer.typefooter-3 .newsletter .modcontent {
    padding: 15px 0;
  }
  footer.typefooter-3 .newsletter .group-content {
    text-align: center;
  }
  footer.typefooter-3 .newsletter .group-form {
    width: 100%;
  }
  footer.typefooter-3 .box-nl-l, footer.typefooter-3 .box-nl-r {
    text-align: center;
  }
  footer.typefooter-3 .box-social {
    padding: 15px 0;
    float: none;
  }
  footer.typefooter-2 .newsletter .group-content, footer.typefooter-3 .newsletter .group-content {
    text-align: center;
  }
  footer.typefooter-2 .footer-top .col-lg-15, footer.typefooter-3 .footer-top .col-lg-15 {
    width: 50%;
  }
  footer.typefooter-2 .footer-top .col-lg-15.footer-links, footer.typefooter-3 .footer-top .col-lg-15.footer-links {
    width: 100%;
  }
  .thumb-vertical-outer {
    padding: 20px 0;
  }
  .bg-page-404 {
    overflow: hidden;
  }
  .style-dev-so-deals .so-deal .extraslider-inner.item-inner-dev .image-dev .list-button-dev li.so-quickview {
    display: none;
  }
  #content .filter-horizontal ul {
    display: block;
  }
  #content .filter-horizontal li.so-filter-options {
    width: 100%;
    border: none;
  }
  .product-image-zoom {
    pointer-events: none;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active .close-menu {
    right: 0;
  }
  .megamenu-style-dev.responsive #remove-megamenu {
    display: block;
    color: #fff;
    cursor: pointer;
  }
  .megamenu-style-dev.responsive .so-megamenu-active #remove-megamenu {
    color: #fff;
  }
  .megamenu-style-dev.responsive .megamenu-wrapper {
    border: none;
    border-radius: 0;
  }
  .megamenu-style-dev.responsive div[class^=col-] {
    width: 100%;
  }
  .megamenu-style-dev.responsive ul.megamenu > li {
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1px 0;
    overflow: hidden;
  }
  .megamenu-style-dev.responsive ul.megamenu > li a {
    line-height: 25px;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.click::before, .megamenu-style-dev.responsive ul.megamenu > li.hover::before {
    padding: 0 !important;
    font-size: 14px;
    background: #666;
    color: #fff;
    border: 1px solid #6a6d71;
    width: 30px;
    line-height: 30px;
    height: 32px;
    display: inline-block;
    text-align: center;
    margin-top: -1px;
    right: 0;
    left: auto;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active {
    padding: 0;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active .sub-menu {
    display: block !important;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active > a {
    background: #222 !important;
    color: #fff;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active .close-menu {
    padding: 0;
    width: 30px;
    line-height: 30px;
    background: #33363a;
    height: auto;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active .close-menu:before {
    color: #fff;
    font-size: 12px;
    line-height: 18px;
  }
  .megamenu-style-dev.responsive .navbar-default .horizontal .megamenu-wrapper ul.megamenu li .sub-menu .content {
    box-shadow: none;
    border: 1px solid #eee;
  }
  .megamenu-style-dev .navbar-default .horizontal .navbar-toggle {
    height: 40px;
    width: 42px;
    margin: 0;
    color: #fff;
    border-radius: 0;
    background: transparent;
    border: 1px solid #fe5454;
    float: left;
    cursor: pointer;
    padding: 9px 8px;
  }
  .megamenu-style-dev .navbar-default .horizontal .navbar-toggle .icon-bar {
    background: #fe5454;
    width: 25px;
    height: 3px;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper {
    background: #333 !important;
    padding: 20px !important;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu > li.active > a {
    padding: 0 10px;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu > li > a {
    color: #fff !important;
    padding: 0 !important;
    font-size: 14px;
    line-height: 29px !important;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu > li > a:hover {
    color: #fe5454;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu li .sub-menu .content .title-submenu {
    padding: 0;
    margin: 0;
    border: none;
  }
  .megamenu-style-dev .navbar-default .horizontal .features-menu .column.layout-color a {
    display: inline-block;
  }
  .megamenu-style-dev .navbar-default .horizontal .features-menu .column a {
    margin: 0 0 30px;
    display: block;
  }
  .megamenu-style-dev .navbar-default {
    background: transparent;
  }
  .megamenu-style-dev .navbar-default .vertical #menuHeading {
    display: block;
    margin: 0;
  }
  .megamenu-style-dev .navbar-default .vertical .navbar-header .title-navbar {
    text-transform: uppercase;
    margin-top: 13px;
    display: inline-block;
    color: #fff;
    padding-right: 15px;
  }
  .megamenu-style-dev .navbar-default .vertical .navbar-header .navbar-toggle {
    padding: 12px 10px;
    border-radius: 0;
    margin-bottom: 0;
  }
  .megamenu-style-dev .navbar-default .vertical .navbar-header .navbar-toggle .icon-bar {
    background: #fff;
  }
  .megamenu-style-dev .navbar-default .vertical #remove-verticalmenu {
    display: block;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper {
    position: fixed;
    background: #333 !important;
    padding: 20px !important;
    width: 280px;
    top: 0;
    z-index: 99;
    border: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper.so-vertical-active {
    display: block !important;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.vertical-style3 .content .image-position {
    transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    position: relative;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li:before {
    display: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li .main-menu {
    text-transform: uppercase;
    margin: 0 0 10px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li a:hover {
    color: #fe5454;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li:hover > a {
    color: #fe5454;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li ul {
    box-shadow: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li ul li {
    padding: 5px 0;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu li .sub-menu .content {
    border: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.vertical-style1 .content {
    padding: 15px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu > ul > li ul {
    border: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu > ul > li b {
    display: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li > a {
    padding: 3px 0;
    background: transparent !important;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li > a strong {
    color: #ddd;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.loadmore {
    border: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li a {
    line-height: inherit;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.hover:before {
    font-size: 14px;
    color: #ddd;
    height: 32px;
    line-height: 32px;
    width: 30px;
    background: #666;
    text-align: center;
    cursor: pointer;
    border: 1px solid #6a6d71;
    padding: 0 !important;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.hover:hover:before {
    color: #fff;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.active {
    background: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.active .close-menu {
    background: #666;
    font-size: 14px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.active .close-menu:before {
    color: #ddd;
    line-height: 31px;
  }
  header.navbar-compact {
    display: none;
  }
  header .horizontal ul.megamenu > li > .sub-menu {
    border: none;
  }
  #wrapper {
    overflow-x: hidden;
  }
  ul.megamenu li.active .sub-menu .content {
    padding: 0 10px;
  }
  #sosearchpro.search-pro .input-group .autosearch-input {
    padding: 0 40px 0 20px;
  }
  .navbar-toggle {
    margin-left: 15px;
    margin-right: 0;
  }
  .so-latest-blog .owl2-carousel .owl2-stage-outer {
    direction: ltr;
  }
  .simple_blog-article .product-filter {
    display: none;
  }
}
/************************************************************************************************
 BLOCK HEADER  
 ************************************************************************************************ */
/*[] HEADER 1 []*/
@media (min-width: 768px) and (max-width: 991px) {
  /*[] HEADER 2 []*/
  /*[] HEADER 3 []*/
  /*[] HEADER 4 []*/
  /*[] HEADER 5 []*/
  /* **********************************************************************************************
   BLOCK HOME PAGE
   *************************************************************************************************/
  /*[] LAYOUT 1 []*/
  /*[] LAYOUT 2 []*/
  /*[] LAYOUT 3 []*/
  /*[] LAYOUT 4 []*/
  /*[] LAYOUT 5 []*/
  /* ***********************************************************************************************
   BLOCK FOOTER  
   *************************************************************************************************/
  /*[] FOOTER DEFAULT []*/
  /*[] FOOTER 1 []*/
  /*[] FOOTER 2 []*/
  /*[] FOOTER 3 []*/
  /************************************************************************************************
   PAGE LISTING  
   ************************************************************************************************ */
  /************************************************************************************************
   DEFTAULT MENU  
   ************************************************************************************************ */
  /*MEGA MENU*/
  /*MENU STIKY*/
  /************************************************************************************************
   PAGE BONUS  
   *************************************************************************************************/
  header.typeheader-1 .horizontal .navbar-header {
    position: absolute;
    top: 28px;
    z-index: 99;
    right: 25px;
  }
  header.typeheader-1 .header-center {
    position: relative;
  }
  header.typeheader-1 .mega-horizontal {
    position: static;
  }
  header.typeheader-1 .shopping_cart .btn-group {
    margin-right: 100px;
  }
  header.typeheader-1 .header-bottom {
    background: #fe5454;
    padding: 5px 0;
  }
  header.typeheader-2 .nabar-logo {
    padding: 0;
  }
  header.typeheader-2 .mega-horizontal {
    margin-top: 15px;
  }
  header.typeheader-2 .search-block {
    padding: 15px;
    text-align: right;
  }
  header.typeheader-3 .header-bottom .navbar-menu .menu-vertical {
    width: 100%;
  }
  header.typeheader-3 .header-bottom .shopping_cart {
    position: relative;
  }
  header.typeheader-3 .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li > a {
    background: transparent !important;
  }
  header.typeheader-3 .megamenu-style-dev .navbar-default .vertical .vertical-wrapper {
    position: fixed;
    width: 280px;
    top: 0;
    z-index: 99;
    border: none;
  }
  header.typeheader-3 .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
  header.typeheader-3 .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li a {
    padding: 3px 0;
  }
  header.typeheader-3 .header-bottom .navbar-menu .megamenu-style-dev.menu-vetical {
    padding: 5px 15px 10px;
  }
  header.typeheader-4 #sosearchpro.search-pro .input-group .select_category {
    display: none;
  }
  header.typeheader-4 #sosearchpro.search-pro .input-group .autosearch-input {
    width: 100%;
  }
  header.typeheader-4 .menu-vertical {
    padding: 0;
  }
  header.typeheader-4 .header-bottom .navbar-default {
    margin-top: 0;
  }
  header.typeheader-4 .header-bottom .content_menu {
    padding: 0;
  }
  header.typeheader-4 .header-bottom {
    padding-bottom: 5px;
  }
  header.typeheader-5 #sosearchpro {
    width: 300px;
  }
  header.typeheader-5 #sosearchpro .select_category {
    display: none;
  }
  header.typeheader-5 #sosearchpro .button-search {
    border-radius: 0;
  }
  header.typeheader-5 .shopping_cart a.btn-group .shopcart {
    height: 42px;
    width: 42px;
    border-radius: 0;
    padding: 0;
  }
  header.typeheader-5 .shopping_cart a.btn-group .shopcart .text-shopping-cart {
    display: none;
  }
  header.typeheader-5 .shopping_cart {
    min-width: 42px;
  }
  header.typeheader-5 .header-bottom {
    background: #313c62;
    padding: 10px 0;
  }
  header.typeheader-5 .content_menu .responsive > .navbar-default, header.typeheader-5 .navbar-header {
    float: right;
  }
  header.typeheader-5 .navbar-toggle {
    margin-top: 0;
  }
  header.typeheader-5 .vertical .navbar-header {
    float: none;
  }
  header.typeheader-5 .vertical .navbar-toggle {
    float: left;
  }
  header.typeheader-5 .megamenu-style-dev .navbar-default .vertical .navbar-header .title-navbar {
    margin-top: 8px;
  }
  header.typeheader-5 .navbar-logo {
    position: relative;
    top: -15px;
  }
  header.typeheader-5 .content_menu {
    padding: 0 15px;
  }
  header.typeheader-5 .container-megamenu.vertical .vertical-wrapper {
    width: 280px;
  }
  .layout-1 .col-sm-15 {
    width: 20%;
    display: inline-block;
  }
  .layout-1 .slider-container .slideshow {
    width: 100%;
  }
  .layout-1 .style-dev-so-deals {
    width: 100%;
    margin: 30px 0;
  }
  .layout-1 .banner-block-slideshow-h1 .img-banner1 {
    width: 49%;
    display: inline-block;
    margin-right: 2%;
  }
  .layout-1 .banner-block-slideshow-h1 .img-banner2 {
    width: 49%;
    display: inline-block;
    margin: 0;
  }
  .layout-1 .banner-block-slideshow-h1 .img-banner3 {
    display: none;
  }
  .layout-1 .banner-block-slideshow-h1 img {
    width: 100%;
  }
  .layout-1 .products-list.grid .product-layout .product-item-container:hover {
    box-shadow: none;
  }
  .layout-1 .products-list.grid .product-layout .product-item-container .button-group .wishlist, .layout-1 .products-list.grid .product-layout .product-item-container .button-group .compare {
    transform: translateX(0px);
    opacity: 1;
  }
  .layout-1 .style-dev-so-deals .so-deal .extraslider-inner .owl2-item .button-group {
    padding: 0;
  }
  .layout-1 div.style-dev-so-listing-tabs .list-sub-cat li.item-cate {
    border-width: 0 1px 1px 0;
    width: 20%;
  }
  .layout-1 .so-listing-tabs .ltabs-wrap .wap-listing-tabs .item-cat-image {
    display: none;
  }
  .layout-1 .module.style-dev-so-listing-tabs .wap-listing-tabs:before {
    content: "";
    height: 100%;
    width: 1px;
    top: 0;
    background: #ddd;
    position: absolute;
    left: 0;
  }
  .layout-2 .men-women-acc .item span {
    font-size: 18px;
    padding: 0 0 10px 35px;
  }
  .layout-2 .module.style-dev-so-deals {
    margin: 0;
  }
  .layout-2 .style-dev-so-deals .so-deal .extraslider-inner .owl2-item .item-time .time-item {
    min-width: 48px;
  }
  .layout-2 .style-dev-so-deals .so-deal .extraslider-inner .owl2-item .item-time .time-item .num-time {
    font-size: 14px;
  }
  .layout-2 .section-boxed {
    background-size: 100%;
  }
  .layout-2 .box-blog {
    margin-top: 55px;
  }
  .layout-2 .vertical .navbar-header {
    background: #fe5454;
    float: none;
    padding: 0 10px 7px;
  }
  .layout-2 .product-detail.product-left .content-product-left {
    width: 100%;
  }
  .layout-2 .product-detail.product-left .content-product-right {
    width: 100%;
    margin-top: 20px;
  }
  .layout-2 lib-list-item-product-over2 .image-dev .list-button-dev li.so-quickview, .layout-2 .style-dev-so-deals .so-deal .extraslider-inner.item-inner-dev .image-dev .list-button-dev li.so-quickview {
    display: none;
  }
  .layout-2 .section-boxed {
    background-size: 100% 45%;
    background-color: #ddd;
    padding: 20px;
  }
  .layout-3 .module.style-dev-so-category-slider .categoryslider-content.preset01-4 .so-category-slider {
    width: 100%;
  }
  .layout-3 .module.customer-about-dev .carousel-inner .item .carousel-caption {
    padding: 0 10px;
  }
  .layout-3 .module.customer-about-dev #carousel-example-generic {
    padding-bottom: 30px;
  }
  .layout-3 .module.so-latest-blog .so-blog-external {
    padding: 10px 20px 0;
  }
  .layout-3 .module.so-latest-blog .head-button {
    margin-bottom: 0 !important;
  }
  .layout-3 .module.so-latest-blog .so-blog-external .blog-external-simple {
    padding: 15px 0 20px;
  }
  .layout-3 .megamenu-style-dev .navbar-default .horizontal .navbar-toggle {
    border-color: #fff;
    margin-top: 8px;
  }
  .layout-3 .megamenu-style-dev .navbar-default .horizontal .navbar-toggle .icon-bar {
    background: #fff;
  }
  .layout-3 .product-detail.product-right .content-product-left {
    width: 100%;
  }
  .layout-3 .product-detail.product-right .content-product-right {
    width: 100%;
    margin-top: 20px;
  }
  .layout-3 .product-detail .products-list.grid .product-layout .product-item-container {
    min-height: 400px;
  }
  .layout-3 .product-view .content-product-right .countdown_box .countdown_inner .title {
    display: none;
  }
  .layout-4 div.style-dev-so-listing-tabs .so-listing-tabs .wap-listing-tabs {
    border-top: 1px solid #ddd !important;
  }
  .layout-4 .col-sm-9.h4-slide {
    width: 67%;
    padding: 0;
  }
  .layout-4 .col-sm-3.h4-custom-deals {
    width: 33%;
  }
  .layout-4 .module.style-dev-so-listing-tabs .list-sub-cat li.item-cate.tab-sel .title-sub-cate:after {
    display: none;
  }
  .layout-4 .module.style-dev-so-listing-tabs .list-sub-cat {
    margin: 0;
  }
  .layout-4 .product-view .content-product-right .countdown_box .countdown_inner .title {
    display: none;
  }
  .layout-4 .box-services .col-lg-15 {
    width: 33.333%;
  }
  .layout-4 .box-services .col-lg-15.col-md {
    width: 50%;
    margin-top: 10px;
  }
  .layout-5 .style-dev-so-deals .so-deal .extraslider-inner .owl2-item .product-thumb .left-block {
    float: none;
  }
  .layout-5 .style-dev-so-deals .so-deal .extraslider-inner .owl2-item .caption {
    padding: 10px 20px;
  }
  .layout-5 .style-dev-so-deals .so-deal .extraslider-inner .owl2-item .button-group {
    padding: 0 20px;
  }
  .layout-5 #sosearchpro .dropdown-menu {
    width: 300px;
  }
  .layout-5 .custom-img-center {
    display: table;
  }
  .layout-5 .custom-img-center .box-img {
    display: table-cell;
    float: none;
  }
  .layout-5 .product-detail.product-right .content-product-left {
    width: 100%;
  }
  .layout-5 .product-detail.product-right .content-product-right {
    width: 100%;
    margin-top: 20px;
  }
  footer .footer-top .col-lg-15 {
    width: 25%;
    float: left;
  }
  footer .footer-top .col-lg-15.footer-custom1 {
    width: 100%;
    margin-top: 20px;
  }
  footer .footer-center .col-lg-15 {
    width: 33.333%;
    float: left;
  }
  footer .footer-center .col-lg-15.box-sv-4, footer .footer-center .col-lg-15.box-sv-5 {
    width: 50%;
    margin-top: 10px;
  }
  footer.typefooter-1 .modcontent.btn-group {
    margin-top: 15px;
  }
  footer.typefooter-1 .newsleter-basic .so-custom-default .form-control {
    width: 100%;
  }
  footer.typefooter-1 .input-group {
    margin-bottom: 10px;
  }
  footer.typefooter-2 .newsletter .modcontent {
    padding: 15px 0 20px;
  }
  footer.typefooter-2 .newsletter .group-form {
    width: 100%;
    padding: 0;
  }
  footer.typefooter-2 .footer-container {
    overflow-x: hidden;
  }
  footer.typefooter-3 .newsletter .modcontent {
    padding: 15px 0 20px;
  }
  footer.typefooter-3 .newsletter .group-form {
    width: 100%;
    padding: 0;
  }
  footer.typefooter-3 .footer-container {
    overflow-x: hidden;
  }
  .thumb-vertical-outer {
    padding: 20px 0;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active .close-menu {
    right: 0;
  }
  .megamenu-style-dev.responsive #remove-megamenu {
    display: block;
    color: #fff;
    cursor: pointer;
  }
  .megamenu-style-dev.responsive .so-megamenu-active #remove-megamenu {
    color: #fff;
  }
  .megamenu-style-dev.responsive .megamenu-wrapper {
    border: none;
    border-radius: 0;
  }
  .megamenu-style-dev.responsive div[class^=col-] {
    width: 100%;
  }
  .megamenu-style-dev.responsive ul.megamenu > li {
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1px 0;
    overflow: hidden;
  }
  .megamenu-style-dev.responsive ul.megamenu > li a {
    line-height: 25px;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.click::before, .megamenu-style-dev.responsive ul.megamenu > li.hover::before {
    padding: 0 !important;
    font-size: 14px;
    background: #666;
    color: #fff;
    border: 1px solid #6a6d71;
    width: 30px;
    line-height: 30px;
    height: 32px;
    display: inline-block;
    text-align: center;
    margin-top: -1px;
    right: 0;
    left: auto;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active {
    padding: 0;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active .sub-menu {
    display: block !important;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active > a {
    background: #222 !important;
    color: #fff;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active .close-menu {
    padding: 0;
    width: 30px;
    line-height: 30px;
    background: #33363a;
    height: auto;
  }
  .megamenu-style-dev.responsive ul.megamenu > li.active .close-menu:before {
    color: #fff;
    font-size: 12px;
    line-height: 18px;
  }
  .megamenu-style-dev.responsive .navbar-default .horizontal .megamenu-wrapper ul.megamenu li .sub-menu .content {
    box-shadow: none;
    border: 1px solid #eee;
  }
  .megamenu-style-dev .navbar-default .horizontal .navbar-toggle {
    height: 40px;
    width: 42px;
    margin: 0;
    color: #fff;
    border-radius: 0;
    background: transparent;
    border: 1px solid #fe5454;
    float: left;
    cursor: pointer;
    padding: 9px 8px;
  }
  .megamenu-style-dev .navbar-default .horizontal .navbar-toggle .icon-bar {
    background: #fe5454;
    width: 25px;
    height: 3px;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper {
    background: #333 !important;
    padding: 20px !important;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu > li.active > a {
    padding: 0 10px;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu > li > a {
    color: #fff !important;
    padding: 0 !important;
    font-size: 14px;
    line-height: 29px !important;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu > li > a:hover {
    color: #fe5454;
  }
  .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu li .sub-menu .content .title-submenu {
    padding: 0;
    margin: 0;
    border: none;
  }
  .megamenu-style-dev .navbar-default .horizontal .features-menu .column.layout-color a {
    display: inline-block;
  }
  .megamenu-style-dev .navbar-default .horizontal .features-menu .column a {
    margin: 0 0 30px;
    display: block;
  }
  .megamenu-style-dev .navbar-default .vertical #menuHeading {
    display: block;
    margin: 0;
  }
  .megamenu-style-dev .navbar-default .vertical .navbar-header .title-navbar {
    text-transform: uppercase;
    margin-top: 13px;
    display: inline-block;
    color: #fff;
    padding-right: 15px;
  }
  .megamenu-style-dev .navbar-default .vertical .navbar-header .navbar-toggle {
    padding: 12px 10px;
    border-radius: 0;
    margin-bottom: 0;
  }
  .megamenu-style-dev .navbar-default .vertical .navbar-header .navbar-toggle .icon-bar {
    background: #fff;
  }
  .megamenu-style-dev .navbar-default .vertical #remove-verticalmenu {
    display: block;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper {
    position: fixed;
    background: #333 !important;
    padding: 20px !important;
    width: 280px;
    max-height: 100%;
    top: 0;
    z-index: 99;
    border: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper.so-vertical-active {
    display: block !important;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.vertical-style3 .content .image-position {
    transform: scale(0.8);
    -moz-transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    position: relative;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li:before {
    display: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li .main-menu {
    text-transform: uppercase;
    margin: 0 0 10px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li a:hover {
    color: #fe5454;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li:hover > a {
    color: #fe5454;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li ul {
    box-shadow: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .sub-menu .content .categories .menu > ul li ul li {
    padding: 5px 0;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu li .sub-menu .content {
    border: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.vertical-style1 .content {
    padding: 15px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu > ul > li ul {
    border: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu .item-vertical.css-menu .content .menu > ul > li b {
    display: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li > a {
    padding: 3px 0;
    background: transparent !important;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li > a strong {
    color: #ddd;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.loadmore {
    border: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li a {
    line-height: inherit;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.hover:before {
    font-size: 14px;
    color: #ddd;
    height: 32px;
    line-height: 32px;
    width: 30px;
    background: #666;
    text-align: center;
    cursor: pointer;
    border: 1px solid #6a6d71;
    padding: 0 !important;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.hover:hover:before {
    color: #fff;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.active {
    background: none;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.active .close-menu {
    background: #666;
    font-size: 14px;
  }
  .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li.active .close-menu:before {
    color: #ddd;
    line-height: 31px;
  }
  header.navbar-compact {
    display: none;
  }
  header .horizontal ul.megamenu > li > .sub-menu {
    border: none;
  }
  ul.megamenu li.active .sub-menu .content {
    padding: 0 10px;
  }
  #wrapper {
    overflow-x: hidden;
  }
  .zoomContainer {
    display: none;
  }
  .simple_blog-article .product-filter.filters-panel {
    display: none;
  }
  header #sosearchpro .dropdown-menu {
    right: 0 !important;
    left: inherit !important;
  }
  .our-member .respl-item .w-image-box {
    float: none;
    overflow: hidden;
    width: 100%;
    text-align: center;
  }
  .our-member .respl-item .info-member {
    text-align: center;
    margin: 0;
  }
  .our-member .respl-item .info-member li {
    float: none;
    display: inline-block;
  }
}
/* ***********************************************************************************************
 BLOCK HEADER  
 *************************************************************************************************/
/*[] HEADER 1 []*/
@media (min-width: 992px) and (max-width: 1199px) {
  /*[] HEADER 2 []*/
  /*[] HEADER 3 []*/
  /*[] HEADER 4 []*/
  /*[] HEADER 5 []*/
  /************************************************************************************************
   BLOCK HOME PAGE  
   *************************************************************************************************/
  /*[] LAYOUT 1 []*/
  /*[] LAYOUT 2 []*/
  /*[] LAYOUT 3 []*/
  /*[] LAYOUT 4 []*/
  /*[] LAYOUT 5 []*/
  /* ***********************************************************************************************
   BLOCK FOOTER  
   ************************************************************************************************ */
  /*[] FOOTER 1 []*/
  /*[] FOOTER 2 []*/
  /*[] FOOTER 3 []*/
  /************************************************************************************************
   MEGAMENU 
   *************************************************************************************************/
  /************************************************************************************************
   PAGE LISTING  
   *************************************************************************************************/
  header.typeheader-1 .megamenu-style-dev .vertical:hover .vertical-wrapper {
    display: block !important;
    z-index: 8;
  }
  header.typeheader-1 .horizontal ul.megamenu > li > a {
    padding: 5px 8px;
    font-size: 13px;
  }
  header.typeheader-1 .header-center .shopping_cart {
    fpnt-size: 11px;
    padding-left: 0px;
  }
  header.typeheader-1 .btn-shopping-cart > a .handle {
    width: 24px;
  }
  header.typeheader-2 ul.megamenu > li > a {
    font-size: 12px;
  }
  header.typeheader-2 .nabar-logo {
    padding-right: 0;
  }
  header.typeheader-2 .header-right-top {
    padding: 0;
  }
  header.typeheader-2 .horizontal ul.megamenu > li > a {
    padding: 12px 9px;
  }
  header.typeheader-2 .btn-shopping-cart .cart-total-full {
    display: none;
  }
  header.typeheader-2 .btn-shopping-cart > a {
    height: 44px;
    width: 45px;
    padding: 10px 5px;
  }
  header.typeheader-2 .search-block {
    padding: 15px 8px;
  }
  header.typeheader-2 .sosearchpro-wrapper .btn {
    padding: 11px 10px;
  }
  header.typeheader-2 .mega-horizontal {
    margin-top: 15px;
  }
  header.typeheader-2 .horizontal .megamenu-wrapper {
    padding: 0;
  }
  header.typeheader-2 .nabar-logo {
    width: 20%;
  }
  header.typeheader-2 .nabar-menus {
    width: 80%;
  }
  header.typeheader-3 .menu-honizol {
    padding: 0;
  }
  header.typeheader-3 .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu > li > a {
    padding: 15px 5px;
    font-size: 12px;
  }
  header.typeheader-3 .header-bottom .shopping_cart {
    min-width: 175px;
    padding: 0 5px;
  }
  header.typeheader-3 .shopping_cart a.btn-group .shopcart {
    padding: 15px 0 15px 0px;
  }
  header.typeheader-3 .shopping_cart a.btn-group .shopcart .text-shopping-cart {
    font-size: 12px;
  }
  header.typeheader-4 .header-center .menu {
    padding: 0;
  }
  header.typeheader-4 .navbar-logo {
    width: 15%;
  }
  header.typeheader-4 .header-center .menu {
    width: 62%;
  }
  header.typeheader-4 .shopping_cart {
    width: 23%;
  }
  header.typeheader-4 .content_menu, header.typeheader-4 .menu-vertical {
    padding: 0;
  }
  header.typeheader-4 .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu > li > a {
    padding: 0 8px;
    font-size: 13px;
  }
  header.typeheader-5 #sosearchpro {
    width: 430px;
  }
  header.typeheader-5 .navbar-logo {
    padding-right: 0;
  }
  header.typeheader-5 .box-center-r {
    margin-top: 15px;
  }
  header.typeheader-5 .content_menu .responsive > .navbar-default {
    width: 100%;
  }
  header.typeheader-5 .container-megamenu.vertical:hover .vertical-wrapper {
    width: 100%;
  }
  .layout-1 .slider-container .module.slideshow {
    width: 71.5%;
    margin: 0;
    padding-right: 10px;
  }
  .layout-1 .module.style-dev-so-deals {
    width: 28.5%;
  }
  .layout-1 .module.style-dev-so-deals .so-deal .extraslider-inner {
    min-height: 364px;
  }
  .layout-1 .products-list.grid .product-layout .product-item-container:hover {
    box-shadow: none;
  }
  .layout-1 .products-list.grid .product-layout .product-item-container .button-group .wishlist, .layout-1 .products-list.grid .product-layout .product-item-container .button-group .compare {
    transform: translateX(0px);
    opacity: 1;
  }
  .layout-1.common-home .col-md-4.coluom_ip_left {
    width: 29%;
  }
  .layout-1.common-home .col-md-8.coluom_ip_right {
    width: 71%;
  }
  .layout-1 .banner-block-slideshow-h1 img {
    width: 100%;
  }
  .layout-1 .banner-block-slideshow-h1 .img-banner1 {
    width: 35.22727%;
    margin: 0;
    padding-right: 5px;
  }
  .layout-1 .banner-block-slideshow-h1 .img-banner2 {
    width: 35.22727%;
    margin: 0;
    padding-left: 5px;
  }
  .layout-1 .banner-block-slideshow-h1 .img-banner3 {
    width: 29.54545%;
    margin: 0;
    padding-left: 10px;
  }
  .layout-2 .coluom_ip_left {
    width: 29%;
  }
  .layout-2 .coluom_ip_right {
    width: 71%;
  }
  .layout-2 .lib-list-item-product-over2 .image-dev .list-button-dev li.so-quickview, .layout-2 .style-dev-so-deals .so-deal .extraslider-inner.item-inner-dev .image-dev .list-button-dev li.so-quickview {
    display: none;
  }
  .layout-2 .section-boxed {
    background-size: 49% 100%;
    background-color: #ddd;
    padding: 20px;
  }
  .layout-3 .module.customer-about-dev .carousel-inner .item .carousel-caption {
    padding: 0 10px;
  }
  .layout-3 .module.customer-about-dev #carousel-example-generic {
    padding-bottom: 30px;
  }
  .layout-3 .module.so-latest-blog .so-blog-external {
    padding: 10px 10px 0;
  }
  .layout-3 .module.so-latest-blog .head-button {
    margin-bottom: 0 !important;
  }
  .layout-3 .module.so-latest-blog .so-blog-external .blog-external-simple {
    padding: 15px 0 20px;
  }
  .layout-3 .product-view .content-product-right .countdown_box .countdown_inner .title {
    display: none;
  }
  .layout-3 .product-detail .products-list.grid .product-layout .product-item-container {
    min-height: 400px;
  }
  .layout-3 .button-group .addToCart {
    padding: 0 10px;
  }
  .layout-4 .col-xs-15, .layout-4 .col-sm-15, .layout-4 .col-md-15, .layout-4 .col-lg-15 {
    width: 20%;
    float: left;
  }
  .layout-4 #wrapper {
    overflow-x: hidden;
  }
  .layout-4 .col-md-9.coluom_ip_left {
    width: 71%;
  }
  .layout-4 .col-md-3.coluom_ip_right {
    width: 29%;
  }
  .layout-4 .box-list {
    padding-right: 0;
  }
  .layout-5 .module.style-dev-so-deals .so-deal .product-thumb .product-image-container {
    width: 200px;
    float: left;
  }
  .layout-5 #sosearchpro .dropdown-menu {
    width: 430px;
  }
  .layout-5 .custom-polyci .box-item {
    padding: 0;
  }
  .layout-5 .custom-img-center {
    display: table;
  }
  .layout-5 .custom-img-center .box-img {
    display: table-cell;
    float: none;
  }
  footer .col-lg-15 {
    width: 20%;
    display: inline-block;
    float: left;
  }
  footer.typefooter-2 .newsletter .group-form, footer.typefooter-2 footer.typefooter-3 .newsletter .group-form {
    min-width: 47.5%;
  }
  footer.typefooter-2 .box-nl-l {
    padding-right: 0;
  }
  footer.typefooter-2 .newsletter .group-content {
    padding-right: 5px;
  }
  footer.typefooter-3 .newsletter .group-form {
    min-width: 40%;
  }
  .horizontal ul.megamenu > li > .sub-menu {
    right: 0;
    left: auto;
  }
  #wrapper {
    overflow-x: hidden;
  }
  .thumb-vertical-outer {
    padding: 20px 0;
  }
  .releate-products .image, div.so-extraslider.grid .image {
    width: 40%;
  }
}
@media (min-width: 1200px) {
  /*============HOME DEFAULT ==================*/
  .container {
    width: 1200px;
    overflow: visible;
  }
  .layout-1.common-home .vertical .vertical-wrapper {
    display: block !important;
  }
}
