/*===============================================
	[SASS DIRECTORY ]
	
    [1] BLOCK HEADER
    [2] BLOCK FOOTER
	
==============================================*/

@include breakpoint(lg){
    .section-boxed{
        background-size: 49% 100%;
        background-color: $base-border-color;padding: 30px;
        @include if-rtl {background-position: right top;}
    }
    .section-boxed  .container-fluid{width:1200px;}
}
.common-home{
    header{background: transparent;}
    #content{margin-bottom: 0px;}
}

header {background: $gray-lighter;}
#content{margin-bottom: 30px;}
