/*===============================================
	[SASS DIRECTORY ]
	
    [1] MODULE DEFAULT
    [2] BLOCK SEARCH
    [3] SOCIAL FOOTER
	
==============================================*/
.container-full{
    .container{width: auto;}
}

.title-underline{
    h3.modtitle{border-bottom-width: 2px;
        &:after{height: 2px;margin-bottom: -2px;}
    }
    
}

/*============ MODULE HOME SLIDER ==================*/
.sohomepage-slider .so-homeslider{border: none;}
.sohomepage-slider .so-homeslider .owl2-nav {
    > div{
        border-color: #b4b3b1;border-radius: 50%;
        width:38px;height: 38px;text-align: center;
        &:after{width:35px;height: 35px;line-height: 35px;padding: 0;font-size: 18px;}
        &:hover{color: $white;border-color: $white;}
    }
    div.owl2-prev{ left: 70px;}
    div.owl2-next{right: 70px;}
}


/*============ MODULE MEGAMENU VERTICAL  ==================*/
.left_column{
    .responsive {margin-bottom: 30px;@include clearfix();
        .col-sm-3{width: 100%;padding: 0;}
        .navbar-default{background: none;}
    }
    .vertical .megamenuToogle-wrapper{background: $background; text-transform: uppercase;
        &:after{
            @include triangle(
                $direction : top, 
                $position  : top 100% left 1.5em, 
                $color     : $background,
                $size       : 0.5em,
            );
        }
    }
}


/*============ MODULE NEWLETTER   ==================*/
.newsletter{
    .so-custom-default{border-radius: 0;
        .btn-default{border-radius: 0;padding: 8px 10px;font-size: 20px;}
        .form-control{height: 44px;}
    }
    .modcontent{padding: 45px 15px;}
    
    .group-content{text-align: $left;color: #fff;
        h2{font-size: 26px;font-weight: bold;margin: 0;text-transform: uppercase;margin: 0 0 15px;}
        .page-heading-sub{font-size: 12px;margin: 0 0 30px;line-height: 18px;}
    }
}

/*============ MODULE LISTING TABS   ==================*/
.listingtabs-home2-style1{
    
    .so-listing-tabs{margin: 0;position: relative;z-index: 1;
        .owl2-controls{
            @include owl2-controls();width:auto;
            .owl2-nav{
                div.owl2-prev,div.owl2-next{position: static;margin: 2px;}
            }
        }
        .ltabs-item .product-layout + .product-layout{margin-top: 30px;}
        .ltabs-tabs-container{
            margin: 0 0 30px;
            border-bottom: 2px solid #ddd;
            position: relative;
           
            .ltabs-tabs li{
                margin: 0;
                padding: 0 0 8px;
                border: none;
                position: relative;
                text-transform: uppercase;
                float: $left;
                
                .ltabs-tab-label{
                    font-size: 18px;
                    color: #999;
                    font-weight: bold;
                    padding: 0;
                }
                &:after{
                    content: "/";
                    display: inline-block;
                    margin: 0 8px;
                    position: relative;
                    top: 2px;
                    font-size: 18px;
                    color: #999;
                }
                &:last-child{
                    &:after{display: none;}
                    &.tab-sel {&:before{right: 0;}}
                }
                &.tab-sel{
                    background: none;
                    .ltabs-tab-label{color: $gray;}
                    &:before{
                        content: "";
                        height: 2px;
                        display: block;
                        background: $linkColor;
                        position: absolute;
                        #{$left}: 0;
                        #{$right}: 27px;
                        bottom: -2px;
                    }
                }
                &:hover{
                    background: none;
                    .ltabs-tab-label{
                        color: $linkColor;
                    }
                }
            }
        }
    }
   
    
   
}

.listingtabs-home2-style2{
    @include title-underline(2px);
    .so-listing-tabs{  margin: 0;position: relative;z-index: 1;
        .owl2-controls{
            @include owl2-controls();
        }
        .ltabs-item .product-layout + .product-layout{margin-top: 30px;}
        .ltabs-tabs-container{
            margin: 0 0 30px;
            border-bottom: none;
            position: relative;
          
            .ltabs-tabs li{
                margin:side-values(0 10px 0 0);
                padding: 2px 10px;
                border: 1px solid #ddd;
                position: relative;
                text-transform: uppercase;
                .ltabs-tab-label{
                    font-size: 12px;
                    color: #444;
                    font-weight: bold;
                }
               
                &.tab-sel{
                    background: $background1;
                    position: relative;
                    border-color: $linkColor;
                    .ltabs-tab-label{
                        color: #fff;
                    }
                    &:before{
                        border-color: transparent transparent transparent #fff;
                        border-style: solid;
                        border-width: 0 8px 8px;
                        content: "";
                        height: 0;
                        left: 2px;
                        position: absolute;
                        top: 2px;
                        width: 0;
                        z-index: 1;
                        @include if-rtl {
                            left: auto;
                            right: 2px;
                            border-color: transparent #fff transparent transparent;
                        }
                    }
                }
                &:hover{
                    background: $background1;
                    border-color: $linkColor;
                    .ltabs-tab-label{
                        color: #fff;
                    }
                }
            }
        }
       
    }
}

/*============ MODULE SO LATEST BLOG ==================*/

.so-latest-blog{ margin-bottom: 0;
    h3.modtitle{ position: relative; z-index: 2;
       
        &:before{
            content: "";
            height: 6px;
            width: 100%;
            background: url(#{$imgPath}dot-border.png) repeat-x 0 0;
            position: absolute;
            top: 50%;
            margin-top: -3px;
            z-index: 1;
            #{$left}: 0;
        }
        span{
            display: inline-block;
            position: relative;
            background: #ddd;
            z-index: 2;
            padding: 0 15px;
            margin: 0 -15px;
        }
        
        .view-all{
            position: relative;
            z-index: 9;
            font-size: 12px;
            text-transform: capitalize;
            font-weight: normal;
            padding: 2px 10px;
            background: #ddd;
            @include linkGray();
           
        }
    }
    
    .blog-external-simple{margin: 0;
        .media{
            margin: 0 0 30px;
            padding: 0;
            &:last-child{margin: 0;}
           
              
            .media-left{
                display: inline-block;
                float: $left;
                padding-#{$right}: 20px;
             
                .image-item{
                    position: relative;
                    border: 2px solid $linkColor;
                    .media-date-added{
                        position: absolute;
                        bottom: 0;
                        #{$left}: 0;
                        margin: 0;
                        background: $background1;
                        font-size: 12px;
                        color: #fff;
                        font-weight: bold;
                        text-align: center;
                        line-height: 16px;
                        text-transform: uppercase;
                        padding: 5px 10px;
                        list-style: none;
                    }
                }
               
            }
            .media-body{
                .media-heading a{
                    font-size: 16px;
                    font-weight: bold;
                    @include linkGray();
                }
               
            }
            
        }
    }
    
}
/*============ MODULE CUSTOM HTML ==================*/
.men-women-acc{display: table;position: relative;z-index: 50;
    .item{
        padding: 0;float: none;display: table-cell; width: auto;
        span{
            position: absolute;
            font-size: 30px;
            font-weight: bold;
            text-transform: uppercase; 
            color: $white;
            top: 45%;
            padding: side-values(0 0 20px 35px);
            border-bottom: 2px solid #fff;
            transition: all 0.3s ease-in;
            #{$left}: 0;
        }
        &:hover{
            span{top: 30%;}
        }
    }
}

.custom-main-home{margin: 0 -5px -10px;
    .main-left{
        display: inline-block;
        width: 44.827586206%;
        float: $left;
        padding: 0 5px;
    }
    .main-right{
        display: inline-block;
        width: 55.172413794%;
        padding: 0 5px;
        .item:first-child{margin: 0 0 10px;}
       
    }
}


/*============ SO PAGE BUILDER ==================*/
.yt-testimonial{direction: ltr;}
.yt-testimonial .item{background: transparent !important;
    .item-wrap-inner{padding: 0 60px;margin: 50px 0 0;line-height: 20px;font-size: 12px;
        .item-img-info{margin-bottom: 20px;}
        .item-info{position: relative; overflow: visible;
            h5{margin: 15px 0 5px;}
            &:before{
                content: "";
                height: 21px;
                width: 21px;
                position: absolute;
                top: 0;
                background: url(#{$imgPath}icon/quote1.png) no-repeat 0 0;
                left: -35px;
            }
            &:after{
                content: "";
                height: 21px;
                width: 21px;
                position: absolute;
                bottom: 40px;
                background: url(#{$imgPath}icon/quote2.png) no-repeat 0 0;
                right: 0px;
            }
        }
    }
    
}
.yt-testimonial.button-type2 .owl2-controls{
        width:150px;
        left: 50%; top:100px;
        position: absolute;
        @include transform(translateX(-75px));
}

.top-brand.arrow-default{
    
    padding: 15px 0;
    direction: ltr;
    .owl2-controls{margin: 0;}
    .owl2-nav [class*='owl2-']{opacity: 1;background:none !important; @include linkGray();}
    .owl2-nav .owl2-prev{left: 0; }
    .owl2-nav .owl2-next{right: 0;}
}


// 7.1. MODULE SO DEALS
.style-dev-so-deals{
    
    .modcontent{
        margin-top: 20px;
    }
    .so-deal{
        margin: 0;
        position: relative;
       
        &.style2{
            .owl2-nav{position: relative;top: -5px;right: 0;}
            .owl2-controls{margin: 0;line-height: normal;position: absolute;top: -50px;#{$right}: 0;}
            .owl2-next,
            .owl2-prev{
                position: relative;
                height: 25px;
                width: 25px;
                float: left;
                border-radius: 25px;
                background: #fff;
                opacity: 1;
                border: 1px solid #a0a0a0;
                color: #a0a0a0;
                font-size: 0;
                margin: 2px;
                padding: 0;
                text-align: center;
                cursor: pointer;
                &:before{
                    font-size: 17px;
                    line-height: 22px;
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    
                }
                &:hover{
                    border-color: $linkColor;
                    color: $linkColor;
                }
            }
            .owl2-prev{
                left: 0;
                &:before{
                    content: "\f104";
                    font-family: fontawesome;
                    display: block;
                    color: #999;
                    
                }
                &:hover{&:before{color: $linkColor;}}
            }
            .owl2-next{
                left: auto;
                right: 0;
                &:before{
                    content: "\f105";
                    font-family: fontawesome;
                    display: block;
                    color: #999;
                    
                }
                &:hover{&:before{color: $linkColor;}}
            }
            
        }
        .extraslider-inner{
            padding: 0;
            overflow: visible;
            &.item-inner-dev{
                margin: 0;
                @extend .lib-list-item-product2;
               
                .caption.caption-dev{
                    text-align: inherit;
                }
                .image-dev .list-button-dev{
                    width: 62%;padding: 0;list-style: none;
                }
                &:hover{
                   @extend .lib-list-item-product-over2;
                    padding: 0 !important;
                    box-shadow: none !important;
                    .title-dev a {color: $linkColor;}
                }
            }
            .owl2-item{
                position: relative;
                .product-thumb{margin: 0;padding: 0; box-shadow: none;}
               
                .item-time{
                    position: static;
                    overflow: hidden;
                    display: block;
                    margin-bottom: 13px;
                    .item-timer{
                        text-align: center;
                        background: none;
                    }
                    .time-item{
                        width: auto;
                        font-size: 18px;
                        font-weight: bold;
                        line-height: 20px;
                        text-shadow: 1px 1px 1px #333;
                        color: #fff;
                        background: #f7f7f7;
                        position: relative;
                        display: inline-block;
                        float: none;
                        min-width: 58px;
                        height: 58px;
                        .num-time{
                            border: none;
                            font-size: 18px;
                            font-weight: 900;
                            padding: 6px 8px;
                            position: relative;
                            z-index: 2;
                            color: #444;
                            text-shadow: none;
                        }
                        .name-time{
                            width: 100%;
                            font-size: 12px;
                            color: #666;
                            z-index: 1;
                            text-shadow: none;
                            text-transform: uppercase;
                        }
                        
                    }
                    
                }
                .caption{margin: 0;padding: 0 15px; text-align: $left;
                    
                }
                
            }
        }
    }
}