/*===============================================
	[SASS DIRECTORY ]
	
    [1] MODULE DEFAULT
    [2] BLOCK SEARCH
    [3] SOCIAL FOOTER
	
==============================================*/

/*============ MODULE HOME SLIDER ==================*/
.slider-container {
    .slideshow{margin:side-values( 0 10px 0px 0);width: 70.344827586%;float: $left;
        .owl2-nav{
            .owl2-prev, .owl2-next{
                height: 38px;
                width: 38px;
                border-radius: 38px;
                color: white;
                border: 2px solid #fff;
                &:hover{color: $background;border-color: $background;}
              
                &:after{
                    height: 100%;
                    width: 100%;
                    line-height: 36px;
                    padding: 0;
                    font-size: 16px;
                    text-align: center;
                    background: transparent;
                    font-family: $FontAwesome;
                     #{$left}: 0;
                }
                
            }
           
        }
       
        
    }
}


/*============ MODULE DEALS ==================*/
.style-dev-so-deals{
    width: 28.505747126%;
    float: $left;
    margin: 0 0 10px;
    position: relative;
    overflow: hidden;
    
    h3.modtitle{
        position: absolute;
        top: -28px;
        z-index: 6;
        background: $background;
        font-size: 16px;
        color: #fff;
        font-weight: bold;
        padding: 43px 54px 10px;
        @include transform(rotate(-45deg));
        text-align: center;
        left:-60px;
        border: none;
        span{
            width: 100%;
            display: block;
            font-size: 12px;
            font-weight: normal;
        }
    }
    
    .so-deal{
        margin: 0; border: none;
        &:after,&:before{display: none;}
        &.button-type2{
            .owl2-nav{
                position: absolute;
                top: 32%;
                left: 0;
                width: 100%;
                pointer-events: none;
                z-index: 9;
                @include transform( translateY(-50%));
              
            }
            .owl2-next,
            .owl2-prev{
                background: none;
                opacity: 1;
                border-radius: none;
                top: 30%;
                cursor: pointer;
                pointer-events: auto;
            }
            .owl2-prev{
                left: 10px;
                position: absolute;
                &:before{
                    content: "\f104";
                    font-family: fontawesome;
                    display: block;
                    color: #999;
                    font-size: 30px;
                    position: absolute;
                    #{$left}: 0;
                }
                &:hover{&:before{color: $linkColor;}}
            }
            .owl2-next{
                left: auto;
                position: absolute;
                right: 10px;
                &:before{
                    content: "\f105";
                    font-family: fontawesome;
                    display: block;
                    color: #999;
                    font-size: 30px;
                    position: absolute;
                    #{$right}: 0;
                }
                &:hover{&:before{color: $linkColor;}}
            }
           
        }
        .owl2-controls {
            border: 1px solid #ddd;
            margin-top: -1px;
            padding: 5px 0;
            .owl2-dots{margin: 0;}
            .owl2-dot{
                background: #909090;
                span{display: none;}
                &.active{background: $background1;}
            }
        }
        .extraslider-inner{
            clear: none;
            padding: 0;
            border: 1px solid #ddd;
            
            .owl2-item{
                
                .product-item-container{border: none;margin: 0;min-height: 330px;}
                .product-thumb .left-block{margin: 15px 0 0 ; text-align: center; overflow: visible;
                    img{display: inline;}
                }
                .item-time{
                    top: -5px;
                    bottom: auto;
                    left: auto;
                    right: 5px;
                    
                    .time-item{
                        width: auto;
                        font-size: 16px;
                      
                        line-height: 20px;
                        text-shadow: 1px 1px 1px #333;
                        color: #fff;
                        background: #fb003b;
                        position: relative;
                        float: $left!important;
                        &:before{
                            content: ":";
                            position: absolute;
                            #{$right}: -2px;
                            top: 5px;
                            color: #fff;
                            z-index: 3;
                            font-weight: normal;
                        }
                        &.time-sec{&:before{display: none;}}
                        &.time-day, &.time-min{
                            background: #d60033;
                             .name-time{
                                background: #d60033;
                             }
                             .num-time{
                                background: #d60033;
                             }
                        }
                        .num-time{
                            border: none;
                            background: #fb003b;
                            padding: 6px 8px;
                            position: relative;
                            z-index: 2;
                            min-width: 35px;
                        }
                        .name-time{
                            position: absolute;
                            top: 0;
                            #{$left}: 0;
                            width: 100%;
                            opacity: 0;
                            background: #fb003b;
                            z-index: 1;
                            transition: all 0.3s ease-in-out;
                        }
                        &:nth-child(1){
                            .name-time{transition-delay: 0.05s;}
                        }
                        &:nth-child(2){
                            .name-time{transition-delay: 0.1s;}
                        }
                        &:nth-child(3){
                            .name-time{transition-delay: 0.15s;}
                        }
                        &:nth-child(4){
                            .name-time{transition-delay: 0.2s;}
                        }
                    }
                    
                }
                
                .caption{margin: 0;padding: 0 15px; position: static;
                    h4{margin-bottom: 5px;}
                }
                .button-group{padding: 0 15px;}
                &:hover{
                    .item-time .time-item{
                        .num-time{
                            border-bottom: 2px solid #fff;
                        }
                        .name-time{
                            top: 100%;
                            opacity: 1;
                            transition: all 0.3s ease-in-out;
                        }
                        &:nth-child(1){
                            .name-time{transition-delay: 0.05s;}
                        }
                        &:nth-child(2){
                            .name-time{transition-delay: 0.1s;}
                        }
                        &:nth-child(3){
                            .name-time{transition-delay: 0.15s;}
                        }
                        &:nth-child(4){
                            .name-time{transition-delay: 0.2s;}
                        }
                    }
                }
            }
        }
    }
}

/*============ SO BASIC PRODUCT ==================*/
.so-accordion-product{
   
    .so-basic-product{
        .item-wrap{margin: 0;
            .panel-group{margin: 0;}
            .panel-default{
                border-radius: 0;
                margin: 0;
                border: none;
                box-shadow: none;
                .panel-collapse{border: 1px solid #ddd;margin-top: -2px; 
                   .panel-body{border: none;}
                   
                    
                }
                
                .panel-heading{
                    padding: 0;
                    margin: 0 0 1px;
                    background: #eee;
                    cursor: pointer;
                    border-radius: 0;
                    overflow: hidden;
                    &:last-child{margin: 0;}
                    &.active{ display: none;}
                    .panel-title{ font-size: 14px; display: block;
                        .counter{
                            padding: 8px 12px;
                            background: $gray;
                            color: #fff;
                            float: $left;
                        }
                        .title{
                            padding: 8px 10px;
                            font-weight: bold;
                            display: block;
                            overflow: hidden;
                            @include linkGray();
                          
                        }
                    }
                    &:hover{
                        .panel-title{
                            .counter{background: $background1;}
                        }
                    }
                }
                
                .panel-body{padding: 8px;
                    .item-inner{
                        text-align: center;
                        position: relative;z-index: 4;
                        .image{margin-bottom: 15px;}
                        .button-group{
                            position: absolute;
                            top: 30%;
                            left: 0;
                            opacity: 0;
                            width: 100%;
                          //  @include button-group();//file theme_mixin
                            @include transition(0.3s top ease-in-out );
                            
                        }
                        .caption{
                            .title-product{
                                font-size: 15px;
                                margin-bottom: 5px;
                                a{@include linkGray();}
                            }
                           
                            
                        }
                    }
                    &:hover{
                        .button-group{
                            opacity: 1;
                            @include button-group-hover(); //file theme_mixin
                        }
                    }
                }
            }
        }
    }
}


//---- SO LATEST BLOG -------
.so-latest-blog{
    .head-button .thumbnail{border: none; line-height: $line-height-computed;}
    .so-blog-external{
        
        .owl2-controls {
            border: 1px solid #ddd;
            margin-top: -1px;
            padding: 5px 0;
            margin-bottom: 0;
            .owl2-dots{margin: 0;}
            .owl2-dot{
                background: #909090;
                span{display: none;}
                &.active{background: $background1;}
            }
        }
        .blog-external{
            border-width: 0 1px 1px 1px;
            border-style: solid;
            border-color: #ddd;
            padding: 0;
            direction: ltr;
            .media{
                margin: 0;
                padding: 20px 20px 0;
                > .item {margin: 0;}
                .thumbnail,.caption{margin: 0;padding: 0;}
                .caption{margin: 20px 0;}
                h4{font-size: 15px;margin-bottom: 8px;}
                a{@include linkGray();}
            }
        }
        &:hover{
            img{opacity: 0.8}
        }
    }
}

/*============ MODULE CUSTOM HTML ==================*/
.banner-block-slideshow-h1{
    width: 100%;
    display: inline-block;
    vertical-align: top;
    .banners{
        float: $left;
        margin-#{$right}: 10px;
        &:last-child{margin: 0;}
    }
}



//====== SO PAGE BUILDER =======
.top-brand.arrow-default{
    border: 1px solid $base-border-color;
    padding: 6px 0;
    direction: ltr;
    .owl2-controls{margin: 0;}
    .owl2-nav [class*='owl2-']{opacity: 1;background:none !important; @include linkGray();}
    .owl2-nav .owl2-prev{left: 0; }
    .owl2-nav .owl2-next{right: 0;}
}

.module.icon-style h3.modtitle {
    font-size: 14px;
    font-weight: bold;
    color: #444;
    text-transform: uppercase;
    padding: side-values( 12px 0 12px 50px);
    background: #eee;
    border-bottom: 1px solid $background;
    i.fa {
        height: 100%;
        width: 40px;
        line-height: 40px;
        text-align: center;
        position: absolute;
        top: 0;
        margin: 0;
        background: $background;
        color: #fff;
        font-size: 16px;
        #{$left}: 0;
    }
}