/*===============================================
	[SASS DIRECTORY ]
	
    [1] MODULE DEFAULT
    [2] BLOCK SEARCH
    [3] SO MEGA MENU
	[4] MY CART
    [5] MODULE SO DEALS
    [6] MODULE SO CATEGORI SLIDE
    [7] MODULE CUSTOM TESTER
    [8] MODULE HTML CUSTOM BRAND
    [9] MODULE SO LATEST BLOG
==============================================*/
.container-full{
    .container{width: auto;}
}

.title-underline{
    h3.modtitle{border-bottom-width: 2px;
        &:after{height: 2px;margin-bottom: -2px;}
    }    
}


/*== [4] MY CART ==*/
.shopping_cart{
    .btn-group{display: block;}
    &:hover{
        background: darken($background1, 10%);
    }
    a.btn-group{display: block; position: relative; box-shadow: none !important; text-decoration: none !important;
       .shopcart{
        padding:side-values( 15px 0 15px 15px);
        
        .title{color: #fff;font-weight: normal;text-transform: uppercase;} 
        .text-shopping-cart{color: #fff;font-size: 14px;text-transform: uppercase;margin: 0;    padding-#{$left}: 10px;}
       }
       .handle{background: url("../images/styling/#{$imagePath}/icon-cart.png") no-repeat  center; width: 40px; height: 22px;
       }
       .handle{
            background: url("#{$imgPath}icon/icon-cart3.png") no-repeat  center;
            width: 25px;
            height: 22px;
        }
    }
   
}

/*== [5] MODULE SO DEALS ==*/
.module.style-dev-so-deals{
    position: relative;
    margin-bottom: 32px;

    h3.modtitle{
        padding: 0;
        margin: 0 0 30px;
        border-bottom: 2px solid $linkColor;
        z-index: 0;
        span{
            display: inline-block;
            padding: 13px 20px;
            color: #fff;
            background: $background1;
        }
    }
    .so-deal{
        margin: 0;
        position: static;
        &.products-list{
            .product-layout .product-item-container{
                border: none;
                &:hover{box-shadow: none;}
            }
            .button-group{
                .wishlist,
                .compare,
                .addToCart{
                    border-radius: 0;
                }
                
            }
            .owl2-nav{position: absolute;top: 7px;#{$right}: -1px;z-index: 25;}
            .owl2-controls{margin: 0;line-height: normal;position: absolute;top: -68px;right: 0;}
            .owl2-next,
            .owl2-prev{
                position: relative;
                height: 35px;
                width: 35px;
                border-radius: 0;
                background: #ddd;
                opacity: 1;
                color: #999;
                font-size: 0;
                margin: 1px;
                padding: 0;
                text-align: center;
                cursor: pointer;
                float: left;
                &:before{
                    font-size: 18px;
                    line-height: 35px;
                    text-align: center;
                    width: 100%;
                    height: 100%;
                    
                }
                &:hover{
                    background: $background1;
                    color: #fff;
                }
            }
            .owl2-prev{
                left: 0;
                &:before{
                    content: "\f104";
                    font-family: fontawesome;
                    display: block;
                    color: #999;
                    
                }
                &:hover{&:before{color: #fff;}}
            }
            .owl2-next{
                left: auto;
                right: 0;
                &:before{
                    content: "\f105";
                    font-family: fontawesome;
                    display: block;
                    color: #999;
                    
                }
                &:hover{&:before{color: #fff;}}
            }
            .owl2-dots{
               display: none;
            }
        }

        .extraslider-inner{
            border: none;
            padding: 0;
            overflow: visible;
            .owl2-stage{
                margin: 0;
            }
            .owl2-item{
                position: relative;
                margin-bottom: 5px;
                .item{
                    display: inline-block;
                }
               
                .product-thumb{margin: 0;background: #fff;}
                .image{
                    position: relative;
                }
                .item-time{
                    top: 35%;
                    bottom: auto;
                    left: auto;
                    right: 0;
                    opacity: 1;
                    z-index: 2;
                    width: 100%;
                    text-align: center;
                    transition: all 0.3s ease-in-out;
                    .item-timer{display: inline-block;}
                    .time-item{
                        width: auto;
                        font-size: 18px;
                        font-weight: bold;
                        line-height: 20px;
                        text-shadow: 1px 1px 1px #333;
                        color: #fff;
                        background: #fb003b;
                        position: relative;
                        
                        &.time-day, &.time-min{
                            background: #d60033;
                             .name-time{
                                background: #d60033;
                             }
                             .num-time{
                                background: #d60033;
                             }
                        }
                        .num-time{
                            border: none;
                            background: #fb003b;
                            padding: 6px 8px;
                            position: relative;
                            z-index: 2;
                            min-width: 35px;
                            opacity: 1;
                        }
                        .name-time{
                            position: absolute;
                            top: 101%;
                            left: 0;
                            width: 100%;
                            opacity: 1;
                            background: #fb003b;
                            z-index: 1;
                            transition: all 0.3s ease-in-out;
                        }
                    }
                    
                }
                .caption{
                    background: #fff;
                    text-align: center;
                    margin: 0;
                    z-index: 2;
                    position: relative;
                    .item-title {margin: 0 0 5px;padding: 0 30px;
                        a{
                        font-size: 14px;
                        color: #666;
                        text-transform: inherit;
                        &:hover{
                            color: $linkColor;
                        }
                        }
                    }
                   
                    .item-des{color: #666;}
                    
                    .rating{margin: 0 0 5px;
                    }
                    .wishlist{margin: 0;}
                }
                .button-group{text-align: center;margin: 0 0 20px;z-index: 2;}
                &:hover{
                    .item{
                        -webkit-box-shadow: 0 1px 6px 0 rgba(0,0,0,0.3);
                        box-shadow: 0 1px 6px 0 rgba(0,0,0,0.3);
                    }
                    .item-title a{color: $linkColor}
                    .item-time{
                        opacity: 0;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
        }
    }
}

/*== [6] MODULE SO CATEGORI SLIDE ==*/
.module.style-dev-so-category-slider{
    position: relative;
    margin: 0 0 30px;
    display: block;
    overflow: hidden;

    .so-category-slider{float: none;}
    .so-category-slider{border: none;}
    .product-layout .product-item-container:hover{box-shadow: none;}
    .item{
        overflow: hidden;
        position: relative;
    }

    .icon-cate{
        display: none;
    }
    .show .slider::before{display: none;}
    .owl2-controls .owl2-dots .owl2-dot{display: none;}
    &.style2 .categoryslider-content.show.preset01-4 {
        .so-category-slider .item{border-width: 0  1px 0 0;}
        .item-cat-image{float: #{$right};}
    }
    h3.modtitle{
        margin: 0;
        font-size: 20px;
        color: $linkColor;
        padding: 0 0 20px;
        border-bottom: 2px solid $linkColor;
        span{
            color: #444;
        }
    }
    .button-group{
        .wishlist,
        .compare,
        .addToCart{
            border-radius: 0;
        }
       
    }
    .product-layout .product-item-container{border: none;}
    .group-button{
        position: absolute;
        top: 6px;
        #{$right}: 0;
        margin: 0 -2px;
       
       
        .owl2-controls .owl2-nav {
           
            div.owl2-prev, div.owl2-next{
                position: relative;
                height: 35px;
                width: 35px;
                border-radius: 0;
                background: #ddd;
                opacity: 1;
                color: #999;
               float: left;
                margin: 1px;
                padding: 0;
                text-align: center;
                cursor: pointer;
                z-index: 2;
                .fa{line-height: 35px;}
                &:hover{
                    background: $background1;
                    color: #fff;
                }
            }
            
        }
    }
    .list-sub-cat{
        padding: 0 90px;
        display: block;
        overflow: hidden;
        margin: 0;
        position: absolute;
        top: 8px;
        #{$right}: 0;
        z-index: 1;
        li.item-cate{
            display: inline-block;
            float: #{$left};
            margin: 0 8px;
            a{
                color: #999;
                font-size: 12px;
                font-weight: bold;
                &:before{
                    content: "";
                    height: 4px;
                    width: 4px;
                    display: inline-block;
                    background: #999;
                    position: relative;
                    top: -2px;
                }
            }
            &:hover{
                a{color: #444;&:before{background: #444;}}
            }
        }
    }
    
    .categoryslider-content.preset01-4{
        border: none;
        .item-cat-image{
            width: 23.076923076%;
            position: relative;
            &:before{
                content: "";
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: #000;
                opacity: 0;
            }
            &:hover{
                &:before{opacity: 0.2;}
            }
        }
        .so-category-slider{
            width: 76.923076924%;
            .item {
                margin: 0;
                border-width: 0  0 0 1px;
                border-style: solid;
                border-color: #ddd;
                text-align: center;
                padding: 0;
                overflow: hidden;
                min-height: 375px;
                .image{position: relative;padding: 0 ;
                    img{width: auto;overflow: hidden;}

                }
                .caption{
                    
                    text-align: center;
                    .item-title {margin: 0 0 5px;padding: 0 10px;
                        a{
                        font-size: 14px;
                        color: #333;
                        line-height: 20px;
                        text-transform: inherit;
                            &:hover{
                                color: $linkColor;
                            }
                        }
                    }
                    
                    .item-des{color: #666;}
                    .rating{margin: 0 0 5px;
                    }
                    .wishlist{margin: 0;}
                }
                &:hover{
                    .item-title a{color: $linkColor}
                }
            }
        }
    }
}

/*== [7] MODULE CUSTOM TESTER ==*/
.module.customer-about-dev{
    h2 {
        background: #fff;
        margin: 0;
        padding: 20px;
        font-size: 16px;
        color: #444;
        border-bottom: 1px solid #e6e6e6;
        text-transform: uppercase;
        font-weight: bold;
        position: relative;
    }
    #carousel-example-generic{
        padding-bottom: 50px;
        background: #fff;
    }
    .carousel-inner{
        .item{
            img{
                border-radius: 100%;
                border: 3px solid #fff;
                margin: 35px auto 25px;
                box-shadow: 1px 1px 4px #444;
            }
            .carousel-caption{
                position: static;
                padding: 0 65px;
                left: auto;
                right: auto;
                font-size: 12px;
                line-height: 20px;
                p{
                    position: relative;
                    font-size: 12px;
                    font-style: italic;
                    color: #444;
                    text-shadow: none;
                }
            }
        }
    }
    .carousel-control{
        top: -40px;
        bottom: auto;
        width: auto;
        .glyphicon-chevron-left,
        .glyphicon-chevron-right,
        .icon-next,
        .icon-prev{
            margin-top: 0;
            font-size: 9px;
            height: 25px;
            width: 25px;
            border-radius: 25px;
            border: 1px solid #999;
            margin: 0;
            line-height: 22px;
            color: #999;
            text-shadow: none;
            &:hover{
                background: $background1;
                color: #fff;
                border-color: #fff;
            }
        }
        &.left {
            left: auto;
            right: 68px;
            margin: 0;
            @include if-rtl {
                right: auto;
                left: 40px;
                .glyphicon-chevron-left:before{
                    content: "\f104";
                    font-family: fontawesome;
                    font-size: 14px;
                    font-weight: bold;
                }
            }
        }
        &.right{
            right: 15px;
            margin: 0;
            @include if-rtl {
                right: auto;
                left: 45px;
                .glyphicon-chevron-right:before{
                    content: "\f105";
                    font-family: fontawesome;
                    font-size: 14px;
                    font-weight: bold;
                }
            }
        }
    }
}

/*== [8] MODULE HTML CUSTOM BRAND ==*/
#manu{
    margin: 0 0 40px;
    padding: 16px 0;
    background: #fff;
    img{&:hover{opacity: 0.5}}
    .owl2-controls{position: absolute;width: 100%;height: 0;top: 50%;transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);
        .owl2-pagination{display: none;}
        .owl2-nav div{
            opacity: 1;
            color: #999;
            font-size: 20px;
            margin-top: -13px;
            border: none;
            background: transparent;
            position: absolute;
            font-family: $FontAwesome;
            &.owl2-next{
                right: 10px;
                &:before{
                    content: "\f054";
                }
            }
            &.owl2-prev{
                left: 10px;
                    &:before{
                    content: "\f053";
                }
            }
            i{font-size: 20px;}
            &:hover{
                color: $linkColor;
            }
        }
    
    }
}

/*== [9] MODULE SO LATEST BLOG ==*/
.module.so-latest-blog{
    h3.modtitle{
        background: #fff;
        margin: 0;
        padding: 20px;
        border-bottom: 1px solid #e6e6e6;
    }
    .owl2-carousel .owl2-stage-outer{ direction: ltr;}
    .head-button{
        margin-bottom: 4px !important;
        display: inline-block;
        margin-top: 4px!important;
    }
    .so-blog-external{
        position: relative;
        background: #fff;
        padding: 25px 30px 0;
        overflow: visible;
        &.button-type2 .owl2-nav{
            position: absolute;
            top: -40px;
            #{$right}: 15px;
            .owl2-prev, .owl2-next{
                height: 25px;
                width: 25px;
                line-height: 25px;
                background: none;
                border: 1px solid #999;
                font-size: 0;
                position: relative;
                color: #999;
                z-index: 1;
                &:before{
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    line-height: 23px;
                    font-family: fontawesome;
                    font-size: 14px;
                }
                &:hover{
                    background: $background1;
                    color: #fff;
                    border-color: $linkColor;
                }
            }
            .owl2-prev{
                &:before{
                    content: "\f104";
                }
            }
            .owl2-next{
                &:before{
                    content: "\f105";
                }
            }
        }
        .owl2-controls {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            z-index: 2;
            margin: 0;
            
            padding: 0;
            .owl2-dots{margin: 0;}
            .owl2-dot{
                height: 12px;
                width: 12px;
                border-radius: 12px;
                background: #909090;
                margin: 0 2px;
                span{display: none;}
                &.active{background: $background1;}
            }
        }
        .blog-external{
            border-width: 0 0 1px;
            border-style: solid;
            border-color: #ddd;
            padding: 0;
            direction: ltr;
            .media{
                margin: 0;
                padding: 0;
                .item {
                    border: none;
                    margin: 0 ;
                    .media-left{
                        width: 37%;
                        padding: 0 10px;
                        display: inline-block;
                         float: #{$left};
                        img{margin: auto}
                    }
                    .main-content{
                        display: inline-block;
                        width: 63%;
                        padding: 0 10px;
                        position: relative;
                        top: -6px;
                        .media-heading a{
                            font-size: 12px;
                            color: #666 !important;
                            font-weight: bold;
                            padding: 0;
                            &:hover{
                                color: $linkColor !important;
                            }
                        }
                        .description{font-size: 12px;color: #666;line-height: 20px;}
                    }
                }
            }
        }
        .blog-external-simple{
            padding: 25px 0 26px;
            margin-#{$left}: -5px; 
            .media-heading{
                margin: 0;
                a{
                    color: #666;
                    font-weight: bold;
                    font-size: 12px;
                    &:before{
                        content: "";
                        height: 4px;
                        width: 4px;
                        background: #999;
                        display: inline-block;
                        position: relative;
                        top: -2px;
                        margin: 0 5px;
                    }
                    &:hover{
                        color: $linkColor;
                        &:before{background: $background1;}
                    }
                }
            }
        }
    }
}

/*== [10] MODULE SO SLIDE HOME ==*/
.module.sohomepage-slider{
    margin: 0;
    .so-homeslider{
        border: none;
        img{width: 100%; }
        .owl2-controls{
            .owl2-nav{
                .owl2-prev, .owl2-next{
                    height: 40px;
                    width: 40px;
                    border-radius: 0;
                    border: none;
                    overflow: hidden;
                    font-size: 0;
                    background: #fff;
                    opacity: 0.5;
                    margin-top: -20px;
                    margin: 0;
                    &:before{
                        font-family: fontawesome;
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        font-size: 24px;
                        line-height: 38px;
                        text-align: center;
                        color: $linkColor;
                        height: 40px;
                        width: 40px;
                    }
                    &:after{
                        height: 40px;
                        width: 40px;
                        padding: 0;
                        color: $linkColor;
                        line-height: 38px;
                        font-size: 24px;
                    }
                    &:hover{
                        opacity: 1;
                        background: #fff;
                        &:after,
                        &:before{
                            background: #fff;
                        }
                    }
                }
                .owl2-prev{
                    left: 0;
                    &:after,
                    &:before{
                        content: "\f104";
                    }
                }
                .owl2-next{
                    right: 0;
                    &:after,
                    &:before{
                        content: "\f105";
                    }
                }
            }
        }
        
    }
}
