<?php if($theme_typelayout==2) :?>
<div class="module <?php echo $class_suffix; ?>">
  <?php if($heading_title) { ?>
    <h2><?php echo $heading_title; ?></h2>
  <?php } ?>
  <?php echo $html; ?>
</div>
<?php endif; ?>
