@include breakpoint(sm){
	/************************************************************************************************
        BLOCK HEADER  
    ************************************************************************************************ */

    /*[] HEADER 1 []*/
    header.typeheader-1{
    	.horizontal .navbar-header{ position: absolute; top: 28px;  z-index: 99; #{$right}: 25px;}
    	.header-center{ position: relative; }
    	.mega-horizontal{ position: static; }
    	.shopping_cart .btn-group { margin-#{$right}: 100px; }
        .header-bottom{ background: $background; padding: 5px 0; }
    }

    /*[] HEADER 2 []*/
    header.typeheader-2{
        .nabar-logo{ padding: 0; }
        .mega-horizontal{ margin-top: 15px; }
        .search-block { padding: 15px; text-align: $right; }
    }

    /*[] HEADER 3 []*/
    header.typeheader-3{
        .header-bottom .navbar-menu .menu-vertical{ width: 100%; }
        .header-bottom .shopping_cart{ position: relative; }
        .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li > a{ background: transparent!important; }
        .megamenu-style-dev .navbar-default .vertical .vertical-wrapper{ position: fixed; width: 280px; top: 0; z-index: 99; border: none;}
        .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li { border-top: 1px solid rgba(255, 255, 255, 0.1);}
        .megamenu-style-dev .navbar-default .vertical .vertical-wrapper ul.megamenu > li a{ padding: 3px 0; }
        .header-bottom .navbar-menu .megamenu-style-dev.menu-vetical{ padding: 5px 15px 10px; }
    }

    /*[] HEADER 4 []*/
    header.typeheader-4{
        #sosearchpro.search-pro .input-group .select_category{ display: none; }
        #sosearchpro.search-pro .input-group .autosearch-input{ width: 100%; }
        .menu-vertical{ padding: 0; }
        .header-bottom .navbar-default{ margin-top: 0; }
        .header-bottom .content_menu{ padding: 0; }
        .header-bottom { padding-bottom: 5px; }
    }

    /*[] HEADER 5 []*/
    header.typeheader-5{
        #sosearchpro{ width: 300px; }
        #sosearchpro .select_category{ display: none; }
        #sosearchpro .button-search{ border-radius: 0; }
        .shopping_cart a.btn-group .shopcart{ height: 42px; width: 42px; border-radius: 0; padding: 0}
        .shopping_cart a.btn-group .shopcart .text-shopping-cart{ display: none; }
        .shopping_cart{ min-width: 42px; }
        .header-bottom { background: #313c62; padding: 10px 0; }
        .content_menu .responsive > .navbar-default,
        .navbar-header{ float: $right; }
        .navbar-toggle{ margin-top: 0; }
        .vertical  .navbar-header{ float: none; }
        .vertical  .navbar-toggle{ float: $left; }
        .megamenu-style-dev .navbar-default .vertical .navbar-header .title-navbar{ margin-top: 8px; }
        .navbar-logo{ position: relative; top: -15px; }
        .content_menu{ padding: 0 15px; }
        .container-megamenu.vertical .vertical-wrapper{ width: 280px; }

    }


    /* **********************************************************************************************
        BLOCK HOME PAGE
    *************************************************************************************************/

    /*[] LAYOUT 1 []*/
    .layout-1{
	   	.col-sm-15 { width: 20%; display: inline-block;}
	    .slider-container .slideshow{ width: 100%; }
	    .style-dev-so-deals{ width: 100%; margin: 30px 0 ; }
	    .banner-block-slideshow-h1 .img-banner1 { width: 49%; display: inline-block; margin-#{$right}: 2%; }
	    .banner-block-slideshow-h1 .img-banner2 { width: 49%; display: inline-block; margin: 0;}
	    .banner-block-slideshow-h1 .img-banner3 { display: none; }
	    .banner-block-slideshow-h1  img{ width: 100%; }
        .products-list.grid .product-layout .product-item-container:hover{ box-shadow: none; }
        .products-list.grid .product-layout .product-item-container .button-group .wishlist,
        .products-list.grid .product-layout .product-item-container .button-group .compare {
            transform: translateX(0px);
            opacity: 1;
        }
        .style-dev-so-deals .so-deal .extraslider-inner .owl2-item .button-group{ padding: 0; }
        div.style-dev-so-listing-tabs .list-sub-cat li.item-cate{ border-width: 0 1px 1px 0; width: 20%; }
        .so-listing-tabs .ltabs-wrap .wap-listing-tabs .item-cat-image{ display: none; }
        .module.style-dev-so-listing-tabs .wap-listing-tabs:before {
            content: "";
            height: 100%;
            width: 1px;
            top: 0;
            background: #ddd;
            position: absolute;
            left: 0;
        }
    }

    /*[] LAYOUT 2 []*/
    .layout-2{
        .men-women-acc .item span{ font-size: 18px; padding: side-values(0 0 10px 35px); }
        .module.style-dev-so-deals{ margin: 0; }
        .style-dev-so-deals .so-deal .extraslider-inner .owl2-item .item-time .time-item{ 
            min-width: 48px; 
            .num-time{ font-size: 14px; } 
        }
        .section-boxed{ background-size: 100%; }
        .box-blog{ margin-top: 55px; }
        .vertical  .navbar-header{ background: $background; float: none; padding: 0 10px 7px;}
        .product-detail.product-left{
            .content-product-left{ width: 100%; }
            .content-product-right{ width: 100%; margin-top: 20px; }
        }
        lib-list-item-product-over2 .image-dev .list-button-dev li.so-quickview, 
        .style-dev-so-deals .so-deal .extraslider-inner.item-inner-dev .image-dev .list-button-dev li.so-quickview{ display: none; }
        .section-boxed{ background-size: 100% 45% ; background-color: #ddd; padding: 20px; }
    }

    /*[] LAYOUT 3 []*/
    .layout-3{
        .module.style-dev-so-category-slider .categoryslider-content.preset01-4 .so-category-slider{ width: 100%; }
        .module.customer-about-dev .carousel-inner .item .carousel-caption{ padding: 0 10px; }
        .module.customer-about-dev #carousel-example-generic{ padding-bottom: 30px; }
        .module.so-latest-blog .so-blog-external{ padding: 10px 20px 0; }
        .module.so-latest-blog .head-button{ margin-bottom: 0!important }
        .module.so-latest-blog .so-blog-external .blog-external-simple{ padding: 15px 0 20px; }
        .megamenu-style-dev .navbar-default .horizontal .navbar-toggle{ 
            border-color: #fff; margin-top: 8px;
            .icon-bar{ background: #fff; } 
        }
        .product-detail.product-right{
            .content-product-left{ width: 100%; }
            .content-product-right{ width: 100%; margin-top: 20px; }
        }
        .product-detail .products-list.grid .product-layout .product-item-container{ min-height: 400px; }
        .product-view .content-product-right .countdown_box .countdown_inner .title{ display: none;}
    }

    /*[] LAYOUT 4 []*/
    .layout-4{
        div.style-dev-so-listing-tabs .so-listing-tabs .wap-listing-tabs{ border-top: 1px solid #ddd!important; }
        .col-sm-9.h4-slide{ width: 67%; padding: 0;}
        .col-sm-3.h4-custom-deals{ width: 33%; }
        .module.style-dev-so-listing-tabs .list-sub-cat li.item-cate.tab-sel .title-sub-cate:after{ display: none; }
        .module.style-dev-so-listing-tabs .list-sub-cat{ margin: 0; }
        .product-view .content-product-right .countdown_box .countdown_inner .title{ display: none;}
        .box-services{
            .col-lg-15{ width: 33.333%; }
            .col-lg-15.col-md{ width:50%; margin-top: 10px;}
        }  
    }

    /*[] LAYOUT 5 []*/
    .layout-5{
        .style-dev-so-deals .so-deal .extraslider-inner .owl2-item .product-thumb .left-block{ float: none; }
        .style-dev-so-deals .so-deal .extraslider-inner .owl2-item .caption{ padding: 10px 20px; }
        .style-dev-so-deals .so-deal .extraslider-inner .owl2-item .button-group{ padding: 0 20px }
        #sosearchpro .dropdown-menu{ width: 300px; }
        .custom-img-center{ 
            display: table; 
            .box-img{ display: table-cell; float: none; }
        }
        .product-detail.product-right{
            .content-product-left{ width: 100%; }
            .content-product-right{ width: 100%; margin-top: 20px; }
        }
    }



    /* ***********************************************************************************************
        BLOCK FOOTER  
    *************************************************************************************************/
    /*[] FOOTER DEFAULT []*/
    footer{
        .footer-top .col-lg-15{
            width: 25%; float: $left; 
            &.footer-custom1{ width: 100%; margin-top: 20px; }
        }
        .footer-center .col-lg-15{
            width: 33.333%; float: $left;
            &.box-sv-4,
            &.box-sv-5{ width: 50%; margin-top: 10px;}
        }
    }
    /*[] FOOTER 1 []*/
    footer.typefooter-1{
        
        .modcontent.btn-group{ margin-top: 15px; } 
        .newsleter-basic .so-custom-default .form-control{ width: 100%; }
        .input-group{ margin-bottom: 10px; }
    }

    /*[] FOOTER 2 []*/
    footer.typefooter-2{
        .newsletter .modcontent{ padding: 15px 0 20px; }
        .newsletter .group-form{ width: 100%; padding: 0;}
        .footer-container{ overflow-x: hidden; }
    } 

     /*[] FOOTER 3 []*/
    footer.typefooter-3{
        .newsletter .modcontent{ padding: 15px 0 20px; }
        .newsletter .group-form{ width: 100%; padding: 0;}
        .footer-container{ overflow-x: hidden; }
    } 


    /************************************************************************************************
        PAGE LISTING  
    ************************************************************************************************ */
    
    .thumb-vertical-outer { padding: 20px 0;}

    /************************************************************************************************
        DEFTAULT MENU  
    ************************************************************************************************ */
    
    /*MEGA MENU*/
    .megamenu-style-dev{
        &.responsive {
            ul.megamenu > li.active .close-menu{
                #{$right}: 0;
            }
            #remove-megamenu{ display: block; color: #fff; cursor: pointer; }
            .so-megamenu-active #remove-megamenu{ color: #fff; }
            .megamenu-wrapper{ border: none; border-radius: 0; }
            div[class^=col-]{  width: 100%; }
            ul.megamenu > li{
                display: block;
                border-top: 1px solid rgba(255, 255, 255, 0.1);
                padding: 1px 0;
                overflow: hidden;
                a{ line-height: 25px; }
            }
            ul.megamenu > li.click::before, ul.megamenu > li.hover::before{
                padding: 0 !important;
                font-size: 14px;
                background: #666;
                color: #fff;
                border: 1px solid #6a6d71;
                width: 30px;
                line-height: 30px;
                height: 32px;
                display: inline-block;
                text-align: center;
                margin-top: -1px;
                #{$right}: 0;
                #{$left}: auto;
            }
            ul.megamenu > li.active {
                padding: 0;
                .sub-menu{ display: block!important; }
                > a{ background: #222 !important;color: #fff;}
                .close-menu{
                   padding: 0;width: 30px;line-height: 30px;background: #33363a;height: auto;
                    &:before{
                        color: #fff;
                        font-size: 12px;
                        line-height: 18px;;
                    }
                }
            }
           .navbar-default .horizontal .megamenu-wrapper ul.megamenu li .sub-menu .content{box-shadow: none;border: 1px solid #eee;}
        }
        .navbar-default .horizontal{
            .navbar-toggle{
                height: 40px;
                width: 42px;
                margin: 0 ;
                color: #fff;
                border-radius: 0;
                background: transparent;
                border: 1px solid $linkColor;
                float: $left;
                cursor: pointer;
                padding: 9px 8px;
                .icon-bar{
                    background: $linkColor;
                    width: 25px;
                    height: 3px;
                }
            }
            .megamenu-wrapper{
                background: #333!important;
                padding: 20px!important;
                 ul.megamenu > li{
                        &.active > a{ padding: 0 10px; }
                        > a{
                        color: #fff!important;
                        padding:  0!important;
                        font-size: 14px;
                        line-height: 29px !important;
                        &:hover{ color: $linkColor; }
                    }
                }
                ul.megamenu li .sub-menu .content .title-submenu{padding: 0;margin: 0;border: none;}
            }
            .features-menu{
                .column{
                    &.layout-color a{display: inline-block;}
                    a{margin: 0 0 30px;display: block}
                }
            }
        }
        .navbar-default{
            .vertical {
                #menuHeading{
                    display: block;
                    margin: 0;
                }
                .navbar-header{
                   .title-navbar{ 
                        text-transform: uppercase;
                        margin-top: 13px;
                        display: inline-block;
                        color: #fff;
                        padding-#{$right}: 15px;                   
                    }
                    .navbar-toggle{
                        padding: 12px 10px;
                        border-radius: 0;
                        margin-bottom: 0;
                        .icon-bar{ background: #fff; }
                    }
                }
                #remove-verticalmenu{ display: block; color: #fff; cursor: pointer; font-size: 16px; }
                .vertical-wrapper{
                    position: fixed;
                    background: #333!important;
                    padding: 20px!important;
                    width: 280px;
                    max-height: 100%;
                    top: 0;
                    z-index: 99;
                    border: none;
                    &.so-vertical-active{ display: block!important; }

                    ul.megamenu{
                        .item-vertical.vertical-style3 .content .image-position{
                            transform: scale(0.8);
                            -moz-transform: scale(0.8);
                            -webkit-transform: scale(0.8);
                            -ms-transform: scale(0.8);
                            position: relative;
                        }
                        .item-vertical.css-menu .sub-menu .content .categories .menu > ul li{
                            &:before{
                                display: none;
                            }
                            .main-menu{text-transform: uppercase;margin: 0 0 10px;}
                            a:hover{color: $linkColor;}
                            &:hover{ >a{color: $linkColor;}}
                            ul{
                                box-shadow: none;
                                li{
                                    padding: 5px 0;
                                }
                            }
                        }
                        
                    }
                    ul.megamenu li .sub-menu .content{ 
                        border: none;
                    }
                    ul.megamenu .item-vertical.vertical-style1 .content{ padding: 15px; }
                    ul.megamenu .item-vertical.css-menu .content .menu > ul > li ul{ border: none; }
                    ul.megamenu .item-vertical.css-menu .content .menu > ul > li b{ display: none; }
                    ul.megamenu > li{
                        border-top: 1px solid rgba(255, 255, 255, 0.1);
                        padding: 0;
                        > a {     
                            padding: 3px 0;
                            background: transparent!important;
                            strong{ color: #ddd; }
                        }
                        &.loadmore{ border: none; }
                        a{ line-height: inherit; }
                        &.hover{
                            &:before{
                                font-size: 14px;
                                color: #ddd;
                                height: 32px;
                                line-height: 32px;
                                width: 30px;
                                background: #666;
                                text-align: center;
                                cursor: pointer;
                                border: 1px solid #6a6d71;
                                padding: 0 !important;
                            }
                            &:hover{
                                &:before{
                                    color: #fff;
                                }
                                
                            }
                        }
                        &.active {
                            background: none;
                            .close-menu{
                                background: #666;
                                font-size: 14px;
                                &:before{color: #ddd; line-height: 31px;}
                            }
                        }
                    }
                }
            }
        }
    }

    /*MENU STIKY*/
    header.navbar-compact{ display: none; }
    header .horizontal ul.megamenu > li > .sub-menu{ border: none; }
    ul.megamenu li.active .sub-menu .content{ padding: 0 10px; }
    #wrapper{ overflow-x: hidden; }
    .zoomContainer{ display: none; }
    .container-megamenu.vertical .vertical-wrapper ul.megamenu li .sub-menu{
        @include if-rtl { left: 0; right: inherit!important; }
    }
    .simple_blog-article .product-filter.filters-panel{ display: none; }
    header #sosearchpro .dropdown-menu{ #{$right}: 0!important; #{$left}: inherit!important; }
    /************************************************************************************************
        PAGE BONUS  
    *************************************************************************************************/
    .our-member .respl-item .w-image-box { float: none; overflow: hidden; width: 100%; text-align: center; }
    .our-member .respl-item .info-member { text-align: center; margin: 0; }
    .our-member .respl-item .info-member li { float: none; display: inline-block; }
}