 @include breakpoint(md){

    /* ***********************************************************************************************
        BLOCK HEADER  
    *************************************************************************************************/

    /*[] HEADER 1 []*/
    header.typeheader-1{
    	.megamenu-style-dev .vertical:hover .vertical-wrapper{ display: block!important; z-index: 8;}
    	.horizontal ul.megamenu > li > a{ padding: 5px 8px; font-size: 13px; }
    	.header-center .shopping_cart{ fpnt-size: 11px; padding-#{$left}: 0px; }
    	.btn-shopping-cart > a .handle{width: 24px;}
    }

    /*[] HEADER 2 []*/
    header.typeheader-2{
        ul.megamenu > li > a{ font-size: 12px; }
        .nabar-logo{ padding-#{$right}: 0; }
        .header-right-top{ padding: 0; }
        .horizontal ul.megamenu > li > a{ padding: 12px 9px; }
        .btn-shopping-cart .cart-total-full{ display: none; }
        .btn-shopping-cart > a{ height: 44px; width: 45px; padding: 10px 5px; }
        .search-block{ padding: 15px 8px; }
        .sosearchpro-wrapper .btn{ padding: 11px 10px; }
        .mega-horizontal{ margin-top: 15px; }
        .horizontal .megamenu-wrapper{ padding: 0; }
        .nabar-logo{ width: 20%; }
        .nabar-menus{ width: 80% }
    }

    /*[] HEADER 3 []*/
    header.typeheader-3{
        .menu-honizol{ padding: 0; }
        .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu > li > a{ padding: 15px 5px; font-size: 12px; }
        .header-bottom .shopping_cart{ min-width: 175px; padding: 0 5px; }
        .shopping_cart a.btn-group .shopcart{ padding: side-values(15px 0 15px 0px); }
        .shopping_cart a.btn-group .shopcart .text-shopping-cart{ font-size: 12px; }
    }

    /*[] HEADER 4 []*/
    header.typeheader-4{
        .header-center .menu{ padding: 0; }
        .navbar-logo{ width: 15%; }
        .header-center .menu{ width: 62% }
        .shopping_cart{ width: 23% }
        .content_menu,
        .menu-vertical{ padding: 0; }
        .megamenu-style-dev .navbar-default .horizontal .megamenu-wrapper ul.megamenu > li > a{ padding: 0 8px; font-size: 13px; }
    }

     /*[] HEADER 5 []*/
    header.typeheader-5{
        #sosearchpro{ width: 430px; }
        .navbar-logo{ padding-#{$right}: 0; }
        .box-center-r{ margin-top: 15px; }
        .content_menu .responsive > .navbar-default{ width: 100%; }
        .container-megamenu.vertical:hover .vertical-wrapper{ width: 100%; }
    }

    /************************************************************************************************
        BLOCK HOME PAGE  
    *************************************************************************************************/

    /*[] LAYOUT 1 []*/
    .layout-1{
	   	.slider-container .module.slideshow{width: 71.5%;margin: 0; padding-#{$right}: 10px;}
	   	.module.style-dev-so-deals{ width: 28.5%; }
	    .module.style-dev-so-deals .so-deal .extraslider-inner{  min-height: 364px; }
	    .products-list.grid .product-layout .product-item-container:hover{ box-shadow: none; }
	    .products-list.grid .product-layout .product-item-container .button-group .wishlist,
	    .products-list.grid .product-layout .product-item-container .button-group .compare {
		    transform: translateX(0px);
		    opacity: 1;
		}
	    &.common-home{
	    	.col-md-4.coluom_ip_left{ width: 29%; }
	    	.col-md-8.coluom_ip_right{ width: 71%; }
	    }
	    .banner-block-slideshow-h1{
	    	img{width: 100%;}
	    	.img-banner1{  width: 35.227272727%;  margin: 0;  padding-#{$right}: 5px; }
	    	.img-banner2{ width: 35.227272727%; margin: 0; padding-#{$left}: 5px; } 
	    	.img-banner3{ width: 29.54545%; margin: 0; padding-#{$left}: 10px; }	
	    }
	     

    }

    /*[] LAYOUT 2 []*/
    .layout-2{
        .coluom_ip_left{ width: 29%; }
        .coluom_ip_right{ width: 71%; }
        .lib-list-item-product-over2 .image-dev .list-button-dev li.so-quickview, 
        .style-dev-so-deals .so-deal .extraslider-inner.item-inner-dev .image-dev .list-button-dev li.so-quickview{ display: none; }
        .section-boxed{ background-size: 49% 100%; background-color: #ddd; padding: 20px; }
    }

    /*[] LAYOUT 3 []*/
    .layout-3{
        .module.customer-about-dev .carousel-inner .item .carousel-caption{ padding: 0 10px; }
        .module.customer-about-dev #carousel-example-generic{ padding-bottom: 30px; }
        .module.so-latest-blog .so-blog-external{ padding: 10px 10px 0; }
        .module.so-latest-blog .head-button{ margin-bottom: 0!important }
        .module.so-latest-blog .so-blog-external .blog-external-simple{ padding: 15px 0 20px; }
        .product-view .content-product-right .countdown_box .countdown_inner .title{ display: none;}
        .product-detail .products-list.grid .product-layout .product-item-container{ min-height: 400px; }
        .button-group .addToCart{ padding: 0 10px; }
    }

    /*[] LAYOUT 4 []*/
    .layout-4{
        .col-xs-15, .col-sm-15, .col-md-15, .col-lg-15{ width: 20%; float: $left; }
        #wrapper{ overflow-x: hidden; }
        .col-md-9.coluom_ip_left{ width: 71%; }
        .col-md-3.coluom_ip_right{ width: 29%; }
        .box-list{ padding-#{$right}: 0; }
    }


    /*[] LAYOUT 5 []*/
    .layout-5{
        .module.style-dev-so-deals .so-deal .product-thumb .product-image-container{ width: 200px; float: $left; }
        #sosearchpro .dropdown-menu{ width: 430px; }
        .custom-polyci .box-item{ padding: 0; }
        .custom-img-center{ 
            display: table; 
            .box-img{ display: table-cell; float: none; }
        }
    }

    /* ***********************************************************************************************
        BLOCK FOOTER  
    ************************************************************************************************ */

    /*[] FOOTER 1 []*/
    footer{
    	.col-lg-15{ width: 20%; display: inline-block; float: $left; }
    }
    
    /*[] FOOTER 2 []*/
    footer.typefooter-2{
        .newsletter .group-form, footer.typefooter-3 .newsletter .group-form{ min-width: 47.5%; }
        .box-nl-l{ padding-#{$right}: 0; }
        .newsletter .group-content{ padding-#{$right}: 5px;; }
    }

    /*[] FOOTER 3 []*/
    footer.typefooter-3{
        .newsletter .group-form{ min-width: 40%; }
    } 

    /************************************************************************************************
        MEGAMENU 
    *************************************************************************************************/
   .horizontal ul.megamenu > li > .sub-menu{
        #{$right}: 0;
        #{$left}: auto;
   }

    /************************************************************************************************
        PAGE LISTING  
    *************************************************************************************************/
    #wrapper{ overflow-x: hidden; }
    .thumb-vertical-outer { padding: 20px 0;}
    .releate-products .image, div.so-extraslider.grid .image{ width: 40%;}
}

