a:hover {
  text-decoration: underline;
}

p {
  line-height: 22px;
}

h1 {
  font-size: 32px;
  margin: 10px 0 50px;
}

#map-canvas {
  border: none !important;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 0;

  .navbar-logo {
    width: 170px;

    .subtitle {
      margin: 5px 0 0;
    }
  }

  .mega-horizontal {
    margin: 0 !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 67%;
    font-size: 16px;

    .text-box {
      .item {
        display: flex;
        flex-direction: column;

        span {
          font-size: 12px;
          margin: -5px 0 -5px;
        }
      }
    }
  }
}

.nav-links {
  ul.megamenu {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0 0;
  }
}

header.typeheader-1 .header-center {
  padding: 10px 0 5px;
}

.header-top-right {
  padding: 4px 0;
  display: flex;
  justify-content: flex-end;

  a {
    color: #555555;
  }

  .icons {
    font-size: 20px;
    margin: 0 20px 0 0;

    a {
      margin: 0 5px;

      &:first-child {
        margin: 0 5px 0 0;
      }

      &:last-child {
        margin: 0 0 0 5px;
      }
    }
  }
}

header.typeheader-1 .header-top-right .top-link > li:after {
  display: none;
}

header.typeheader-1 .header-top-right .top-link > li a:after {
  content: "";
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  border-left: 1px solid #ccc;
  margin: 0 0 0 10px;
}

header.typeheader-1 .header-top-right .top-link > li:last-child a:after {
  display: none;
}

.info {
  .box {
    margin: 0 0 40px;

    .subtitle {
      display: flex;
      align-items: center;

      img {
        width: 50px;
      }

      span {
        font-size: 20px;
        margin: 0 0 0 10px;
      }
    }

    .text {
      margin: 15px 0 0 10px;
    }
  }

  .box.blue {
    background: #eaf1f8;
    padding: 30px;
    border-radius: 4px;
  }
}

.about {
  h1 {
    text-align: center;
  }

  .box {
    margin: 0 0 40px;
    min-height: 185px;

    .subtitle {
      display: flex;
      align-items: center;

      img {
        width: 50px;
      }

      span {
        font-size: 20px;
        margin: 0 0 0 10px;
      }
    }

    .text {
      margin: 15px 0 0 10px;
    }
  }

  .story {
    margin: 100px 0 40px;

    h2 {
      text-align: center;
      margin: 0 0 30px;
    }

    .text {
      max-width: 900px;
      margin: 0 auto;

    }

    .consult {
      color: #004494;
      font-size: 20px;
      margin: 40px 0 0;
      text-align: center;

      a {
        white-space: nowrap;
      }
    }
  }
}

.shop_summary_rating {
  background: #f6f6f6;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.ratings-item {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  display: flex;
  justify-content: space-between;

  .rating-item_box {
    width: 92%;

    .ratings-item-header {
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      background: #fff;
      display: flex;
      padding: 10px;
      justify-content: flex-start;
      align-items: center;

      .user {
        display: flex;
        margin: 0 20px 0 0;
      }

      .ratings-item-rates {
        display: flex;
        padding: 0;

        .ratings-item-rates-item {
          float: none;
          margin: 0 20px 0 0;
          min-width: 170px;

          .rates-title {
            margin: 0;
          }

          .rate-stars {
            margin: 0;
          }
        }
      }

      .rating-sender {
        float: none;
        margin: 0 5px 0 0;
      }

      .rating-date {
        float: none;
      }
    }

    .box-review {
      .box-review-content {
        .ratings-item-rates {
          .ratings-item-rates-item {
            margin: 5px 0;
          }
        }
      }
    }

    .box-review-content_text {
      padding: 0 10px 0;
    }

    .ratings-item-answer {
      background: #fff;

      .rating-item-answer-logo {
        width: 107px;
      }
    }
  }
}

.shop_summary_rating {
  background: #fff;
  border: none;
}

.ratings-item .ratings-item-answer {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.garant {
  .title{
    display: flex;
    align-items: center;
    margin: 0 0 20px;
    h1{
      margin: 0 0 5px 20px;
    }
  }
  .txt {
    max-width: 600px;
  }
}

.last-shop-ratings {
  border: none !important;
  .shop_summary_rating {
    border: none !important;
    background: #f6f6f6;
  }

  .last-rating-item {
    border: none;
    border-right: 1px solid #e4e4e4;
    background-color: #fff !important;
  }
  .block_content_wrapper{
    .owl-item:last-child{
      .last-rating-item{
        border-right: none;
      }
    }
  }
  .last-rating-link{
    border: none !important;
  }
  .block_header{
    border: none !important;
    background: #fff !important;
  }
}
.seo{
  margin: 30px 0 0;
  h2{
    text-align: center;
  }
  .text-seo{
    max-width: 800px;
    margin: 0 auto;
  }
}
.img-responsive{
  width: 100%;
}
@media (max-width: 1199px){
  header.typeheader-1 .btn-shopping-cart > a .shopcart{
    width: 169px;
  }
}
@media (max-width: 991px) {
  .mega-horizontal {
    display: none !important;
  }
  .info .box.blue {
    padding: 20px;
  }
  .info .box .subtitle span, .about .box .subtitle span {
    font-size: 17px;
  }
  header.typeheader-1 .btn-shopping-cart > a .shopcart{
    width: auto;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  .ratings-item .image-user {
    width: 10%;
  }
  .ratings-item .rating-item_box {
    width: 90%;
  }
  .ratings-item .rating-item_box .ratings-item-header {
    flex-wrap: wrap;
    padding: 0 10px 10px;
  }
  .ratings-item .rating-item_box .ratings-item-header .ratings-item-rates {
    flex-wrap: wrap;
    margin: 10px 0 0;
  }
  .seo h2{
    text-align: left;
  }
  .phones{
    text-align: left;
  }
  .phones .txt a{
    color: #428bca;
  }
}