/*===============================================
	[SASS DIRECTORY ]
	
    [1] BLOCK HEADER
    [2] BLOCK FOOTER
	
==============================================*/


.common-home #content{margin-bottom: 0px;}
#content{margin-bottom: 30px;}
.common-home{
	.section-style-1{
		min-height: 492px;
    	.container-fluid .row-image{ padding: 0;background-size: cover;}
	}
	.section-style-2{ border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; }
	.section-style-3{
		.box-extra-left{ padding-#{$right}: 5px; }
		.box-extra-right{ padding-#{$left}: 5px; }
	}
	#so-spotlight4{
	    background: #eee;
	    padding-top: 20px;
	}
	
	.module .products-list.grid .product-layout .product-item-container{
		padding: 6px 10px 18px;
		border: none;
		.product-image-container{
			margin-bottom: 0;
		}
	} 
	.products-list.grid{
		border: none;
		&:before,
		&:after{
			display: none;
		}
	}
	
	.megamenu-style-dev .navbar-default .vertical .vertical-wrapper{display: block!important;border: none!important;}
	.module.style-dev-so-extraslider .products-list.grid .product-layout .product-item-container{
		@media (min-width:992px){
			min-height: 331px;
		}
	}
	.product-detail{
		.module h3.modtitle{ border-bottom: none; }
	}
	.so-latest-blog .caption{
		padding: 15px ;
		a{
			@include linkGray();
		}
	}
	.carousel-inner > .item > a > img,
	.carousel-inner > .item > img, 
	.img-responsive, 
	.thumbnail a > img, 
	.thumbnail > img {
	    margin: 0 auto;
	}
	@media (min-width: 1200px) {
	    .h4-slide{ width: 79%; padding-#{$left}: 19.9%; padding-#{$right}:0;}
	    .h4-custom-deals{ width: 21%; }
	} 
}
.menu-vertical{
    @media (min-width: 1200px) {
        z-index: 999;
        position: relative;
    }
}
.product-detail .module h3.modtitle{  border-bottom: none;}
.container-megamenu.vertical .vertical-wrapper{
	display: none;
	position: absolute;
	width: 90%;}
.container-megamenu.vertical:hover{
	.vertical-wrapper{
		display: block;
		z-index: 35;
	}
} 

.megamenu-style-dev .navbar-default .vertical:hover{
	.vertical-wrapper{display: block!important;border: 1px solid #eee;}
} 
.products-list.list .box-label{
    top: 10px;
    .label-new{
    	top: inherit;
    	#{$right}: 0;
    	#{$left}: auto;
    }
    .label-sale{
    	top: inherit;
    	#{$right}: 0;
    	#{$left}: auto;
    }
}

.products-list .product-layout .product-item-container .left-block .quickview{
	height: 34px;
    width: 34px;
    line-height: 34px;
    border-radius: 3px;
    .fa{padding: 10px;}
}
.short-by-show .product-compare{ display: none;}
.common-home .products-list .product-layout .product-item-container .button-group .btn-button:hover{
	background: #ffd741;
	border-color: #e0ba29;
	color: #222;
}
.products-list .product-layout .product-item-container .button-group .addToCart{
	height: 34px;
    line-height: 32px;
    border-radius: 3px;
}
.common-home .products-list.grid .product-layout .product-item-container:hover{
	box-shadow: none;
	.product-image-container img{opacity: 0.6;}
}
.button-group-hover .compare, .products-list.grid .product-layout .product-item-container:hover .button-group .compare, .module.style-dev-so-extraslider .so-extraslider .extraslider-inner .item .item-wrap .item-wrap-inner:hover .button-group .compare, .module.style-dev-so-listing-tabs .wap-listing-tabs .ltabs-items-container .ltabs-items .ltabs-item .item-inner:hover .button-group .compare {
    transform: translateX(0);
    -moz-transform: translateX(0);
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    opacity: 1;
    -webkit-transition: all 0.3s ease-in 0s;
    -moz-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.products-list .product-layout .product-item-container .button-group .wishlist:hover, .products-list .product-layout .product-item-container .button-group .compare:hover {
    border-color: #014593;
    color: #fff;
    background: #014593;
}
.box-upsell{
	.products-list.grid:after,
	.products-list.grid:before{display: none;}
	.products-list.grid{border: none;}
}
.products-list .product-layout .product-item-container .button-group .wishlist, .products-list .product-layout .product-item-container .button-group .compare {
	min-width: 34px;
    height: 34px;
}
.products-list.grid .product-layout .product-item-container:hover .button-group .addToCart{
	
	color: #222;
	background: #ffd741;
	border-color: #e0ba29;
}