/*===============================================
	[SASS DIRECTORY ]
	
    [1] MODULE DEFAULT
    [2] NEWLETTER BOX
    [3] SOCIAL FOOTER
    [4] TOP BRAND FOOTER
	[5] DEFAULT OWL BUTTON
    [6] POPURLAR TAG
    [8] MEGA MENU HONIZOL AND VERTICAL
    [9] BLOCK CART
    [10] MODULE SO DEALS
    [11] MODULE SO SLIDER HOME
    [12] PAGEBUILDER HTML FOOTER
==============================================*/
.container-full{
    .container{width: auto;}
}

.title-underline{
    h3.modtitle{border-bottom-width: 2px;
        &:after{height: 2px;margin-bottom: -2px;}
    }
}
ol, ul{list-style: none;padding: 0; margin: 0;} 
/*============ MODULE HOME SLIDER ==================*/
.sohomepage-slider .so-homeslider{border: none;}
.sohomepage-slider .so-homeslider .owl2-nav {
    > div{
        border-color: $base-border-color;border-radius: 50%;
        width:38px;height: 38px;text-align: center;
        &:after{width:35px;height: 35px;line-height: 35px;padding: 0;font-size: 18px;}
        &:hover{color: $white;border-color: $white;}
    }
    div.owl2-prev{ #{$left}: 70px;}
    div.owl2-next{#{$right}: 70px;}
}
.module{margin-bottom: 30px;
    h3.modtitle{font-size: 16px;color: #444;border-bottom: 1px solid #e6e6e6;margin: 0 0 10px;padding: 0 0 10px 0;text-transform: uppercase; font-weight: bold;position: relative;}
    &.icon-style{
        h3.modtitle{
            font-size: 14px;
            font-weight: bold;
            color: #222;
            text-transform: uppercase;
            padding: side-values(14px 0 14px 62px);
            background: #fff;
            border-bottom: 2px solid $linkColor;
            i{
                height: 100%;
                width: 52px;
                line-height: 45px;
                text-align: center;
                position: absolute;
                top: 0;
                background: $background1;
                color: #fff;
                font-size: 20px;
                margin: 0;
                #{$left}: 0;
            }
        }
    }
}

/*!
 *  [2] NEWLETTER BOX
 */
.newsletter{
    border:none;
    border-radius: 0;
    .group-form{
        display: inline-block;
        min-width: 57.5%;
        padding-left: 10px;
        vertical-align: top;
        margin-top: 2px;
        .form-group{
            position: relative;
            margin: 0;
            border-radius: 6px;
            bottom: 0;
            padding: 0;
            margin-#{$right}: 2px;
            .input-lg{height: 41px;width: 100%;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            border-radius: 2px!important;}
            .subcribe{
                position: absolute;
                top: 0;
                #{$right}: -2px;
                height: 100%;
                button{
                    font-size: 14px;
                    background: $background2;
                    color: #222;
                    font-weight: bold;
                    border: none;
                    height: 100%;
                    padding: 6px 17px;
                    text-transform: uppercase;
                    overflow: hidden;
                    border-top-#{$right}-radius: 2px!important;
                    border-bottom-#{$right}-radius: 2px !important;
                    @include transition(all 0.3s ease-in-out);
                    &:hover{
                        background: darken(#e5c13a,10%)
                    }
                }
                .show-error{
                    color: #a94442!important;
                    background-color: #f2dede;
                    border: 1px solid #ebccd1;
                    padding: 0px 5px;
                    position: absolute;
                    min-width: 100px;
                    top: -37px;
                    border-radius: 2px;
                    #{$left}: -2px;
                    &:before {
                        content: "\f06a";
                        font-family: FontAwesome;
                    }
                }
            }
        }
    }
    .modcontent{padding: 36px 0 35px;}
    .group-content{
        display: inline-block;
        padding: 0 ;
        text-align: $left;
        color: #fff;
        vertical-align: top;
        position: relative;
        padding-#{$right}: 15px; 
         @media (min-width: 992px) {
            padding-#{$right}: 34px; 
        }
        h2{    
            font-size: 20px;
            font-weight: bold;
            margin: 0;
            text-transform: uppercase;
            color: #ffd741;
        }
        .page-heading-sub{font-size: 12px;margin: 0;}
    }
}

/*!
 *  [3] SOCIAL FOOTER
 */
.box-social{
    float: $right;
    padding: 38px 0 30px;
    display: inline-block;
    font-size: 14px;
    .socials-footer li {
        float: $left;
        width: 40px;
        height: 40px;
        cursor: pointer;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background: #012e60;
        text-align: center;
        line-height: 40px;
        margin-#{$left}: 10px;
        @include transition(all 0.3s ease-in-out);
        .fa{color: #fff;}
        &:hover{
            background: #ffd741;
            .fa{color: #222;}
        }
    }
}

/*!
 *  [4] TOP BRAND FOOTER
 */
.top-brand{
    padding: 4px 0 3px;
    .owl2-stage-outer{
        padding-bottom: 1px;
        direction: ltr;
        .item{
            @include transition(all 0.3s ease-in-out);
            &:hover{
                opacity: 0.7;
            }
        }
    }
    .owl2-controls .owl2-nav div{
        opacity: 1;
            color: #999;
            font-size: 20px;
            margin-top: -13px;
            border: none;
            background: transparent;
            position: absolute;
            top: 50%;z-index: 5;
            font-family: $FontAwesome;
        &:hover{color: $background;}
        &.owl2-prev{left: 0;}
        &.owl2-next{right: 0;}
    }
    .owl2-controls .owl2-nav div.owl2-prev:before{
        content: "\f053";
    }
    .owl2-controls .owl2-nav div.owl2-next:before{
        content: "\f054";
    }
}

/*!
 *  [6] POPURLAR TAG
 */
footer.typefooter-2 .style-dev-so-tags.module h3.modtitle{
    color: #222;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 0;
}
.style-dev-so-tags{
    padding: 20px 0;border-bottom: 1px solid #ddd;
    @media (min-width: 1200px) {
        padding: 20px 0 44px;
    }
    .
    a{color: #444;
        &:after{
            content: "|";
            display: inline-block;
            margin: 0 5px;
            color: #ddd;
        }
        &:last-child{&:after{display: none;}}
        &:hover{color: $linkColor;}
    }
}


/*!
 *  [10] MODULE SO DEALS
 */
.module.style-dev-so-deals{
    position: relative;
    overflow: hidden;
    margin-top: 35px;
    margin-bottom: 0;
    h3.modtitle{
        border: none;
        color:#ffd741;
        padding: 0;
        span{
            width: 100%;
            display: block;
            font-size: 16px;
            font-weight: bold;
            .fa{font-size: 18px; margin-#{$right}: 12px;}
        }
    }
    .so-deal .product-thumb{
        margin: 11px 0 33px;
    }
    .so-deal{
        margin: 0;
        &.button-type2{
            .owl2-nav{
                position: absolute;
                top: 45%;
                left: 0;
                width: 100%;
                pointer-events: none;
                z-index: 9;
                transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
            }
            .owl2-controls{margin: 0;line-height: normal;position: relative;z-index: 2;}
            .owl2-next,
            .owl2-prev{
                background: none;
                opacity: 1;
                border-radius: none;
                top: 30%;
                cursor: pointer;
                pointer-events: auto;
            }
            .owl2-prev{
                left: 10px;
                position: absolute;
                &:before{
                    content: "\f104";
                    font-family: fontawesome;
                    display: block;
                    color: #999;
                    font-size: 30px;
                    position: absolute;
                    #{$left}: 0;
                }
                &:hover{&:before{color: $linkColor;}}
            }
            .owl2-next{
                left: auto;
                position: absolute;
                right: 10px;
                &:before{
                    content: "\f105";
                    font-family: fontawesome;
                    display: block;
                    color: #999;
                    font-size: 30px;
                    position: absolute;
                    #{$right}: 0;
                }
                &:hover{&:before{color: $linkColor;}}
            }
            .owl2-dots{
                position: absolute;
                bottom: 0;
                width: 100%;
                background: #eee;
                border-top: 1px solid #ddd;
                padding: 11px 6px 10px ;
                border-radius: 0;
                text-align: center;
                .owl2-dot{
                    cursor: pointer;
                    display: inline-block;
                    height: 10px;
                    width: 10px;
                    background: #999;
                    margin: 0 2px;
                    border-radius: 0;
                    span{display: none;}
                    &.active{background: $background1;}
                }
            }
        }
        .extraslider-inner{
            clear: none;
            padding: 0;
            border: none;
            background: #fff;
            .box-head{
                position: relative;
                text-align: center;
                padding: 17px 10px;
                background: #014693;
            }
            .owl2-item{
                position: relative;
                .image{
                    
                }
                .item-timer{background: transparent;}
                .item-time{
                    top: auto;
                    bottom: auto;
                    left: auto;
                    right: auto;
                    position: relative;
                    .time-item{
                        width: auto;
                        font-size: 14px;
                        font-weight: bold;
                        line-height: 20px;
                        color: #fff;
                        background: #ffd741;
                        position: relative;
                        float: none!important;
                        display: inline-block;
                        border-radius: 3px;
                        border: none;
                        margin-#{$right}: 4px;
                        &:before{
                            content: ":";
                            position: absolute;
                            font-size: 20px; 
                            top: 5px;
                            color: #fff;
                            z-index: 3;
                            font-weight: normal;
                            #{$right}: -5px;
                        }
                        &.time-sec{&:before{display: none;}}
                        &.time-day, &.time-min{
                            background: #ffd741;
                             .name-time{
                                background: transparent;
                             }
                             .num-time{
                                background: #ffd741;
                             }
                        }
                        &.time-day{
                            .num-time{
                                min-width: 25px;
                                padding-#{$left}: 5px;
                            }
                            .name-time{
                                display: inline-block;
                                font-size: 14px;
                                font-weight: bold;
                                color: #222;
                                padding-#{$right}: 5px;
                            }
                        }
                        .name-time{
                            display: none;
                        }
                        .num-time{
                            display: inline-block;
                            border: none;
                            background: #ffd741;
                            padding: 6px 0;
                            position: relative;
                            z-index: 2;
                            min-width: 32px;
                            border-radius: 3px;
                            font-weight: bold;
                            color: #222;
                        }
                        
                    }
                    
                }
                .caption{
                    margin: 0;
                    padding: 0 15px 20px;
                    text-align: center;
                    overflow: hidden;
                    h4 a{
                        font-size: 14px;
                        font-weight: bold;
                        color: #222;
                        &:hover{
                            color:$linkColor;
                        }
                    }
                    .price .price-new, .price span.price{font-size: 16px; color: #ff4400;}
                }
                
            }
        }
    }
}

/*!
 *  [11] MODULE SO SLIDER HOME
 */
.module.slideshow{
    margin: 0;
    @media (min-width: 1200px) {
        max-height: 492px;
    }
    img{width: 100%; }
    .owl2-controls{
        .owl2-dots{
            bottom: 0;
            .owl2-dot span{margin: 0 5px; width: 12px; height: 12px;}
        }
    }  
}

/*!
 *  [12] PAGEBUILDER HTML FOOTER
 */
.h4-custom-html{
    margin-bottom: 22px;    
    .item{
        text-align: center;
        .icon{
            margin: 0 0 18px;
            display: block;
        }
        h3.title{
            font-size: 14px;
            color: #444;
            margin: 0 0 3px;
            font-weight: bold;
            text-transform: uppercase;
        }
        .content{
            font-size: 12px;
            line-height: 16px;
            color: #666;
        }
        &:hover{cursor: pointer;
            h3.title{color: $linkColor;}
        }
    }
}

/*!
 *  [13] SO EXTRASLIDER
 */
.module.style-dev-so-extraslider{
    position: relative; background: #fff;border: 1px solid #ddd;margin-bottom: 10px;
    h3.modtitle{margin: 0;}
    .so-extraslider.button-type1 .owl2-dots{display: none !important;}
    .products-list.grid .product-layout .product-item-container:hover{
        box-shadow: none;
    }
    .products-list.grid .product-layout .product-item-container .left-block{
        padding-bottom: 12px;
    }
    .price{margin-bottom: 14px;}
    .so-extraslider{
        margin: 0;
        border-width: 0 1px 0 0;
        border-style: solid;
        border-color: #f7f7f7;
        .owl2-controls{ top: -45px; #{$right}: -1px!important;};
        .owl2-controls .owl2-nav {
           
            div.owl2-prev, div.owl2-next{
                height: 43px;
                width: 34px;
                border-radius: 0;
                background: #fff;
                opacity: 1;
                border: none;
                color: #222;
                float: left;
                margin: 0;
                padding: 0;
                text-align: center;
                @include transition(all 0.3s ease-in-out);
                .fa{
                    font-size: 20px;
                    line-height: 38px;
                    text-align: center;
                    
                }
                &:hover{
                    background: #ffd741;
                    color: #222;
                }
            }
        }
        .extraslider-inner{
            clear: inherit;
            padding-bottom: 0;
            .item{
                
                .item-wrap{
                    .item-wrap-inner{
                        margin: 0;
                        padding: 0;
                        
                        .item-image{
                            border: none;
                            padding: 30px 15px;
                            img{width: auto;}
                            .label-sale{
                                #{$left}: -38px;
                                top: 6px;
                                z-index: 9;
                            }
                        }
                        .item-info{
                            background: #fff;
                            text-align: center;
                            .item-title {margin: 0 0 5px;padding: 0 10px;
                                a{
                                font-size: 14px;
                                color: #666;
                                text-transform: inherit;
                                &:hover{
                                    color: $linkColor;
                                }
                                }
                            }
                            .content_price{
                                .product-price{
                                    font-size: 16px;
                                    font-weight: bold;
                                    color: #df1f26;
                                }
                                .price-percent-reduction, .price-old{font-size: 12px;color: #999;}
                                
                            }
                            .item-des{color: #666;}
                            .wishlist{margin: 0;}
                        }
                    }
                }
            }
            
        }
    }
}

/*!
 *  [13] SO LATEST BLOG
 */
.module.so-latest-blog{
    position: relative;
    border: 1px solid #ddd;
    h3.modtitle{
        margin: 0;
    }
    .caption {
        h4{font-size: 15px;}
    }
    .thumbnail {
        margin: 0;
        padding: 0;
        border: none;
    }
    .description{
        font-size: 12px;
        color: #666;
        line-height: 20px;
    }
    .blog-external .media{
        padding-bottom: 5px!important;
    }
    .media-subcontent{
        margin: 0;
    }
    .so-blog-external{
        position: static;
        background: #fff;
        &.button-type2 .owl2-nav{
            float: none;
            text-align: right;
            margin-bottom: 0;
            position: absolute;
            #{$right}: 0;
            z-index: 5;
            top: 0;
            > div{
                position: relative;
                height: 43px;
                width: 34px;
                border: none;
                background: transparent;
                color: #222;
                float: none;
                margin: 0;
                border-radius: 0;
                text-align: center;
                display: inline-block;
                @include transition(all 0.3s ease-in-out);
                opacity: 1;
                font-weight: normal;
                &.owl2-next{
                    @include if-rtl {
                        left: 35px;right: auto;position: absolute;
                    }
                    &:before {
                        content: "\f105";
                        font-family: FontAwesome;
                        line-height: 38px;
                        color: #222;
                        font-size: 20px;
                    }
                }
                &.owl2-prev{
                    @include if-rtl {
                        left: 0;right: auto;position: absolute;
                    }
                    &:before {
                        content: "\f104";
                        font-family: FontAwesome;
                        line-height: 38px;
                        color: #222;
                        font-size: 20px;
                    }
                }
                &:hover{
                    background: #ffd741;
                }
            }
        }
        .owl2-controls {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
            z-index: 2;
            margin: 0;
            .owl2-dots{margin: 0;}
            .owl2-dot{
                height: 12px;
                width: 12px;
                border-radius: 12px;
                background: #909090;
                margin: 0 2px;
                span{display: none;}
                &.active{background: $background1;}
            }
        }
        .blog-external{
            padding: 0;
            border: none;
            .media{
                margin: 0;
                padding: 14px 0;
                > .item {
                    border: none;
                    .media-left{
                        float: none;
                        margin: 0 0 18px;
                        padding: 0;
                        text-align: center;
                        img{margin: auto;
                            &:hover{
                                opacity: 0.7 ;
                            }
                        }
                        
                    }
                    .media-body{
                        padding: 0 20px;
                        .media-heading{margin: 0;
                            a{
                            font-size: 14px;
                            color: #666 !important;
                            font-weight: bold;
                            line-height: 22px;
                            &:hover{
                                color: $linkColor !important;
                            }
                            }
                        }
                        .description{font-size: 12px;color: #666;line-height: 22px;padding: 2px 0;}
                    }
                }
            }
        }
        &:hover{
            img{opacity: 0.8}
        }
    }
} 

/*!
 *  [14] SO CUSOM HTML
 */
.module.custom-testimo{
    border: 1px solid #ddd;
    h3.modtitle{margin: 0;}
    .owl2-stage-outer{
        direction: ltr;
    }
    .owl2-controls{
        .owl2-nav{
            position: absolute;
            #{$right}: 0;
            top: -45px;
            @include if-rtl {
                top: -55px;
            }
            > div{
                position: relative;
                height: 43px;
                width: 34px;
                border: none;
                float: left;
                @include transition(all 0.3s ease-in-out);
                &:hover{ background: #ffd741; color: #222;}
                &.owl2-next{
                    @include if-rtl {
                        left: 35px;right: auto;position: absolute;top: 10px;
                    }
                    &:before {
                        content: "\f105";
                        font-family: FontAwesome;
                        line-height: 38px;
                        color: #222;
                        font-size: 20px;
                    }
                }
                &.owl2-prev{
                    @include if-rtl {
                        left: 0;right: auto;position: absolute;top: 10px;
                    }
                    &:before {
                        content: "\f104";
                        font-family: FontAwesome;
                        line-height: 38px;
                        color: #222;
                        font-size: 20px;
                    }
                }
            }
        }
        .owl2-dots{position: relative;bottom: 0;left: 0; right: 0;
            border-top: 1px solid #ddd;
            padding: 13px 0;
            span{
                background: #d6d6d6;
                border-radius: 0;
                width: 10px;
                height: 10px;
            }
            > div{float: none;display: inline-block;}
            .active{  span{background: $background1;}}
        }
    }
    .testimonial-slider{
        text-align: center;
        background: #fff;
        img{padding-top: 25px;}
        .client-name{ padding-top:6px; font-size: 16px;font-weight: bold;color: $background1}
        .item-inner{
            padding-bottom: 23px;
            .client-des{
                font-size: 12px;
                color: #666;
                padding: 0 10px;
                line-height: 20px;
                position: relative;
                @media (min-width: 1200px) {
                    padding: 0 40px;
                }
                &:before {
                    content: "\f10d";
                    font-family: FontAwesome;
                    position: absolute;
                    left: 18px;
                    font-size: 25px;
                    top: -3px;
                    color: #eeeeee;
                }
                &:after {
                    content: "\f10e";
                    font-family: FontAwesome;
                    position: absolute;
                    font-size: 25px;
                    right: 15px;
                    bottom: -8px;
                    color: #eeeeee;
                }
            }
        }
    }
}

/*!
 *  [15] SO LISTING TAB
 */
.module.style-dev-so-listing-tabs{
    position: relative;
    margin: 0 ;
    display: block;
    overflow: hidden;
    h3.modtitle{
        margin: 0;
    }
    .products-list.grid .product-layout .product-item-container {
        padding: side-values(6px 10px 17px!important);
    }
    .so-listing-tabs{margin: 0;background: #fff;    border: 1px solid #ddd;overflow: visible;
        .ltabs-tabs-container{margin: 0;}
    }
    .owl2-controls{
        position: absolute;
        top: 1px;
        #{$right}: 0;
        width: 100%;
        .owl2-nav {
            div.owl2-prev{
                content: "\f104";
                top: 0px;
                left: auto;
                right: 35px;
                @include if-rtl {
                    left: 1px;
                    right: auto;
                }
            }
            div.owl2-next{
                content: "\f105";
                top: 0;
                left: auto;
                right: 0;
                @include if-rtl {
                    left: 34px;
                    right: auto;
                }
            }
            div.owl2-prev, div.owl2-next{
                height: 42px;
                width: 36px;
                border-radius: 0;
                background: #fff;
                opacity: 1;
                border: none;
                color: #222;
                font-size: 0;
                margin: 0;
                padding: 0;
                text-align: center;
                @include transition(all 0.3s ease-in-out);
                &:before{
                    font-size: 20px;
                    line-height: 38px;
                    text-align: center;
                    
                }
                &:hover{
                    border-color: #ffd741;
                    color: #222;
                    background: #ffd741;
                }
            }
        }
    }
    .ltabs-wrap .modtitle{
        float: $left;
        border: none;
        padding: side-values(14px 0 13px 62px);
    }
    .ltabs-tabs-container{
        float: $right;
    }
    .box-title{
        border-bottom: 2px solid $background1;
        height: 44px;
        line-height: 44px;
    }
    .so-listing-tabs .ltabs-wrap{
        overflow: visible;
    }
    .list-sub-cat{
        padding: 0;
        border: none;
        display: block;
        margin: side-values(0 85px 0 0) ;
        li.item-cate{
            display: inline-block;
            float: $left;
            border: none;
            text-align: center;
            padding: 0;
            margin: 0;
            height: 44px;
            line-height: 44px;
            position: relative;
            width: inherit;
            .ltabs-tab-img{
                margin: 0;
                float: none;
                height: auto;
                img{
                display: block;
                height: 35px;
                margin: 10px auto;
                background: none !important;
                }
            }
            .title-sub-cate{
                padding: side-values(0 18px 0 28px);
                font-weight: bold;
                text-transform: uppercase;
                font-size: 12px;
                border-radius: 0;
                color: #666;
                
                &:before {
                    content: "";
                    width: 4px;
                    height: 4px;
                    background: #555;
                    position: absolute;
                    #{$left}: 18px;
                    top: 21px;
                }
            }
            &:hover{
                background: transparent;
                .title-sub-cate{
                    color: $linkColor;
                }
            }
            &.tab-sel{
                background: transparent;
               
                .title-sub-cate{
                    color: $linkColor;
                    &:before {
                        background: $background1;
                    }
                     &:after {
                        border: 2px solid $background1;
                        border-bottom: 2px solid #fff;
                        content: "";
                        position: absolute;
                        width: 100%;
                        height: 45px;
                        top: -1px;
                        #{$left}: 0;
                    }
                }
            }
        }
    }
    .wap-listing-tabs{
        border: none!important;
        position: relative;
        clear: both;
        .item-cat-image{
            width: 23.076923076%;
            float: $left!important;
            img{
                &:hover{
                    opacity: 0.7;
                }
            }
        }
        .ltabs-items-container{
            .product-item-container{
                @media (min-width:1200px){
                    min-height: 329px;
                }
                .left-block{
                    padding: 15px 0 15px;
                } 
                .caption h4 a {
                    font-weight: 600;
                    color: #222;
                }
            }
            .ltabs-items .ltabs-item {
                margin-bottom: 0;
                .item-inner {
                    margin: 0;
                    border:none;
                    text-align: center;
                    padding:  0;
                    overflow: hidden;
                    margin-#{$left}: -1px;
                    @media (min-width:1200px){
                        min-height: 330px;
                    }
                    .image{position: relative;padding: 10px ;
                        img{width: auto;background: none;}
                        .label-sale{background: #ff7e00;}
                        .label-new{background: #01b1e2}
                        .label-sale, .label-new{
                            transform: rotate(-45deg);
                            -moz-transform: rotate(-45deg);
                            -webkit-transform: rotate(-45deg);
                            -ms-transform: rotate(-45deg);
                            font-size: 12px;
                            left: -28px;
                            top: -12px;
                            height: 25px;
                            line-height: 25px;
                            padding: 0;
                            min-width: 110px;
                            font-weight: bold;
                            z-index: 2;
                            &:after{
                                display: none;
                            }
                        }
                    }
                    .caption{
                        
                        text-align: center;
                        .item-title {margin: 0 0 5px;padding: 0 10px;
                            a{
                            font-size: 14px;
                            color: #666;
                            text-transform: none;
                            font-weight: bold;
                                &:hover{
                                    color: $linkColor;
                                }
                            }
                        }
                        .price{
                            .price-new{
                                font-size: 16px;
                                font-weight: bold;
                                color: #df1f26;
                            }
                            .price-old{color: #999;}
                            
                        }
                        .item-des{color: #666;}
                        .rating{margin: 0 0 5px;
                        }
                        .wishlist{margin: 0;}
                    }
                }
            }
        }
    }
}