.container-fluid{padding:0; overflow:hidden;}
.row_e095{padding:0 0 30px 0; overflow:hidden;}

/* Style Html */ 
@media (max-width: 1199px){.banners a{width: 34.7% !important;}.banners a:last-child{width: 28.5% !important;}}
.row_7bd8{margin:0 -15px 30px -15px; overflow:hidden;}

