.container-fluid{padding:0; overflow:hidden;}
.col_1o1s{margin:20px 0px 0px 0px; overflow:hidden;}
/* Style Html */ 
@media (max-width: 767px){
 .banners a{
  margin: 0 0 10px 0;
}
 .banners a:last-child{
  margin: 0;
}
}
