/*============FOOTER DEFAULT==================*/
footer{ 
  @include rem(font-size, 12px);
  .module{ margin: 0; 
    h3.modtitle,h3.footer-title{@include rem(font-size, 16px);  border: none;text-transform: capitalize; margin:0 0 10px; font-weight: normal;color: $gray-dark}
  }
  
  //---- MODULE NEWLETTER -------
  .newsleter-basic{margin: 0;padding: 8px 0;
    .so-custom-default{border: none;background: none;color: white;
      .form-control {
          height: 42px;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          border-radius: corner-values(3px 0 0 3px);
      }
      .btn-default{padding: 11px 20px;margin-#{$right}: 30px;}
      .popup-title{font-size: 16px; font-weight: bold;}
    }
  }
  
  //---- MODULE POPUPLAR TAG -------
  .so-popular-tag{
    .box-content{border: none;background: none;padding: 0;}
    a{background: none;margin: 0;padding: 0; @include linkGrayDark();
        &:after{
            content: "|";
            display: inline-block;
            margin: 0 3px;
            color: #ccc;
        }
        &:last-child{&:after{display: none;}}
        &:hover{background: none;}
    }
  }
  
  //---- BLOCK FOOTER TOP ----
  .footer-top{ @include rem(font-size, 12px); padding: 30px 0 20px;
      .module{
        ul.menu{@extend ul.blank;
         li a{
             display: block; 
             padding: side-values(3px 0px 3px 10px) ;
             position: relative;
             @include linkGrayDark();
             
            &:before{
              position: absolute;
                content: "\f0da";
                font-family: FontAwesome;#{$left}: 0;
                @include if-rtl {
                  content: "\f0d9";
                }
             }
          
         }
        }
        ul.contact-address{ @extend ul.blank;
           li{
              .fa{
                 color: $linkColor;
                 font-size: 18px;
                 margin-#{$right}: 5px;
                &.fa-envelope-o{
                 font-size: 12px;
                }
              }
           }
        }
      }   
  }
  
  //---- BLOCK FOOTER CENTER ----
  .custom-html-footer{
      .item{ @include rem(font-size, 12px);
          text-align: center;
          .icon{
              margin: 0 0 20px;
              display: block;
          }
          h3.title{
               @include rem(font-size, 12px);
              color: #444;
              margin: 0 0 3px;
              font-weight: bold;
          }
          .content{
              line-height: 16px;
          }
          &:hover{cursor: pointer;
            h3.title{color: $linkColor;}
          }
      }
  }
  
  //---- SOCIAL FOOTER----

  .box-social{
      float: $right;
      padding: 38px 0 30px;
      display: inline-block;
      font-size: 14px;
      
      .socials-footer{list-style: none; padding: 0;}
      .socials-footer li {
          float: $left;
          width: 40px;
          height: 40px;
         
          margin: 0;
          cursor: pointer;
          
          border-radius: 2px;
          background: #6b7496;
          text-align: center;
          line-height: 40px;
          margin-#{$left}: 10px;
          @include transition(all 0.3s ease-in-out);
          .fa{color: #fff;}
          &:hover{
              background: $background;
              
          }
      }
  }

  /*============FOOTER 1 ==================*/
  &.typefooter-1{
      
      &.footer-container{background: $gray-lighter;}
     
      .footer-midde-block1{
        background: $table-border-color;
        border: 1px solid $input-border;
        padding: 30px  0;
      }
      
      .footer-midde-block2 .container .style-dev-so-tags{ padding: 20px 0 10px; border-bottom: 1px solid $table-border-color;}
      .footer-bottom {padding: 20px 0;}
      .footer-newsletter{
          background:url('#{$imgPath}footer/newsletter-bg.jpg') no-repeat;
          background-size: cover;
       }
      .footer-center{
          ul.menu li{
              a{
              padding-#{$left}: 15px;
              float: $left;
              width: 100%;
              margin: 3px 0;
              position: relative;
              color: #6d6d6d;
              &:before{
                position: absolute;
                content: "";
                top:10px;
                #{$left}: 0;
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background: #6d6d6d;
              }
              &:hover{
                color: $background1;
              }
            }
            &:hover{
              color: $background1;
              a{
                &:before{
                  background: $background1;
                }
              } 
            }
          } 
      }
  }


  /************************************************************************************************
    BLOCK FOOTER 2
  ************************************************************************************************ */
  &.typefooter-2,
  &.typefooter-3{
    @include rem(font-size, 13px);
     .module h3.modtitle,
     .module h3.footer-title{
      font-size: 16px;
      border: none;
      text-transform: uppercase;
      margin-bottom: 3px;
      font-weight: bold;
      color: #444;
      padding: 0 0 10px 0;
      position: relative;
    }
    .footer-midde-block1{
       background: #fff;
       border-top: 1px solid #ddd;
       border-bottom: 1px solid #ddd;
       padding: 0;
    }
    &.footer-container{
      background-color: #eee;
      
      .footer-top.footer-top-block{
        padding-bottom: 15px;
        .module{ margin-bottom:17px; };
        p{font-size: 12px;}
        ul.menu{
         li{
            @include transition(all .3s ease 0s);
            &:hover{ padding-#{$left}: 10px;}
            a{
              font-size: 13px;
              color: #444;
              font-weight: 500;
              display: block; 
              padding: side-values(3px 0px 3px 10px) ;
              position: relative;
              &:before{
                position: absolute;
                content: "\f0da";
                font-family: FontAwesome;#{$left}: 0;
                @include if-rtl {
                  content: "\f0d9";
                }
              }
              &:hover{color: $linkColor;}
            }
          } 
        }
        ul.contact-address{
          li{
            font-size: 14px;
            font-weight: 500;
            color: #444;
            line-height: 28px;
            .fa{
              color: $linkColor;
              font-size: 16px;
              margin-#{$right}: 5px;
              &.fa-envelope-o{ font-size: 12px;}
            }
          }
        } 
        @media (min-width: 1200px) {
          .collapsed-block.footer-links{
            width: 25%!important;
            img{  margin-top: 13px; display: inline-block;  }
          }
          .box-account,
          .box-information,
          .box-service,
          .collapsed-block{
            width: 18.75%;
          }
        } 
      }
    }
    .footer-center{
      .footer-midde-block2{
        @media (min-width: 1200px) {
              padding-top: 28px;
        }
      }
    }
    .footer-bottom { 
      padding: 20px 0; text-align: center;
      .copyright-text { color: #444; font-size: 12px; font-weight: 500; }
    }
    .footer-top-block hr{clear: both;border-color: $base-border-color;margin: 10px 15px;display: inline-block;width: 100%;}
      
      /*!
      *  [6] POPURLAR TAG
      */
     footer.typefooter-3 .style-dev-so-tags.module h3.modtitle{
         color: #222;
         text-transform: capitalize;
         font-size: 14px;
         font-weight: bold;
         margin-bottom: 10px;
         padding: 0;
     }
     .style-dev-so-tags{
         padding: 20px 0;border-bottom: 1px solid #ddd;
         @media (min-width: 1200px) {
             padding: 0px 0 40px;
         }
         .
         a{color: #444;
             &:after{
                 content: "|";
                 display: inline-block;
                 margin: 0 5px;
                 color: #ddd;
             }
             &:last-child{&:after{display: none;}}
             &:hover{color: $linkColor;}
         }
     }
    /*!
    *  [2] NEWLETTER BOX
    */
   .newsletter{
       border:none;
       border-radius: 0;
       .group-form{
           display: inline-block;
           min-width: 57.5%;
           padding-left: 10px;
           vertical-align: top;
           margin-top: 2px;
           .form-group{
               position: relative;
               margin: 0;
               border-radius: 6px;
               bottom: 0;
               padding: 0;
               margin-#{$right}: 2px;
               .input-lg{
                   height: 41px;width: 100%;
                   background: $white;
                   padding-#{$left}: 20px;
                   box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
                   border-radius: 2px!important;}
               .subcribe{
                   position: absolute;
                   top: 0;
                   #{$right}: -2px;
                   height: 100%;
                   button{
                       @include buttonColorLighten(10%); //inherit _utilities.less
                       font-size: 14px;
                       border: none;
                       height: 100%;
                       padding: 6px 17px;
                       text-transform: uppercase;
                       overflow: hidden;
                       border-radius: side-values(0 2px 2px 0);
                       border-top-#{$right}-radius: 2px!important;
                       border-bottom-#{$right}-radius: 2px !important;
                       
                   }
                   .show-error{
                       font-size: 12px;
                       color: #fff!important;
                       margin-left: 10px;
                       position: absolute;
                       right: 0;
                       z-index: 999;
                       bottom: 50px;
                       min-width: 150px;
                       background: red;
                       border-radius: 3px;
                   }
               }
           }
       }
       .modcontent{padding: 36px 0 35px;}
       .group-content{
           display: inline-block;
           padding: 0 ;
           text-align: $left;
           color: #fff;
           vertical-align: top;
           position: relative;
           padding-#{$right}: 15px; 
            @media (min-width: 992px) {
               padding-#{$right}: 34px; 
           }
           h2{    
               font-size: 20px;
               font-weight: bold;
               margin: 0;
               text-transform: uppercase;
               color: $background;
           }
           .page-heading-sub{font-size: 12px;margin: 0;}
       }
   }

  }
}