/*===============================================
	[SASS DIRECTORY ]
	
    [1] MODULE DEFAULT
    [2] BLOCK SEARCH
    [3] SOCIAL FOOTER
	
==============================================*/

/*============MODULE DEFAULT ==================*/
.module {margin-bottom: 30px; @include clearfix();
    h3.modtitle{font-size: 16px; color: $gray;margin: 0 0 15px;text-transform: uppercase;position: relative;z-index: 1;}
}

.icon-style{
    h3.modtitle{
        font-size: 14px;
        padding: 11px 10px;
        background: #eee;
        margin: 0;
        border-bottom: 1px solid $linkColor;
        .fa {
            width: 40px;
            line-height: 40px;
            text-align: center;
            margin: side-values(-11px 10px -11px -10px);
            background: $background1;
            color: #fff;
            font-size: 16px;
            #{$left}: 0;
        }
    }
    
}
.top-brand.arrow-default .owl2-nav {
    position: static;
}
.yt-content-slider.arrow-default .owl2-nav{ position: static; }
.module.sohomepage-slider .so-homeslider img{ transform-style: initial; }
.title-margin{
    h3.modtitle{margin-bottom: 15px;}
}
.title-underline{
    h3.modtitle{font-size: 16px; border-bottom: 1px solid #e6e6e6;margin: 0 0 6px;padding: 9px 0; text-transform: uppercase; font-weight: bold; position: relative;
        &:after{content:" "; width: 125px; height: 1px; background: $background1; display: block; position: absolute; bottom: 0;margin-bottom: -1px; }  
    }
    
}

.bordered_content {
	border-radius:3px;
	border:1px solid #eaeaea;
	background:#ffffff;
}
.yt-content-slider .owl2-controls{margin: 0;}

/*============MODULE NEWLETTER POPUP ==================*/
.main-newsleter-popup{
    .so-custom-popup{background-color: $white; border-radius: 5px;
        @include breakpoint(sm){width:85% !important;
            &:before{content: "";position: absolute;z-index: 2;background: rgba(255,255,255,0.9);width:100%;height: 100%;top:0;right: 0;}
        }
         @include breakpoint(xs){
            &:before{content: "";position: absolute;z-index: 2;background: rgba(255,255,255,0.9);width:100%;height: 100%;top:0;right: 0;}
        }
    }
    .modcontent{position: relative;z-index: 9;}
    .so-custom-popup .oca_popup .popup-content{padding: 15px 10px; text-align: center;
        @include breakpoint(lg){padding: 60px 30px;padding-left: 55%;margin: 0 20px;}
        @include breakpoint(md){padding: 60px 30px;padding-left: 55%;margin: 0 20px;}
        .popup-title{font-weight: bold;font-size: 22px;color: $gray-dark;text-transform: uppercase;}
        .newsletter_promo {font-size: 18px;color: $linkColor;font-weight: bold;}
        .email{margin: 30px 0;}
        .form-control{
                background: white;
                border: 1px solid #ddd;
                border-radius: 3px;
                height: 41px;
                max-width: 280px;
                display: inline-block;
                width:100%;
        }
        .hidden-popup{font-weight: normal;}
        .btn-default{margin-bottom: 20px;min-width: 160px;text-transform: uppercase; padding: 10px;}
        .newsletter_promo{padding: 10px 0;}
    }
}
/*============MODULE MEGAMENU ==================*/
.header-bottom .vertical-wrapper {
	position: absolute;
	display: none;
	top: 100%;width:90%;
	z-index: 10;
	border-width: 0 1px 1px 1px;
	
}

/*============MODULE BREADCRUMB ==================*/
.breadcrumb{
	padding: 8px 0;
    margin-bottom: 30px;
    list-style: none;
    background-color: transparent;
    border-radius:0;
    border-bottom: 1px solid #eeeeee;
    color: #444444;
    font-size: 12px;
    li a{
    	font-weight: normal;
    	color: #444444;
		@include linkGray();
    }
   
	@include if-ltr {
        >li+li:before {
		    padding: 0 5px;
	      	content: '\f105';
		 	display: inline-block;
		  	font-family: FontAwesome;
		  	color: #444444;
		}
    }
    @include if-rtl {
        >li+li:before {
		    padding: 0 5px;
	      	content: '\f104';
		 	display: inline-block;
		  	font-family: FontAwesome;
		  	color: #444444;
		}
    }
	
}
/*============ MODULE MEGAMENU VERTICAL  ==================*/
.container-megamenu.vertical {
    a{@include linkGray(); font-size: 13px;display: block;}
    #menuHeading{cursor: pointer;
        .megamenuToogle-wrapper{
            .container{
               
                > div{
                    margin:side-values(3px 9px 0 0);
                    float: $left!important;
                }
            }
        }
    }
    .vertical-wrapper{
        border-width: side-values(0 1px 1px 1px);
        border-style: solid;
        border-color: #ddd;
        margin: 0;
        padding: 10px 0 0;
        box-shadow: none;
        border-radius: 0;
        ul.megamenu > li > a img{height: auto; margin: 0;margin-#{$right}: 10px;}
        &:before{
            border-color:  transparent transparent #fff;
            border-style: solid;
            border-width: 0 8px 10px;
            top: -10px;
            content: "";
            height: 0;
            position: absolute;
            width: 0;
            z-index: 1;
            #{$left}: 20px;
        }
        ul.megamenu > li{
            margin: 0;
            border: none;
            b.fa{
                position: relative;
                top: 3px; 
                float: $right;
                @include if-rtl {
                    &:before {
                        content: "\f104";
                    }
                }
            }
            > a{
                padding: side-values(7px 15px 7px);
                font-size: 13px;
                margin: 0;
                color: #444;
                line-height: 24px;
                background: #fff !important;
                strong i{font-size: 9px;padding-#{$right}: 5px;color: #999;}
            }
            &:hover{
                > a{
                    background: $background1 !important;
                    color: #fff;
                    i{color: #fff;}
                }
            }
        }
        ul.megamenu {
            .title-submenu{color: #444;}
            .fa-caret-right{float: $right;margin-top: 5px;color: #999;padding: 0;}
            .item-vertical.vertical-style1{
                
                .content{
                    padding:side-values(20px 0 0 20px);
                    overflow: hidden;
                    .col-sm-4{padding: 0;
                        img{
                            margin-top: 45px;
                        }
                    }
                    > .border{border: none;padding: 0;}
                    .row:nth-child(3){
                        padding: 12px 0px;
                        background: #eee;
                        margin: 0 -20px;
                    }
                }
            }
           
            .item-vertical.vertical-style2{
                .content{
                    padding-#{$right}: 0;
                    padding-bottom: 0;
                    padding-top: 0;
                    .static-menu .menu ul li{
                        padding: 0;
                        line-height: 26px;
                        a.main-menu{margin: 0 0 10px;}
                    }
                    .static-menu .menu > ul{
                        margin-top: 20px;
                        ul li{padding: 1px 0; }
                        > li{margin: 0 0 20px;
                            &:last-child{margin: 0 ;}
                        }
                    }
                }
            }
            .item-vertical.vertical-style3{
                .content{
                    
                    > .border{border: none;padding: 0;}
                    .image-position{
                        position: absolute;
                        bottom: 30%;
                        #{$right}: -20px;
                    }
                }
            }
            .item-vertical.css-menu{
                .content{
                    padding: 0;
                    .menu > ul{
                        padding: 0;
                        >li{
                            padding: 5px 20px;
                            position: relative;
                            border-bottom: 1px solid $base-border-color;
                            line-height: 25px;
                            &:last-child{border: none;}
                            b{
                               position: relative;
                               top: 4px;
                                
                            }
                            &:hover{ >a{color: $linkColor;}}
                            ul{
                                padding: 0;
                                top: 0;
                                margin: 0;
                                box-shadow: 2px 2px 2px rgba(0,0,0, 0.2);
                                border: 1px solid #e6e6e6;
                                &:before, &:after{display: none;}
                                #{$left}: 100%;
                                li{
                                    line-height: 22px;
                                    padding: 5px 20px;
                                    border-bottom: 1px solid #ddd;
                                    &:last-child{border: none;}
                                    > a{
                                        font-weight: normal;
                                    }

                                }
                            }
                        }
                    }
                }
            }
            li .sub-menu{
                @include if-rtl {
                    left: auto;
                    right: 100% !important;
                }
            }
            li .sub-menu .content{
                
                @include if-ltr {box-shadow: 3px 1px 4px 0 rgba(0, 0, 0, 0.1);}
                @include if-rtl {box-shadow: 1px 3px 4px 0 rgba(0, 0, 0, 0.1);}
                border: 1px solid #e6e6e6;
                .hover-menu a{
                    &:before{display: none;}
                    &:hover{
                        &:before{color: $linkColor;}
                    }
                }
                .static-menu .menu {
                    > ul > li{padding-top: 25px;&:nth-child(1){padding-top: 0;}}
                    ul{
                        
                        li a.main-menu{
                            color: #444;
                            font-size: 18px;
                            margin: 0 0 15px;
                            display: block;
                            font-weight: normal;
                            text-transform: capitalize;
                            border: none;
                            padding-bottom: 0;
                        }
                        ul{
                            padding: 0;
                            li{padding: 2px 0;font-size: 12px;line-height: 22px;
                                a{
                                    font-size: 12px;
                                    font-weight: normal;
                                    @include linkGray();
                                    display: block;
                                }
                                &:before{
                                    display: none;
                                }
                                &:hover{
                                    color: $linkColor;
                                }
                            }
                        }
                    }
                }
            }
            .loadmore{
                border-top: 1px solid $base-border-color;
                background: #fff;
                cursor: pointer;
                &:hover{
                    background: $background1;
                    color: #fff;
                    span{color: #fff;}
                }
            }
        }
       
    }
}
/*============CATEGORY SIMPLE BLOG==================*/
.blog-category{border-radius: 0; border: 0; box-shadow: none;
    .box-content{margin-bottom: 30px;
        ul{margin-bottom: 0;}
    }
    ul li.list-group-item{border-radius: 0;border: 0;border-bottom: 1px dotted #E4E4E4;margin: 0;padding: 10px 0;
        a{@include linkGray();}
		.active, .active:hover{color: $linkColor;}
    }
}

/*============MODULE FILTER ==================*/

.module.so_filter_wrap{
    border: none;
    h3.modtitle{
        background: transparent;
        padding: 0;
        border-bottom: 0;
        font-size: 20px;
        span{
            padding: 0;
        }
    }
    .modcontent{
        border: 1px solid $base-border-color;
        border-top: 1px solid $background;
        background: #fff;
        border-radius: 0;
        .so-filter-content-opts{
            border: none;
        }
        .so-filter-heading{
            background: transparent;
            padding: 0;
            i{padding: 18px 0 0;}
            .so-filter-heading-text{
                float: $left;
                padding: 15px 0 0px;
                color: #444;
                font-weight: 700;
                text-transform: uppercase;
            }
        } 
        .so-filter-content-opts-container{
            padding-top: 5px;
            padding-left: 0px;
            padding-right: 0px;
            padding-bottom: 15px;
            .so-filter-option label{ font-size: 12px; }
            .opt-select{ border: none;}
            .noUi-horizontal .noUi-handle{
                border-radius: 100%;
                &:before,
                &:after{display: none;}
              
            }
            .put-min_max{
                display: inline-block;
                background: #fff;
                border: 1px solid #ddd;
                width: 49%;
                padding: 0 5px;
                float: $left;
                &.put-min{ margin-#{$right}: 2%; }
                input{ background: transparent; }
            }
            .option-input{
               img{display: none;}
               .fa-check-square-o,
                .fa-square-o{display: none;}
            }
            .option-count.opt_close{background: $background;}
            .input-group{
                border: 1px solid #ddd;
                .form-control{
                    background: transparent;
                   
                }
                .btn.btn-default{
                    padding: 7px;
                    color: #555;
                    background: transparent;
                    border-radius: 0;
                    &:hover{background: $background; color: #fff;}
                }
            }
            
            .so-filter-option:hover{
                .option-input:before {
                    background-color: transparent;
                    border: 2px solid #999;
                }
            }
            .so-filter-option .option-input{
                &:before {
                    margin-top: -7px!important;
                }
                
            }
            .so-filter-option.opt_active .option-input{
                &:before {
                    background-color: transparent;
                    border: 2px solid #999;
                }
            }
            .so-filter-option .option-input,
            .so-filter-option-sub{
                position: relative;
                padding-#{$left}: 14px;
                margin-bottom: 5px;
                &:before {
                    display: inline-block;
                    content: "";
                    width: 12px;
                    height: 12px;
                    position: absolute;
                    top: 50%;
                    margin-top: -10px;
                    #{$left}: 0;
                    background-color: #999;
                    @include transition(all 0.2s ease-in-out);
                }
                &:hover:before {
                    background-color: transparent;
                    border: 2px solid #999;
                }
                .fa-circle{
                    display: none;
                }
            }
        }
        .noUi-horizontal .noUi-handle{
            top: -7px;
        }
        li.so-filter-options{
            margin-left: 20px;
            margin-right: 20px;
            border-bottom: #ddd 1px dotted;
            margin-bottom: 7px;
        }
        .so-filter-option.so-filter-price{
            text-align: $left;
            padding: 0;
           
        }
        .so-filter-content-opts-container ul li{
            float: $left;
        }

        .so-filter-option.so-filter-price .content_min_max{
            display: block;
            .txt-price-shopby{
                min-width: 60px;
                width: 49%;
                padding: 0 5px;
                display: inline-block;
                float: $left;
                border: 1px solid #ddd;
                display: inline-block;
                &.txt-price-shopby-fisrt{
                    margin-#{$right}: 2%;
                }
                span{
                    display: table-cell;
                    vertical-align: middle;
                    &.text-current{
                        position: relative;
                        top: 1px;
                    }
                }

            }
            .input_max,
            .input_min{
                padding: 0;
                margin: 0;
                max-width: 90px;
                min-width: 90px;
                padding-#{$left}: 10px;
                background: transparent;
                width: 90px;
                border: 1px solid #ddd;
                 @include breakpoint(md){
                    max-width: 60px;
                    min-width: 60px;
                    width: 60px;
                    padding-#{$left}: 5px;
                 }
            }
        }
        
        .noUi-handle{
            border: 2px solid $background1;
            width: 18px;
            height: 18px;
            left: -9px;
            cursor: pointer;
        }
        .clear_filter{
            padding: 19px 20px;
        }
        .content_scroll{
            margin: 20px 10px;
        }
        .noUi-connect{
            box-shadow: none;
            height: 4px;
            background: $background1;
        }
        .noUi-background {
            background: #dddddd;
            box-shadow:none;
            height: 4px;
        }
        .noUi-horizontal .noUi-handle-upper{
            #{right}: 18px;
        }
        .noUi-target{
            border: none;
        }
        .noUi-background{
            background: #dddddd;
        }
       
    }
     .modcontent .so-filter-content-opts-container .so-filter-option-sub{
        padding-left: 0;
        &:before{
            display: none;
        }
    }
     #btn_resetAll {
        background: #444 none repeat scroll 0 0;
        border-radius: 3px;
        color: #fff;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        margin: 10px 20px;
        padding: 8px 20px;
        text-transform: capitalize;
        width: auto;
        .fa.fa-times{
            display: none;
            color: $linkColor;
        }
    }
}
.so-filter-content-opts-container .option-count{background: $input-color-placeholder; min-width: 24px;text-align: center;
    &:not(.opt_close):after{    border-right-color: $input-color-placeholder;}
}
.so_filter_wrap  .modcontent {
	.so-filter-heading .so-filter-heading-text{float:$left;font-size: 14px;color: $gray;}
	.so-filter-heading i{float: $right;}
    .so-filter-content-opts-container label{font-weight: normal;}
	.so-filter-content-opts-container .option-count{float: $right;
		@include if-rtl {
			&:not(.opt_close):after{
				left:100%;
				right: auto;
				border-right-color: transparent;
				border-left-color: $input-color-placeholder;
				
			}
		}
	}
}

#content .filter-horizontal{
    .so-filter-heading{padding: 0 15px;}
    .so-filter-content-opts-container{padding: 15px;}
    ul{ @include display(flex);}
    li.so-filter-options{@include flex(1);
        border:none;
        border-#{$right}: 1px solid #eaeaea;
        margin: 0;
        &:last-child{border-right: none;}
    }
    .clear_filter{
        border-top: 1px solid #eaeaea;
    }
}
/*============MODULE CATEGORY ==================*/
.box-category { border:1px solid #e6e6e6;padding: 10px 20px 20px;}
.box-category ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.box-category > ul  > li {
    padding: 0px;
    position: relative;
    margin: 0;
    box-shadow: none;
    background: transparent;
    border-bottom:1px dotted #E4E4E4;
}
    
.box-category ul li a {
    
    padding: 6px 0;
    display: block;
    @include linkGray();
}
.box-category ul li a.active{color: $linkColor;}       
.box-category ul li .head a:before {
    content: "\f107";
    display: inline-block;
    font: normal normal normal 14px/1 $FontAwesome;
}
.box-category ul li .head .collapsed:before {content: "\f105";}
.box-category ul li .head {
    display: block;
    position: absolute;
    top: 5px;
    line-height: 20px;
    #{$right}: 10px;
    text-align: center;
    
}
.box-category ul li .head a {
  
    @include buttonGraylight();
    width:20px;height: 20px;padding: 0;
    border-radius: 3px;
}

.box-category ul li ul li {
    padding: 0px 0px 0px 15px;
}
.box-category ul ul{margin-bottom: 20px;}
.box-category ul ul li a{padding:  3px 0;}

.box-category ul li ul li a:before{
    font-family: $FontAwesome;
    transition: all 0.3s ease;
	@include if-ltr {
        content: "\f105";
		margin: 0 5px 0 ;
    }
	@include if-rtl {
        content: "\f104";
		margin: 0 0 0 5px;
		float: right;
    }
}
.box-category ul li ul li a:hover:before{
    margin-right: 10px;
}

//---- MODULE BASIC PRODUCT -----------
.basic-product-list{
    .item-element {margin-bottom:20px;
        &:hover{
            .image{border-color: $background;}
        }
    }
    .image{
        float: $left;
        border: 1px solid $base-border-color;
        padding: 0;
        margin-#{$right}: 20px;

    }
    .caption{overflow: hidden;}
    h4{font-size: 15px;margin: 0 0 5px;
        a{@include linkGray();}
    }
}

//---- MODULE POPUPLAR TAG -------
.tag-button{
    a{
        @include buttonGraylighter();
        padding: 6px 10px;
        display: inline-block;margin: 0 4px 4px 0;
    }
}

//---- MODULE Extra Slider -------
div.so-extraslider.grid{border-#{$left}: 1px solid $base-border-color;
    @extend .releate-products;
    .extraslider-inner{border: none;padding: 0;}
    .owl2-dots .owl2-dot.active{background: $background;}
    div.owl2-controls{#{$right}:10px;
        .owl2-nav .owl2-next,
        .owl2-nav .owl2-prev{background:$white; border: 1px solid #a0a0a0; opacity: 1;}
    }
    
}

//====== 7.5. SO CATEGORY SLIDER =======
div.style-dev-so-listing-tabs{ position: relative;z-index: 2;
    h3.modtitle{ margin: 0;}
    .so-listing-tabs{margin: 0;
        .ltabs-tabs-container{margin: 0;}
        .wap-listing-tabs{border: none;}
        .product-layout .product-item-container{border: 1px solid $base-border-color;margin-left: -1px;
            .button-group{margin-bottom: 12px;}
        }
    }
   
    .owl2-controls{
        @include owl2-controls();
    }
    
    .list-sub-cat{
        border-width: 0 0 1px 1px;
        border-style: solid;
        border-color: #ddd;
        margin: 0 0 30px;
        li.item-cate{
            width: 10%;
            float: $left;
            border-width:  0 1px 0 0;
            border-color: $base-border-color;
            border-style: solid;
            text-align: center;
            padding: 10px 0;
            margin: 0;
            .ltabs-tab-img{
                margin: 0;
                float: none;
                height: auto;
                img{
                margin: 10px auto;
                background: none !important;
                }
            }
            
             .title-sub-cate{
                font-size: 13px;
                font-weight: bold;
                text-transform: capitalize;
                color: $gray;
            }
            &.tab-sel,&:hover{
                background: #eee;
                .title-sub-cate{color: $linkColor;}
            }
        }
    }
    
}

 .so-custom-default {
    .send-mail{
        background: transparent;
    }
    .show-error{
        display: block;
    }
}
//dev so tools

#so-groups div.nav-secondary li a:hover{
    color: $linkColor;
}
#so-groups div.nav-secondary>ul>li >a{
    &:hover{
        color: $linkColor;
    }
}

#so-groups .form-content .form-box input.field, #so-groups .form-content .form-box select.field{
    cursor: pointer;
}
#so-groups .form-content .form-box .product-thumb .button-group button,
#so-groups div.nav-secondary>ul>li >a{
    &:hover{
        color: $linkColor;
    }
}

#so-groups .form-content .form-box input.field, #so-groups .form-content .form-box select.field{
    cursor: pointer;
}

#so-groups.so-groups-sticky > a{
    background: $background;
    &:hover{
        background: $backgroundHover;
    }
}
#so-groups div.nav-secondary li span.nav-action{
    top: 6px;
}
#so-groups .form-content .form-box:hover{
    a .account-txt{color: $linkColor;}
}
#so-groups > a span{
    background: $backgroundHover;
}

#so-groups .popup-header,
#so-groups .cart-bottom p > a.btn-checkout,
#so-groups .form-content .form-box #button-search{
    background: $background;
     &:hover{
         background-color: darken($background,10%);
    }
}

//dev onepagecheckout
.so-onepagecheckout .secondary-title i.fa{
    background: $background;
}
.so-onepagecheckout .checkout-cart tbody tr:first-of-type td{
    white-space: inherit;
}
#so-checkout-confirm-button{
    background: $background;
    &:hover{
        background: #555;
    }
}
.so-custom-popup .popup-content .signup .send-mail, .so-custom-default .send-mail{
    background: transparent;
}

//dev login popup
body .block-popup-login .tt_popup_login strong{ background-color: $background;}
body .block-popup-login .action.login,
body .block-popup-login .block-content .btn-reg-popup{
    background-color: $background;
    &:hover{ background-color: darken($background,10%); }
}
body .block-popup-login .tt_popup_login strong:before{
        border-bottom: 37px solid $background;
}
body .block-popup-login .tt_popup_login{
    border-color: $background;
}