/*===============================================
	[SASS DIRECTORY ]
	
    [1] CONTENT PRODUCT OTHER
    [2] PRODUCT INFO
    [3] PRODUCT TABS 
    [3] RELATED PRODUCT 
	
==============================================*/

/*============CONTENT PRODUCT OTHER ==================*/

//Class ElevateZoom
.zoomContainer{z-index: 450;}
.lightSlider{padding: 0;}

.product-view .flexslider-thumb.not_full_slider{
    padding:0;
    margin-bottom:30px
}

.product_page_price {margin-bottom: 20px;
    .price-new{font-size: 32px; }
    .price-old{vertical-align: top;}
    .price-tax{margin-bottom: 10px;}
}


#tab-review{
    input[type=radio]{position: relative; top: 2px;}
    .contacts-form span{
        span.text-danger{margin-#{$right}: 15px; margin-top: 0;}
    }
    .form-group textarea{height: 150px;}
}
.product-view .content-product-left.class-honizol .full_slider,
.product-view .content-product-left.class-honizol .not_full_slider{padding: 0 30px;}

/*============PRODUCT INFO ==================*/
.product-view{
    margin-bottom: 30px;
    .content-product-left{
        
        .large-image {
            cursor: pointer;
            display: block;
            padding: 1px;
            overflow: hidden;
            position: relative;
            border: 1px solid #eee;
            .box-label{#{$left}:15px;}
        }
    	.thumb-video{
            bottom:10px;
            position:absolute;
            z-index:950;
            font-size:32px;
            #{$right}: 20px
        }
        .full_slider,
        .not_full_slider{
            margin-top: 10px;
            .thumbnail{
                border-radius: 0;margin-bottom: 0;
                &:hover{border-color: $linkColor;}
                &.active{border-color: $linkColor;}
            }
            .owl2-nav{ 
                div{
                    display: block;
                    width: 20px;
                    text-align: center;
                    background: #cccccc;
                    color: #fff;
                    z-index: 9;
                    cursor: pointer;
                    transition: 0.2s;
                    position: absolute;
                    height: 100%;
                    top: 0px;
                    .fa{
                        font-size: 20px;
                        @include transform(translateY(-50%));
                        position: relative;
                        top: 50%;
                        display: block;
                    }
                    &:hover{background: $background;}
                    &.owl2-prev{
                       left:0;
                    }
                    &.owl2-next{
                        right:0;
                    }
                    
                }    
            }   
        }
    }
    
    .content-product-right{overflow: hidden;
        .title-product h1{font-size: 24px;color: $gray-dark;}
        .box-review{ margin-bottom: 20px;
            .ratings{
                display: inline-block;
                margin: side-values(0 10px 0 0);
            }
            .reviews_button{
                @media (min-width:992px){
                    padding-#{$left}:25px;
                }
            }
            a{@include linkGray();}
        }
        .product-box-desc{
            padding: 10px 0;
            margin-bottom: 10px;
            border-top: 1px solid $gray-lighter;
            border-bottom: 1px solid $gray-lighter;
            margin: 20px 0 30px;
            font-size: 13px;
            span{
                min-width: 150px;
                font-weight: bold;
                display: inline-block;
            }
        }
    	.short_description{
            display: block;
        }
        
       
	    .countdown_box{
            position: static;margin: 0; @include transform(scale(1) translateX(0));width:100%;
            margin-bottom: 20px;
            @include breakpoint(lg){width:420px;}
    	    .countdown_inner{
               
    		    .title{
                    padding: 10px;
                    border-#{$right}: 1px solid rgba(255,255,255,0.2);
                    display: table-cell;
                    vertical-align: top;
                }
    	    }
	    }
        
	    h3{
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 600;
        }
        
        .box-info-product{float: $left; width: 100%;margin: 0 -10px 20px;
            .quantity .quantity-control{float: $left;margin: 0;padding: 0 10px 0;position: relative;
                label{    float: $left;
                        font-weight: 600;
                        margin: 0;
                        padding-#{$right}: 8px;
                        line-height: 36px;
                        text-transform: uppercase;}
                input.form-control{float: $left;height: 36px;line-height: 31px;margin: 0;margin-#{$right}: 17px;padding: 0 10px; width: 36px;border: 1px solid #ddd; border-radius: 0; z-index: 0;box-shadow: none;text-align: center;}
                span{border: 0 none;color: white;float: $left;font-size: 10px;font-weight: normal;margin-#{$left}: 5px; border-radius: 0; cursor: pointer;line-height: 16px;
                    &.product_quantity_up{background: none repeat scroll 0 0 #999;padding: 0 4px;position: absolute;#{$right}: 14px;top: 0;height: 18px;width: 16px;}
                    &.product_quantity_down{background: none repeat scroll 0 0 #999;font-size: 13px;padding: 0 4px;position: absolute;#{$right}: 14px;top: 18px;width: 16px;height: 18px;line-height: 15px;}
                    &:hover{background: $background1 !important;}
                }
            }
            .cart{float: $left;margin-#{$right}: 10px;border-radius: 4px;overflow: hidden;
                a{font-size: 12px; font-weight: bold; text-transform: uppercase;
                    i{margin-#{$right}: 5px;}
                }
                input{background: $background1; border-radius: 0; color: #fff; text-transform: uppercase; font-size: 13px; font-weight: bold; padding: 0 16px;height: 36px;
                    &:hover{background: #444;}
                }
            }
            .add-to-links {
                li.wishlist a{margin-#{$right}: 2px;}
                ul li a{display: inline-block;padding: 0 12px;font-size: 14px;margin: 0px 3px 0px; color: #999;line-height: 36px;height: 36px;border-radius: 4px;
                border: 1px solid #ddd;cursor: pointer;vertical-align: middle;transition: 0.6s all ease 0s; position: relative; float: $left;
                    &.text{display: none;}
                    &:hover{border-color: $linkColor; color: $linkColor;}
                }
                @include if-rtl{
                    .fa-chevron-right:before{content: "\f053";}
                }
            }
        }
    }
}

#product{margin-top: 30px;
    div.required .control-label:before {content: '* ';color: #F00;font-weight: bold;}
    .image_option_type{
        .product-options{
            display: inline-block;
        }
        
    }
    .control-label {font-weight: 600;margin-bottom: 5px;font-size: 14px;}
    .product-options{
        .img-thumbnail{width: 22px; height: 22px; border-radius: 0; padding: 1px;}
    }
   
    .radio-type-button {
        display: inline-block;
        vertical-align: top;
        width: auto;
        margin: 0 7px 5px 0px;
        padding: 0px;
        label{padding: 0; font-size: 14px;}
        input{visibility: hidden;}
        .option-content-box{
            background: #F3F4F6;
            display: block;
            text-align: center;
            border-radius: 4px;
            padding: 5px 10px;
            &.active,&.active:hover{background: #666;color: white;}
            &:hover{ background: #dadada;}
        }
        
    }
    .radio-type-button.option_image .option-name{display: none;}
    .option_image{
        label{padding: 0;}
        input{visibility: hidden;}
        .option-name{padding: 0 5px;}
        .option-content-box{padding: 1px;}
    }
    
    .box-date{padding-#{$left}: 0;
        label{margin-#{$right}: 10px; width: 80px;}
        input{width: 200px;}
        input, button{border-radius: 0; position: relative; z-index: 0; margin-#{$left}: 0;}
        .input-group-btn{float: $left;}
        button:hover{background: $background1; color: #fff;}
    }
    .icheckbox.checked:before,
    .iradio.checked:before {
        background-color: $background1;
        border-color:  $background1;
    }
    
    
}

//Thumbnail Vertical
.thumb-vertical-outer{
    width: 85px;
    position: relative;
    float: $left;
    margin-#{$right} : 20px;
    padding: side-values(20px 0);
    .lSAction{
        display: none!important;
    }
    .thumbnail{
        border-color: $base-border-color;
    }
    .btn-more{
        display: block;
        height: 20px; 
        width: 20px;
        line-height: 20px;
        color: #999999;
        background: transparent;
        text-align: center;
        position: absolute;
        font-size: 18px;
        cursor: pointer;
        margin-#{$left}: -10px;
        #{$left}: 50%;
        @include transition(all 0.3s ease-in-out);
        &:hover{
            color: $background1;
        }
        &.prev-thumb{
            top: -5px;
        }
        &.next-thumb{
            bottom: -5px;
        }
    }
	.prev{margin-bottom: 5px;}
        .prev,.next {cursor: pointer;
	&.disabled{visibility: hidden;}
	.fa{font-size: 16px;display: block;text-align: center;}
    }
    ul li{cursor: pointer;margin-bottom: 10px;
        
        .thumbnail{border-radius: 0;padding: 0;margin: 0;
            img{padding: 0px;-webkit-transition: all 0.3s ease;transition: all 0.3s ease; position: relative;}
            &:hover{border-color: $linkColor;}
            &.active{border-color: $linkColor;}
        }
    }
}

/*============PRODUCT TABS==================*/
.producttab .tabsslider{
    margin-bottom: 30px;
    padding: 0;
    .nav-tabs{
        li{
            margin: side-values(0 -1px -1px 0);
            border: 1px solid $base-border-color;
            list-style: none;
            cursor: pointer;
            float: $left;
            font-size: 16px;
            text-transform: uppercase;
            a{
                font-weight: 600;
                border: none;
                padding: 0;
                color: $gray;
                padding: 9px 30px;
                 margin: 0;
                border-radius: 0;
            }
            &.active,
            &:hover{
                border-color:$background1;;
                a{ color: #fff;background: $background1;}
                
            }
        }
    }
    .tab-content{
        padding: 20px;
        display: block;
        margin: 0;
        border-style: solid;
        margin-top: -1px;
        border-width: side-values(1px);
        border-color: #e6e6e6;
       
    }
}

.producttab .tabsslider.vertical-tabs {
    border: 1px solid #e6e6e6;
    padding: 0;
    border-bottom: 1px solid #ddd;
    ul.nav-tabs{
        border-bottom: medium none;
        margin: 0;
        min-height: 180px;
        padding: 0;
        li{
            border: none;
            border-bottom: 1px solid #ddd;
            clear: both;
            position: relative;
            width: 100%;
            padding: 5px 0;
            border-#{$right}: none;
            &:hover{border-color: #ddd;
                a{ background: transparent;}
            }
            &:last-child{ border: none;}
           
            &:before{
                content: "";
                width: 5px;
                height: 100%;
                #{$left} : -1px;
                position: absolute;
                top: 0;
                @include transition (all 0.3s ease-in-out 0s);z-index: 99;
            }
            &:hover{ border-#{$left}-color: $linkColor;
                a{ color: $linkColor;}
                &:before{background-color: $background1;}
            }
            &.active{border-left-color: $linkColor;
                &:before{ background-color: $background1;}
                a{
                    background: transparent;
                    color: $linkColor;
                }
            }
           
           
        }
    }
    .tab-content{border: 0; border-#{$left} : 1px solid #e6e6e6; min-height: 200px;}
}

#product-accordion{border: 1px solid #ddd; border-top: 4px solid $linkColor;
    .panel{padding: 0 20px 0 20px; border-bottom: 0; box-shadow: none; margin: 0;
        .panel-heading{border-bottom: 1px solid $gray-lighter; padding: 0 0 10px 0;
            a{text-transform: uppercase; font-weight: bold;  margin: 0;color: $textBody;width: 100%; display: inline-block;position: relative;
                &.title-head.collapsed{color: $textBody;
                     span.arrow-up:before{content: "\f077";}
                }
                &.title-head{color: $linkColor;
                    span.arrow-up:before{content: "\f078";}
                }
                span.arrow-up{display: block;position: absolute;#{$right} : 0;top: -2px; cursor: pointer;z-index: 10; font-size: 0; text-align: center;
                    &:before{content: "\f078";font-family: $FontAwesome;display: block; vertical-align: middle;width: 30px; height: 30px;line-height: 30px;font-size: 14px;}
                }
                
            }
            &:hover{
                a{color: $linkColor;}
            }
        }
        &:first-child .panel-heading{padding-top: 10px;}
        &:last-child .panel-heading{border-bottom: 0;}

    }
    .panel-heading+.panel-collapse>.list-group, .panel-heading+.panel-collapse>.panel-body{ border: none; padding: 15px 0;}
}

/*============RELATED PRODUCT==================*/
.releate-products{
    .owl2-controls {
        position: absolute;
        top: -34px;
        #{$right}: 0;
        display: inline-block;
        .owl2-nav .owl2-next,
        .owl2-nav .owl2-prev{
            border: 1px solid #ddd;
            margin: 0 3px;
            height: 25px;
            width: 25px;
            line-height: 23px;
            border-radius: 50%;
            text-align: center;
            font-size: 16px;
            display: inline-block;
            float: left;
            &:hover{
                border-color: $background;
                color: $linkColor;
            }
        }
        
    }
    
    @extend .basic-product-list;
    .modtitle{margin-bottom:20px;}
    .item-element{ border: 1px solid $base-border-color; border-bottom: none; padding: 15px 15px 0; margin: 0;
        &:last-child{border: 1px solid $base-border-color;}
    }
   
    .image{width:100px;border: none;}
    .releate-products-slider{position: relative;z-index: 2;}
}



