/*===============================================
	[SASS DIRECTORY ]
	
    [1] BOX SALE,NEW
    [2] RATE
    [3] TODAY'S DEALS
    [4] PRODUCT CATEGORY
    [5] TOOLBAR
    [6] PRODUCT LIST SIMPLE
    [7] PRODUCT LIST  MASONRY
==============================================*/

/*============ BOX SALE,NEW ==============*/
.box-label{
     @include label-product(
        $style : round, 
        $position  : top 10px #{$left} 10px, 
        
    );
 }
 
.box-label_skew{
     @include label-product(
        $style : skew, 
        $position  : top 0px #{$left} 0px, 
        
    );
}
.layout-2{
     .box-label_skew .label-product{top:-17px;}
     .box-label_skew .label-product.label-sale{left:-47px;}
     .box-label_skew .label-product.label-new{right:-47px;}
}


.product-options{
    label{padding:0;color: #666;}
    .label{font-weight: normal;font-size: 11px;}
    .radio{position: relative;z-index: 2;  text-transform: capitalize; cursor: pointer;
	.fa{display: none;}
    }
   
    .active .fa{display: block;}
    .fa{position: absolute;top: 0;#{$left} : 0;z-index: 2;width: 22px;height: 22px; color: white;line-height: 22px;text-align: center;}
}

/*============ BOX RATE ==============*/
.rating,
.ratings{font-size: 13px;margin-bottom: 5px;
    span.fa-stack{
        .fa-star-o:before{content: "\f006"; color: #eca330;}
        .fa-star.fa-stack-1x{ z-index: 1;
            &:before{content: "\f005";color: #ebdb2c;}
        }
    }
}
span.fa-stack{width: 14px; height: 14px; line-height: 14px;
    .fa-star-o:before{content: "\f006"; color: #eca330;}
    .fa-stack-2x{font-size: 1em;}
    .fa-star.fa-stack-2x{position: relative; z-index: 1;
	&:before{content: "\f005";color: #ebdb2c;}
    }
    
}
.price{margin: 0 0 10px 0; line-height: 24px;
    .price-old{font-size: 14px;line-height: 20px;padding: 0 5px;display: inline-block; text-decoration: line-through; color: #9a9a9a; }
    .price-new, span.price{color: #ea3a3c; font-size: 18px; font-weight: 600;vertical-align: top;}
}


/*====================TODAY'S DEALS ====================*/
.countdown_box{ 
    position: absolute;
    top: 50%;margin-top: -28px;
    left: 50%;
    width:190px;
    @include transition(all 0.3s ease-in-out);
    @include transform(scale(1) translateX(-50%));
   
        .countdown_inner{display: table; background: $gray; width:100%; text-align: center;}
        .title {border-bottom: 1px solid rgba(255,255,255,0.2); color: #fff;padding: 8px; display: none; }
        .time-item{display:inline-block;  color: #fff;font-size: 12px;border-#{$right}: 1px solid rgba(255,255,255,0.2); width:25%;
        .num-time{font-size: 14px;font-weight: 700;background: rgba(255,255,255,0.06)}
        .num-time,.name-time{padding: 0  10px;}
        &:last-child{border: none;}
    }
}

.deals_module_wrapper {
    .product-item-container{border: 1px solid #e6e6e6;padding: 20px ;overflow: hidden;
          .left-block{position: relative;z-index: 2;}
          .box-label .label-product{margin-#{$left}: 15px;}
    }
    button.btn-default{
        @include buttonGray();
       
    }
    .price .price-new{font-size: 26px;}
    
    .product-box-desc{margin-top:5px;
        span{min-width: 100px;display: inline-block;  }
        .status-stock{  color: #5dbe45;}
    }
    .title-product{font-size: 18px;margin-bottom: 10px;}
    .title-product a{@include linkGray();}
    .short_description {margin: 10px 0;}
    .countdown_box{
        position: static;
        @include transform(scale(1) translateX(0));
        margin: -50px auto 0;
        width:210px;
    }
    
    .owl2-controls{position: absolute;z-index: 1;#{$right}: 0;top: -35px;
        .owl2-prev,.owl2-next{vertical-align: top;margin: 0 3px;
            @include buttonGraylight();
            float: left;
            padding: 3px 10px;
            line-height: 20px;
            font-size: 18px;
        }
    }
}

/*====================PRODUCT CATEGORY ====================*/
.products-category .filter_group{width: 25%;display: inline-block;vertical-align: top;}
.title-category{font-size: 18px;margin-top: 10px;color: $gray;}

.refine-search{
    .thumbnail{margin-bottom: 10px;}
    a{@include linkGray(); display: block;}
}
	
/*TOOLBAR LISTING TOP*/
#content.col-sm-6 .product-compare{display: none;}
.filters-panel{
	margin-bottom: 30px; padding: 5px; border: 1px solid #ddd;
    @include clearfix();
    &.product-filter-bottom{margin-top: 30px;}
    .pagination{margin: 0;}
    .list-view{
           
        button.btn{border-radius: 0; padding: 3px 7px; color: #666;    border: 1px solid #ccc; background: none;
            &.active{background: $background1; color: #fff; border-color: $linkColor; box-shadow: none;
            &:hover{background: $background1; color: #fff;}
            }
            &:hover{color: $linkColor; background: transparent; border-color: $linkColor;}
            &:focus{border-radius: 0; border-color: $linkColor; outline: none;}
        }
        .fa{margin: 0;}
    }
    label{font-size: 12px;font-weight: normal;}
    .btn-default{@include buttonGraylighter(); font-size: 13px;}
    .form-control,.btn{height: 28px;padding: 5px 15px;}
}

.box-pagination{
    .pagination > li span, .pagination > li a{padding: 0; width: 27px; height: 28px; line-height: 28px; text-align: center;}
    .pagination{
		display: block;
	}
}

/*================ PRODUCT LIST ===================*/
//Fixed second_img Product grid Columns (1,2) 
.product-layout {
	.second_img .img_0{
		right: 50%; top:0;
          transform: translate(50%, 0);
          }
}

.products-category .products-list.grid{
     border-#{$left}: 1px solid #ddd;border-top: 1px solid #ddd;
    &:after{
        content: "";
        height: 1px;
        width: 100%;
        background: #ddd;
        #{$left}: 0;
        bottom: 0;
        position: absolute;
        display: block;
    }
    &:before{
        content: "";
        height: 100%;
        width: 1px;
        background: #ddd;
        #{$right}: 0;
        bottom: 0;
        position: absolute;
        display: block;
    }
        
}
.button-group{margin: 0 0 15px 0;
    .addToCart{position: relative;border: 1px solid $base-border-color;background: white;font-size: 12px;font-weight: 600; text-transform: uppercase; padding: 0 13px; border-radius: 4px;z-index: 2;
       line-height: 34px;  vertical-align: middle;@include transition(all 0.3s ease-in-out);
        &:hover{background: $background1; color: #fff; border-color: $linkColor;}
    }
    .wishlist,.compare{ 
    vertical-align: middle;background: white; border-radius: 0;border: 1px solid $base-border-color; min-width: 36px;;
    height: 36px; text-align: center;color: #999;border-radius: 3px;
    @include transition(all 0.3s ease-in-out);
        &:hover{border-color: $linkColor; color: #fff;background: $background1;}
    }
}
.products-list{
    .product-layout{
	   .left-block{position: relative;text-align: center;
            .product-image-container{
                img{display: inline-block;}
                &.second_img .img_0{
                    position: absolute;
                    z-index: 8;
                    @include transition(all 0.3s ease-in-out);
                    opacity: 0;
                }
		    }
	    }
        .description {margin-bottom: 20px;}
        .quickview{
            cursor: pointer;
            display: block;
            text-align: center;
               box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16);
            font-size: 13px;
            height: 40px;
            width: 40px;
            line-height: 40px;
		    padding:0;
            position: absolute;
            top: 50%;
            border-radius: 50%;
            left: 50%;
            overflow: hidden;
           background: $background1; color: #fff; 
            @include transform(translate(-50%,-100%));
            @include transition(all 0.3s ease-in-out 0s);
            
			&:hover{background: $gray; }
		}
        
        .caption{
            h4{margin: 0 0 5px;font-size: 14px;}
			a{font-weight: bold;  @include linkGray();}
	    }
        
        &:hover{
            .quickview{
                z-index: 99;
                transform: translate(-50%,-50%);
            }
            
            .left-block .countdown_box {
                z-index: 99;
                display: block;
                opacity: 0;
                
		    }
            .right-block .caption h4 a{color: $linkColor;}
            .button-group{
               //@include button-group-hover(); //file theme_mixin
            }
        }
    }
    
    /*----------------PRODUCT LIST GRID ------------------*/
    &.grid{margin: 0;display: inline-block;position: relative;width:100%;z-index: 2; clear: both;vertical-align: top;
          
          .product-layout{padding: 0;text-align: center; display: block;
		    .product-item-container{
                padding:10px;
                border-width: side-values(0 1px 1px 0);
                border-style: solid;
                border-color: #ddd;
                overflow: hidden;
                @include transition(all 0.2s ease-in-out 0s);
                
                .left-block{
                    .product-image-container{margin-bottom: 15px;}
                    .quickview{top: 20%; opacity: 0; }
                }
                .button-group{margin-bottom: 10px;
                   @include button-group();
                }
                &:hover{
                    box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.07) inset ;
                    @include transition(all 0.3s ease-in-out 0s);
                    .left-block{
                        .quickview{top: 46%; opacity: 1;}
                        .product-image-container.second_img .img_0{top: 0; opacity: 1; z-index: 0;}
                    
                    }
                    .button-group{
                        @include button-group-hover(); //file theme_mixin
                    }
                    }
               }
            
		    
		}
          
          /*----------------PRODUCT GRID - HOME 2   ------------------*/
          .product-style2{
               .product-layout .product-item-container{padding: 0; border-width: 1px;overflow: hidden;
                    &:hover{box-shadow: none;
                         ul.list-inline{opacity: 1; @include transition(all 0.4s ease-in-out);}
                         .btn-wishlist{@include transform(translateX(0px))}
                         .btn-compare{@include transform(translateX(0px))}
                    }
                    .product-image-container{margin-bottom: 15px;border-bottom: 1px solid $base-border-color;}
                    .box-label .label-product{top: -20px;}
                    .box-label .label-product.label-new{#{right}: -50px;}
                    .box-label .label-product.label-sale{#{left}: -50px;}
                    ul.list-inline{ position: absolute;top: 50%;left: 50%;  @include transform(translate(-50%,-50%));z-index: 30; display: block;opacity: 0;
                         li{vertical-align: top; padding: 0;float: $left; border-#{$right}: 1px solid $base-border-color; @include transition(all 0.25s ease-in-out);
                              &:last-child{border: none;}
                              a,button{
                                   @include buttonGraylighter();
                                   border-radius: 0;
                                   background: $white;
                                   border: none;
                                   color:$gray;
                                   padding: 0;
                                   width:40px;height: 40px; 
                                   
                              }
                         }
                    }
                    .button-group {margin-bottom: 30px;
                         .addToCart{border-radius: 0;}
                    }
                    .btn-wishlist{@include transform(translateX(40px))}
                    .btn-compare{@include transform(translateX(-40px))}
                    .so-quickview{position: relative;z-index: 5;}
                    .quickview{
                         position: static;opacity: 1;
                         @include transform(translate(0,0));
                         border-radius: 0;
                         box-shadow: none;
                    }
                    
               }
          }
    }
    /*----------------PRODUCT LIST  ------------------*/
    &.list{
        .caption h4{font-size: 16px;}
          .button-group{font-size: 0;}
        .button-group .wishlist,
        .button-group .compare{
            opacity: 1;
            font-size: 12px;
               margin: 0 4px;
            transform: translateX(0);
           
        }
        .product-layout{ 
            .product-item-container{
              	border: 1px solid $base-border-color;
                overflow: hidden;
                margin-top: -1px;
                .left-block{
                    .quickview{opacity: 0; }
                }
                .right-block{padding: 20px 15px; }
                
                &:hover{
                    
                    .left-block{
                         .product-image-container.second_img .img_0{top: 0; opacity: 1; z-index: 0;}
                        border: none;
                        .quickview{opacity: 1;@include transition(all 0.3s ease-in-out 0s); background: $background1; color: #fff; border-color: $linkColor;
                            &:hover{background: #444; border-color: #444;}
                        }
                    }
                   
                }
            }
          
        }
    }   
}

 /*SIDEBAR LISTING , PRODUCT - RESPONSIVE*/
 #remove-sidebar{
    display: none;
}
.open-leftsidebar {
    line-height: 25px;
    display: inline-block;
    border: 2px solid #999;
    margin-bottom: 20px;
    padding: 0px 15px;
    letter-spacing: 1px;
    font-size: 10px;
    text-transform: uppercase;
}
.open-rightsidebar {
    line-height: 25px;
    display: inline-block;
    border: 2px solid #999;
    margin-bottom: 20px;
    padding: 0px 15px;
    float: $right;
    letter-spacing: 1px;
    font-size: 10px;
    text-transform: uppercase;
}
@media only screen and (max-width: 992px){
    body.open-sboff {
        height: 100%;
        overflow: hidden;
    }
    .product-detail .sidebar-overlay,
     .page-category .sidebar-overlay {
        background: rgba(0,0,0,0.5);
        display: none;
        height: 100%;
        opacity: 1;
        position: fixed;
        top: 0;
        left: 0px;
        right: 0px;
        width: 100%;
        z-index: 9998;
    }
     .product-detail .content-aside,
    .page-category .content-aside {
        padding-left: 15px !important;
        padding-right: 10px !important;
        background: #fff;
        width: 300px;
        position: fixed;
       // left: -100%;
        top: 0px;
        bottom: 0px;
        z-index: 9999;
        height: 100%;
        overflow-x: scroll;
        box-shadow: 0 0 5px 0 rgba(50,50,50,0.75);
        transition: all 300ms ease-in-out;
        padding-top: 30px;
        margin: 0px;
         &.active.right_column {
            #{$right}: 0;
             #remove-sidebar{
                display: block;
                margin-bottom: 15px;
                 text-align: $left;
            }
        }
        &.active.left_column {
            #{$left}: 0;
            #remove-sidebar{
                display: block;
                margin-bottom: 15px;
                text-align: $right;
            }
        }
       
        &.right_column{
            #{$right}: -100%;
            #{$left}: inherit;
        }
         &.left_column{
            #{$left}: -100%;
            #{$right}: inherit;
        }
    }
}


/*============ QUICKVIEW ==============*/
.mfp-iframe-scaler iframe{
    padding: 20px 10px 10px 10px;
    height: 535px;
}
.box-label{
    z-index: 9;
}
#product-quick{
    .product-view .content-product-left.class-honizol .full_slider,
     .product-view .content-product-left.class-honizol .not_full_slider{
        padding: 0;
     }

     .product-view .content-product-right .product-box-desc{
          padding: 15px;     border: 1px dotted #eee;     margin: 10px 0 10px; font-style: italic; color:#999;
               span{font-weight: normal;}
     }
     .list-unstyled{
        font-size: 13px;
        color: #666;
        font-weight: normal;
     }

    .product-view .content-product-left{
        .full_slider,
        .not_full_slider{
            margin-top: 0;
            .thumbnail{
                padding: 0;
                border: none;
            }
        }
        .owl2-nav{ 
                @include button-owl-style2(22px,#666); 
                div{
                    @include effect-block-show();
                    top: 50%;
                    &.owl2-prev{
                        #{$left}: 0;
                        #{$right}: inherit;

                    }
                    &.owl2-next{
                    #{$left}: inherit;
                    #{$right}: 0;
                      margin-right: 15px !important;
                      margin-left: 0 !important;

                    }
                    
                }    
            }
    }   
}

