<link href="view/javascript/aios/css/slidebars.css" rel="stylesheet">
<!--switchery-->
<link href="view/javascript/aios/js/switchery/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />
<!--jquery-ui-->
<link href="view/javascript/aios/js/jquery-ui/jquery-ui-1.10.1.custom.min.css" rel="stylesheet" />
<!--common style-->
<link href="view/javascript/aios/css/style.css" rel="stylesheet">
<link href="view/javascript/aios/css/style-responsive.css" rel="stylesheet">