<!-- <li>
    <a href="javascript:;" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
        <i class="fa fa-bell-o"></i>
        <span class="badge bg-warning">4</span>
    </a>

    <div class="dropdown-menu dropdown-title ">

        <div class="title-row">
            <h5 class="title yellow">
                You have 4 New Notification
            </h5>
            <a href="javascript:;" class="btn-warning btn-view-all">View all</a>
        </div>
        <div class="notification-list-scroll sidebar">
            <div class="notification-list mail-list not-list">
                <a href="javascript:;" class="single-mail">
                    <span class="icon bg-primary">
                        <i class="fa fa-envelope-o"></i>
                    </span>
                    <strong>New User Registration</strong>

                    <p>
                        <small>Just Now</small>
                    </p>
                    <span class="un-read tooltips" data-original-title="Mark as Read" data-toggle="tooltip" data-placement="left">
                        <i class="fa fa-circle"></i>
                    </span>
                </a>
                <a href="javascript:;" class="single-mail">
                    <span class="icon bg-success">
                        <i class="fa fa-comments-o"></i>
                    </span>
                    <strong> Private message Send</strong>

                    <p>
                        <small>30 Mins Ago</small>
                    </p>
                    <span class="un-read tooltips" data-original-title="Mark as Read" data-toggle="tooltip" data-placement="left">
                        <i class="fa fa-circle"></i>
                    </span>
                </a>
                <a href="javascript:;" class="single-mail">
                    <span class="icon bg-warning">
                        <i class="fa fa-warning"></i>
                    </span> Application Error
                    <p>
                        <small> 2 Days Ago</small>
                    </p>
                    <span class="read tooltips" data-original-title="Mark as Unread" data-toggle="tooltip" data-placement="left">
                        <i class="fa fa-circle-o"></i>
                    </span>
                </a>
                <a href="javascript:;" class="single-mail">
                    <span class="icon bg-dark">
                       <i class="fa fa-database"></i>
                    </span> Database Overloaded 24%
                    <p>
                        <small>1 Week Ago</small>
                    </p>
                    <span class="read tooltips" data-original-title="Mark as Unread" data-toggle="tooltip" data-placement="left">
                        <i class="fa fa-circle-o"></i>
                    </span>
                </a>
                <a href="javascript:;" class="single-mail">
                    <span class="icon bg-danger">
                        <i class="fa fa-warning"></i>
                    </span>
                    <strong>Server Failed Notification</strong>

                    <p>
                        <small>10 Days Ago</small>
                    </p>
                    <span class="un-read tooltips" data-original-title="Mark as Read" data-toggle="tooltip" data-placement="left">
                        <i class="fa fa-circle"></i>
                    </span>
                </a>

            </div>
        </div>
    </div>
</li> -->