<!-- <li class="d-none">
    <a href="javascript:;" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
        <i class="fa fa-tasks"></i>
        <span class="badge bg-success">9</span>
    </a>

    <div class="dropdown-menu dropdown-title">
        <div class="title-row">
            <h5 class="title green">
                You have 9 task
            </h5>
            <a href="javascript:;" class="btn-success btn-view-all">View all</a>
        </div>
        <div class="notification-list task-list">
            <a href="javascript:;">
                <span class="icon ">
                    <i class="fa fa-paw green-color"></i>
                </span>
                <span class="task-info">
                Smith Doe
                <small> Assigned new task 10 min ago</small>
                    </span>
            </a>
            <a href="javascript:;">
                <span class="icon ">
                    <i class="fa fa-line-chart blue-color"></i>
                </span>
                <span class="task-info">Anthony Jones
                <small> Done 60% of his task</small>

                <div class="progress progress-striped">
                    <div style="width: 66%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="66"
                         role="progressbar" class="progress-bar progress-bar-info"></div>
                </div>

                </span>
            </a>
            <a href="javascript:;">
                <span class="icon ">
                    <i class="fa fa-heart purple-color"></i>
                </span>
                <span class="task-info">Tawseef
                <small> Like your task 10 min ago</small>
                    </span>

            </a>
            <a href="javascript:;">
                <span class="icon ">
                    <i class="fa fa-check green-color"></i>
                </span>
                <span class="task-info">Anjelina Gomez
                <small>completed his task Yesterday</small>
                    </span>
            </a>
            <a href="javascript:;">
                <span class="icon ">
                    <i class="fa fa-comments-o"></i>
                </span>
                <span class="task-info">Franklin Anderson
                <small>commented on your task 3 Days ago</small>
                </span>
            </a>
        </div>
    </div>
</li> -->