/*******************************************************
  Style Color
********************************************************/
@import 'bourbon/bourbon';


.no-margin{margin: 0 !important;}

//===== Minxin Link =======

@mixin link(){
	color: $linkColor;text-decoration: none;
	&:hover{color: lighten($linkColor, 10%);}
}
@mixin linkGrayDark(){
	color: $gray-dark;
	&:hover{color: $linkColor;}
}

@mixin linkGray(){
	color: $gray;
	&:hover{color: $linkColor;}
}
@mixin linkGraylighter(){
	color: $input-color-placeholder ;
	&:hover{color: $linkColor;}
}
@mixin linkGrayLight(){
	color: $base-border-color;
	&:hover{color: $linkColor;}
}
@mixin linkWhite(){
	color: $white;
	&:hover{color: $linkColor;}
}
//====== Minxin Buton =======
@mixin buttonGrayDark(){
	padding: 9px 20px; background: $gray-darker;color: #fff;   border-radius: 3px;border: none;
	&:hover{background: $background1; border-color: $linkColor;color: #fff; }
}

@mixin buttonGray(){
	padding: 9px 20px; background: $gray;color: #fff;  border-radius: 3px;border: none;
	&:hover{background: $background1; border-color: $linkColor;color: #fff; }
}

@mixin buttonGraylighter(){
	padding: 9px 20px;background: $gray-lighter;color: #333;  border-radius: 3px;border: none;
	&:hover{background: $background1; border-color: $linkColor;color: #fff; }
	
}
@mixin buttonGraylight(){
	@include buttonGray(); 
	background: $input-color-placeholder; 
	&:hover{background: $background;}
}

@mixin buttonColor(){
	@include buttonGray();
	background: $background; border-color: $background;
	&:hover{background: $gray;border-color: $gray;}
}
@mixin buttonColorLighten($opacity){
	@include buttonGray();
	background: $background; border: none;
	&:hover{background: lighten($background, $opacity);}
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

//====== Minxin Triangle  =======
// Size helper mixin
// ---
// @param [number] $width: width
// @param [number] $height ($width): height
// ---

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

// [Private] 
// Position helper mixin
// Article about it: http://hugogiraudel.com/2013/08/05/offsets-sass-mixin/
// ---
// @param [string] $position: position type
// @param [list] $args: list of offsets and values
// ---
@mixin _position($position, $args) {
  @each $o in top right bottom left {
    $i: index($args, $o);
    @if $i{
		@if $i + 1 <= length($args){
			@if type-of( nth($args, $i + 1) )== number {
				#{$o}: nth($args, $i + 1);
			}
			
		 }
      
    }
  }
  position: $position;
}

// Absolute positioning helper mixin
// Article about it: http://hugogiraudel.com/2013/08/05/offsets-sass-mixin/
// ---
// @param [list] $args: list of offsets and values
// ---
@mixin absolute($args) {
  @include _position(absolute, $args);
}

@mixin triangle($direction, $position, $color: currentColor, $size: 1em) {
  // Make sure the direction is valid
  @if not index(top right bottom left, $direction) {
    @warn "Direction must be one of top, right, bottom or left.";
  }

  @else {
    @include absolute($position); // Position
    @include size(0); // Size
    content: '';
    z-index: 2;

    border-#{$direction}: $size * 1 solid $color;
    $perpendicular-borders: $size solid transparent;
    
    @if $direction == top or $direction == bottom {
      border-left:   $perpendicular-borders;
      border-right:  $perpendicular-borders;
    }

    @else if $direction == right or $direction == left {
      border-bottom: $perpendicular-borders;
      border-top:    $perpendicular-borders;
    }
  }
}


//===== Minxin LABEL PRODUCT =======
@mixin label-product($style,$position){
    // Make sure the direction is valid
    @if not index(round skew, $style) {
      @warn "Direction must be one of top, right, bottom or left.";
    }@else {
       
        .label-product.label-new {background: $label-new;}
        
        @if $style == round {
			@include absolute($position); // Position
			z-index: 1;
			.label-product {
				padding: 0 11px;
				line-height: 25px;
				border-radius: 3px;
				display: block;
				margin-bottom: 5px;
				color: $white;
				font-size: 12px;
				font-weight: bold;
				text-transform: uppercase;
				background: $label-sale;
				min-width: inherit;
				
				@include transform(rotate(0deg));
			}
        }@else if $style == skew{
			font-size: 12px; color: #fff;font-weight: bold;line-height: 25px;text-align: center;
			.label-product{
				background: #ff7e00;
				top: -27px;
				height: 25px;
				min-width: 100px;
				position: absolute;
				text-transform: uppercase;
				z-index: 5;
		  }
		  .label-product.label-sale {
				#{left}: -60px;
				transform-origin: top right;
				@include transform(rotate(-45deg));
				background-color:$label-sale;
		  }
		  .label-product.label-new {
			  #{right}: -60px;
			  transform-origin: top left;
			  @include transform(rotate(45deg));
			  background-color: $label-new;
		  }
		}
  
    }
}

/*Dev Custom */
@mixin button-group(){font-size: 0;
	.wishlist,.compare{
		opacity: 0;z-index: 1;font-size: 12px;margin: 0 4px;
		@include transition(all 0.1s ease-in-out 0s);
	}
	.wishlist{
		@include transform(translateX(40px));
	}
	.compare{
		@include transform(translateX(-40px));
		
	}
}
@mixin button-group-hover(){
	.wishlist,.compare{
		@include transform(translateX(0px));
		opacity: 1;
		@include transition(all 0.3s ease-in-out 0s);
	}
	
	.addToCart{background: $background1; color: #fff; border-color: $linkColor;}
}
@mixin title-underline($size){
    h3.modtitle{font-size: 16px; border-bottom: $size solid #e6e6e6;margin: 0 0 30px;padding: 9px 0; text-transform: uppercase; font-weight: bold; position: relative;
        &:after{content:" "; width: 125px; height: $size; background: $background1; display: block; position: absolute; bottom: 0;margin-bottom: -$size; }  
    }
    
}
@mixin owl2-controls(){
	position: absolute;
	top: 0;
	#{$right}: 0;
	width: 100%;
	z-index: 45;
	.owl2-nav {
		div.owl2-prev{
			content: "\f104";
			top: 7px;
			@include if-ltr {#{$left}: auto; #{$right}: 37px;}
			@include if-rtl {#{$left}: auto; #{$right}: 7px;}
		}
		div.owl2-next{
			content: "\f105";
			top: 7px;
			@include if-ltr {#{$left}: auto; #{$right}: 7px;}
			@include if-rtl {#{$left}: auto; #{$right}: 37px;}
		}
		div.owl2-prev, div.owl2-next{
			height: 25px;
			width: 25px;
			font-family: $FontAwesome;
			border-radius: 25px;
			background: #fff;
			opacity: 1;
			border: 1px solid #a0a0a0;
			color: #a0a0a0;
			font-size: 0;
			margin: 0;
			padding: 0;
			text-align: center;
			&:before{
				font-size: 17px;
				line-height: 22px;
				text-align: center;
				
			}
			&:hover{
				border-color: $linkColor;
				color: $linkColor;
			}
		}
	}
}

.lib-list-item-product2{
		border: none;
		.image-dev{
			
			.list-button-dev{
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 10;
				transform: translate3d(-50%,-50%,0);
				-moz-transform: translate3d(-50%,-50%,0);
				-webkit-transform: translate3d(-50%,-50%,0);
				-ms-transform: translate3d(-50%,-50%,0);
				li{
					display: inline-block;
					float: left;
					height: 40px;
					width: 40px;
					background: #fff;
					position: relative;
					border-width: 0 1px 0 0;
					border-style: solid;
					border-color: #ddd;
					opacity: 0;
					transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
					&:nth-child(1){
						transform: translateX(40px);
						-moz-transform: translateX(40px);
						-webkit-transform: translateX(40px);
						-ms-transform: translateX(40px);
						z-index: 1;
						transition-delay: 0s;
					}
					&:nth-child(2){
						transition-delay: 0.2s;
						z-index: 2;
					}
					&:nth-child(3){
						transition-delay: 0.2s;
						z-index: 2;
					}
					&:nth-child(4){
						transform: translateX(-40px);
						-moz-transform: translateX(-40px);
						-webkit-transform: translateX(-40px);
						-ms-transform: translateX(-40px);
						z-index: 1;
						transition-delay: 0s;
					}
					&:first-child{border-left: 1px solid #ddd;}
					
					a, button{
						background: none;
						position: absolute;
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						line-height: 40px;
						text-align: center;
						box-shadow: none;
						border: none;
						color: $gray;
						width: 40px;
						padding: 0;
					}
					&:hover{
						
						background: $background1;
						a, button{
							color: #fff;
						}
					}
				}
			}
		}
		.caption-dev{
			text-align: center;
			padding: 0 15px;
			.rating-dev{
				margin: 5px 0;
				.fa-stack-2x{
					font-size: 11px;
				}
			}
			.title-dev{
				color: #444;
				font-size: 13px;
				
			}
			.price-dev{
				.price.product-price{font-size: 16px;}
				.price-new{font-size: 16px;}
				.price-old{font-size: 12px}
			}
			.add-cart-dev{
				background: #fff;
				border: 1px solid #ddd;
				font-size: 12px;
				text-transform: uppercase;
				color: #999;
				font-weight: bold;
				box-shadow: none;
				border-radius: 0;
				padding: 6px 20px;
				margin: 0 0 30px;
				@include transition(all 0.2s ease-in-out);

			}
		}
}

.lib-list-item-product-over2{
	
	.image-dev{
		
		.list-button-dev{
			li{
				
				opacity: 1;
				transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
				&:nth-child(1){
					transform: translateX(0);
					-moz-transform: translateX(0);
					-webkit-transform: translateX(0);
					-ms-transform: translateX(0);
					transition-delay: 0.2s;
				}
				&:nth-child(2){
					transition-delay: 0s;
				}
				&:nth-child(3){
					transition-delay: 0s;
				}
				&:nth-child(4){
					transform: translateX(0);
					-moz-transform: translateX(0);
					-webkit-transform: translateX(0);
					-ms-transform: translateX(0);
					transition-delay: 0.2s;
				}
			}
		}
	}
	
}

@mixin opacity($opacity) {
	opacity: $opacity;
	-webkit-opacity: $opacity;
	-moz-opacity: $opacity;
	-o-opacity: $opacity;
	-ms-opacity: $opacity;
	
}
@mixin border-radius($border-radius) {
	border-radius: $border-radius;
	-webkit-border-radius: $border-radius;
	-moz-border-radius: $border-radius;
	-o-border-radius: $border-radius;
	-ms-border-radius: $border-radius;
}

@mixin box-shadow($shadow) {
  -moz-box-shadow: $shadow; 
  -webkit-box-shadow: $shadow; 
          box-shadow: $shadow;
}
@mixin transition($transition) {
  transition: $transition;
  -moz-transition: $transition;
  -webkit-transition: $transition;
}

@mixin effect-block-show() {
  visibility: visible;
  @include opacity(1);
  @include transition(all 0.2s ease-in-out 0s);
  
}
@mixin effect-block-hide() {
  visibility: hidden;
  @include opacity(0);
  @include transition(all 0.2s ease-in-out 0s);  
}

@mixin button-owl-style2($fontsize,$color){	
      
      .owl2-prev,
      .owl2-next{
      	@include opacity(1);
        background-color: transparent;
        float: $left;
        margin-#{$left}: 15px;
        margin-#{$right}: 0 !important;
        &:before{


		     font-family: 'FontAwesome';
		    font-size: 22px;
		    color: #666;
		    position: absolute;
		    color: #666;
		    top: 0;
		    line-height: 50px;
		    left: 0;
		    text-align: center;
		    width: 30px;
		    height: 50px;

        }
        &:hover{
          background-color: transparent;
          &:before{
            color: $linkColor;
          }    
        }
        i{
        	display: none;
        }
      }
      .owl2-prev{
        margin-right: 15px; 
        
        &:before{
        	z-index: 999;
		  @include if-ltr{             
		  	content: "\f053"; 

		  }  
		  @include if-rtl {
		    content: "\f054"; 
		  }  
		}     
      }
      .owl2-next{
        &:before{
        	z-index: 999;
		  @include if-ltr{             
		  	content: "\f054"; 
		  }  
		  @include if-rtl {
		    content: "\f053"; 
		  }  
		}        
      }     
    
}